<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header *ngIf="pageWidth() < 576">
        <div class="row">
          <div class="col-2" style="padding-left: 0; padding-right: 0">
            <button
              nbButton
              fullWidth
              status="primary"
              (click)="invoiceDialog({})"
              style="height: 100%"
            >
              <nb-icon icon="plus"></nb-icon>
            </button>
          </div>
          <div class="col-10">
            <input
              nbInput
              [(ngModel)]="searchQuery"
              #code="ngModel"
              id="input-code"
              name="code"
              placeholder="Busque aqui..."
              fullWidth
              fieldSize="large"
            />
          </div>
        </div>
      </nb-card-header>
      <div
        *ngIf="invoices.length == 0; else table"
        [nbSpinner]="true"
        nbSpinnerStatus="primary"
        nbSpinnerSize="giant"
        style="width: 100%; height: 654px"
      ></div>
      <ng-template #table>
        <ng2-smart-table
          *ngIf="pageWidth() >= 576; else phone"
          #smartTable
          [settings]="settings"
          [source]="source"
          (edit)="invoiceDialog($event)"
          (create)="invoiceDialog({})"
          (delete)="generatePDF($event)"
        ></ng2-smart-table>
      </ng-template>
      <ng-template #phone>
        <nb-list>
          <nb-list-item *ngFor="let invoice of filtredInvoices">
            <a (click)="invoiceDialog({ data: invoice })">
              <div class="row">
                <div class="col-12" style="margin-bottom: 10px">
                  <nb-user
                    size="giant"
                    [name]="invoice.name"
                    [title]="invoice.code"
                    [picture]="invoice.author?.profilePicture"
                  ></nb-user>
                </div>
                <div class="col-6">
                  <p>
                    <nb-icon
                      icon="dollar-sign"
                      pack="fa"
                      status="success"
                    ></nb-icon>
                    <span style="vertical-align: 0.1em">
                      {{ invoice.value }}
                    </span>
                  </p>
                </div>
                <div class="col-6">
                  <nb-icon
                    icon="clock"
                    pack="fa"
                    [status]="statusColor(invoice.status)"
                  ></nb-icon>
                  <span style="vertical-align: 0.1em">
                    {{ invoice.status }}
                  </span>
                </div>
                <div class="col-12">
                  <nb-icon icon="user-tie" pack="fa" status="primary"></nb-icon>
                  {{ invoice.contractor.fullName }}
                </div>
              </div>
            </a>
          </nb-list-item>
        </nb-list>
      </ng-template>
    </nb-card>
  </div>
</div>
