::ng-deep th {
  &[ng2-st-actions-title] {
    width: 5%;
  }
}

::ng-deep {
  nb-card {
    overflow-x: auto;
    overflow-y: auto;
  }

  .pdf {
    font-size: 1.5rem;
  }

  .ng2-smart-action-delete-delete:hover {
    color: nb-theme(icon-danger-color) !important;
  }
}

:host ::ng-deep {
  .user-name {
    font-weight: bold;
  }
}
