@import '../@theme/styles/themes';

@include nb-install-component() {
  --layout-padding-top: 0;
  --sidebar-padding: -1.25rem;

  ::ng-deep {
    nb-menu {
      .menu-item {
        a {
          height: 48px;
        }

        .menu-icon {
          width: 1rem;
        }
      }
    }

    ng2-smart-table {
      table tr.selected {
        background-color: transparent !important;

        &:hover {
          background-color: nb-theme(smart-table-bg-active) !important;
        }
      }

      table tr th a {
        color: var(--smart-table-header-fg) !important;
      }

      .form-control {
        background-color: nb-theme(input-basic-background-color);
        border-color: nb-theme(input-basic-border-color);
        border-style: nb-theme(input-border-style);
        border-width: nb-theme(input-border-width);
        color: nb-theme(input-basic-text-color);
        font-family: nb-theme(input-text-font-family);

        &::placeholder {
          color: nb-theme(input-basic-placeholder-text-color);
          font-family: nb-theme(input-placeholder-text-font-family);
          text-overflow: ellipsis;
        }

        &:focus {
          outline: none;
          border-color: nb-theme(input-basic-focus-border-color);
          background-color: nb-theme(input-basic-background-color);
        }

        &:hover {
          border-color: nb-theme(input-basic-hover-border-color);
        }

        &:disabled {
          background-color: nb-theme(input-basic-disabled-background-color);
          border-color: nb-theme(input-basic-disabled-border-color);
          color: nb-theme(input-basic-disabled-text-color);

          &::placeholder {
            color: nb-theme(input-basic-disabled-placeholder-text-color);
          }
        }

        &.input-full-width {
          width: 100%;
        }
      }
    }
  }

  :host ::ng-deep {
    nb-sidebar nb-menu {
      margin: 0 var(--sidebar-padding) var(--sidebar-padding);
    }
  }

  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
