<ngx-one-column-layout>
  <nb-menu [items]="menu" tag="main" slot="main"></nb-menu>
  <nb-menu [items]="social" tag="social" slot="social"></nb-menu>
  <router-outlet></router-outlet>
</ngx-one-column-layout>
<ngx-fab icon="plus">
  <ngx-fab-item
    icon="file-invoice-dollar"
    pack="fac"
    content="Criar orçamento"
    iconTop="-3"
    (clicked)="openDialog(dialogTypes.INVOICE)"
  ></ngx-fab-item>
  <!-- TODO: ADD FUNÇÃO PARA ABRIR A OPÇÃO DE CADASTRO DE FORNECEDOR: (clicked)="openDialog(dialogTypes.)"-->
  <ngx-fab-item
    icon="plus"
    pack="fa"
    content="Cadastro de fornecedor"
  ></ngx-fab-item>
  <ngx-fab-item
    icon="person-add-outline"
    content="Cadastro de cliente"
    iconLeft="1"
    (clicked)="openDialog(dialogTypes.CLIENT)"
  ></ngx-fab-item>
  <!-- TODO: ADD FUNÇÃO PARA ABRIR A OPÇÃO DE TRANSFERÊNCIAS: (clicked)="openDialog(dialogTypes.)"-->
  <ngx-fab-item
    icon="money-bill-transfer"
    content="Transferências"
    pack="fac"
    iconTop="1"
  ></ngx-fab-item>
  <ngx-fab-item
    icon="minus"
    pack="fac"
    content="Transações"
    (clicked)="openDialog(dialogTypes.EXPENSE)"
  ></ngx-fab-item>
  <!-- TODO: ADD FUNÇÃO PARA ABRIR A OPÇÃO DE SAQUE: (clicked)="openDialog(dialogTypes.)"-->
  <ngx-fab-item
    icon="hand-holding-dollar"
    pack="fac"
    content="Saque"
  ></ngx-fab-item>
</ngx-fab>
