<ngx-one-column-layout>
  <nb-menu [items]="menu" tag="main" slot="main"></nb-menu>
  <nb-menu [items]="social" tag="social" slot="social"></nb-menu>
  <button  (click)="installPwa()" nbButton style="width: 100%" status="primary" tag = "pwa" slot="pwa">
    <nb-icon
    icon="download-outline"
    pack="eva"
    nbTooltip="Adicionar atalho da plataforma {{ company.companyName }} na área de trabalho"
    nbTooltipPlacement="top"
    nbTooltipStatus="primary"></nb-icon>
  </button>
  <router-outlet></router-outlet>
</ngx-one-column-layout>
<ngx-fab icon="plus">
  <ngx-fab-item
    icon="file-invoice-dollar"
    pack="fac"
    content="Criar orçamento"
    iconTop="-3"
    (clicked)="openDialog(dialogTypes.INVOICE)"
  ></ngx-fab-item>
  <!-- TODO: ADD FUNÇÃO PARA ABRIR A OPÇÃO DE CADASTRO DE FORNECEDOR: (clicked)="openDialog(dialogTypes.)"-->
  <ngx-fab-item *ngIf="false" icon="plus" pack="fa" content="Cadastro de fornecedor"></ngx-fab-item>
  <ngx-fab-item
    icon="person-add-outline"
    content="Cadastro de cliente"
    iconLeft="1"
    (clicked)="openDialog(dialogTypes.CLIENT)"
  ></ngx-fab-item>
  <!-- TODO: ADD FUNÇÃO PARA ABRIR A OPÇÃO DE TRANSFERÊNCIAS: (clicked)="openDialog(dialogTypes.)"-->
  <ngx-fab-item *ngIf="false" icon="money-bill-transfer" content="Transferências" pack="fac" iconTop="1"></ngx-fab-item>
  <ngx-fab-item *ngIf="false"
    icon="minus"
    pack="fac"
    content="Transações"
    (clicked)="openDialog(dialogTypes.TRANSACTION)"
  ></ngx-fab-item>
  <!-- TODO: ADD FUNÇÃO PARA ABRIR A OPÇÃO DE SAQUE: (clicked)="openDialog(dialogTypes.)"-->
  <ngx-fab-item *ngIf="false" icon="hand-holding-dollar" pack="fac" content="Saque"></ngx-fab-item>
  <ngx-fab-item
    icon="icon-file-csv"
    iconTop="-3"
    iconLeft="1"
    pack="fac"
    content="Relatórios"
    (clicked)="openDialog(dialogTypes.REPORT_MENU)"
  ></ngx-fab-item>
</ngx-fab>
