<form #form="ngForm" aria-labelledby="title">
  <div class="row">
    <div class="col-md-6">
      <div class="form-control-group">
        <label class="label" for="input-user">Autor:</label>
        <nb-completer
          [(ngModel)]="userSearch"
          (selected)="expense.author = $event"
          inputName="userListCompleter"
          #userList="ngModel"
          id="input-user"
          name="userList"
          placeholder="Digite e selecione o nome do colaborador"
          textNoResults="
          Não foi possível achar um colaborador com o nome digitado
          "
          fieldSize="large"
          nameProperty="fullName"
          pictureProperty="profilePicture"
          [data$]="userData"
          [minSearchLength]="0"
          [fullWidth]="true"
          [status]="
            userList.dirty
              ? userList.invalid
                ? 'danger'
                : 'success'
              : expenseIdx === undefined && userSearch !== ''
              ? 'success'
              : 'basic'
          "
          [attr.aria-invalid]="userList.invalid && userList.touched ? true : null"
        ></nb-completer>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-control-group">
        <label class="label" for="input-value">
          Valor:
          <nb-icon
            status="info"
            icon="info"
            pack="eva"
            [options]="{ animation: { type: 'pulse' } }"
            nbTooltip="Não será possível alterar o valor do gasto se ela já foi paga."
            nbTooltipPlacement="top"
            nbTooltipStatus="info"
          ></nb-icon>
        </label>
        <input
          nbInput
          [(ngModel)]="expense.value"
          #value="ngModel"
          id="input-value"
          name="value"
          placeholder="Valor do gasto"
          fullWidth
          fieldSize="large"
          [brmasker]="{
            money: true,
            thousand: '.',
            decimalCaracter: ',',
            decimal: 2
          }"
          ngxSelectAllText
          [required]="validation.value.required"
          [minLength]="validation.value.minLength"
          [maxLength]="validation.value.maxLength"
          [status]="
            value.dirty
              ? value.invalid
                ? 'danger'
                : 'success'
              : expense.value && expense.value !== '' && expenseIdx === undefined
              ? 'success'
              : 'basic'
          "
          [disabled]="expense.paid && expenseIdx !== undefined"
          [attr.aria-invalid]="value.invalid && value.touched ? true : null"
        />
        <ng-container>
          <p
            class="caption status-danger"
            *ngIf="value.errors?.required && value.invalid && (value.dirty || value.touched)"
          >
            O valor do gasto é obrigatório!
          </p>
          <p
            class="caption status-danger"
            *ngIf="
              (value.errors?.minlength || value.errors?.maxlength) && value.invalid && (value.dirty || value.touched)
            "
          >
            O valor do gasto deve conter entre
            {{ validation.value.minLength }} a
            {{ validation.value.maxLength }}
            números
          </p>
        </ng-container>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-control-group">
        <label class="label" for="input-nf">
          Com nota fiscal?
          <nb-icon
            status="info"
            icon="info"
            pack="eva"
            [options]="{ animation: { type: 'pulse' } }"
            nbTooltip="Caso possua NF, é nessário anexar um arquivo para cadastrar o gasto. Esse arquivo deve ter no máximo 4mb."
            nbTooltipPlacement="top"
            nbTooltipStatus="info"
          ></nb-icon>
        </label>
        <nb-select
          [(ngModel)]="expense.nf"
          #nf="ngModel"
          id="input-nf"
          name="nf"
          placeholder="nota fiscal?"
          fullWidth
          size="large"
          [required]="validation.nf.required"
          [status]="nf.dirty ? 'success' : expenseIdx === undefined ? 'success' : 'basic'"
          [attr.aria-invalid]="nf.invalid && nf.touched ? true : null"
        >
          <nb-option [value]="false">NÃO</nb-option>
          <nb-option [value]="true">SIM</nb-option>
        </nb-select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-control-group">
        <label class="label" for="input-source">Fonte de pagamento:</label>
        <nb-completer
          [(ngModel)]="sourceSearch"
          (selected)="expense.source = $event"
          inputName="sourceListCompleter"
          #sourceList="ngModel"
          id="input-source"
          name="sourceList"
          placeholder="Digite e selecione o nome do colaborador"
          textNoResults="
          Não foi possível achar um colaborador com o nome digitado
          "
          fieldSize="large"
          nameProperty="fullName"
          pictureProperty="profilePicture"
          [data$]="sourceData"
          [minSearchLength]="0"
          [fullWidth]="true"
          [status]="
            sourceList.dirty
              ? sourceList.invalid
                ? 'danger'
                : 'success'
              : expenseIdx === undefined && sourceSearch !== ''
              ? 'success'
              : 'basic'
          "
          [attr.aria-invalid]="sourceList.invalid && sourceList.touched ? true : null"
        ></nb-completer>
      </div>
    </div>
    <div
      [ngClass]="{
        'col-md-6': !(([expense.type] | transformPipe: configService.expenseSubTypes.bind(configService)).length > 0),
        'col-md-3': ([expense.type] | transformPipe: configService.expenseSubTypes.bind(configService)).length > 0
      }"
    >
      <div class="form-control-group">
        <label class="label" for="input-type">Categoria do gasto:</label>
        <nb-select
          [(ngModel)]="expense.type"
          (selectedChange)="handleTypeChange()"
          #type="ngModel"
          id="input-type"
          name="type"
          placeholder="Categoria do gasto"
          fullWidth
          size="large"
          [required]="validation.type.required"
          [status]="
            type.dirty ? 'success' : expenseIdx === undefined && type.value && type.value !== '' ? 'success' : 'basic'
          "
          [attr.aria-invalid]="type.invalid && type.touched ? true : null"
        >
          <nb-option *ngFor="let eType of types" [value]="eType">
            {{ eType }}
          </nb-option>
        </nb-select>
      </div>
    </div>
    <div *ngIf="subTypes.length > 0" class="col-md-3">
      <div class="form-control-group">
        <label class="label" for="input-subtype">Subcategoria do gasto:</label>
        <nb-select
          [(ngModel)]="expense.subType"
          #subtype="ngModel"
          id="input-subtype"
          name="subtype"
          placeholder="Subcategoria do gasto:"
          fullWidth
          size="large"
          [required]="true"
          [status]="subtype.dirty ? 'success' : expenseIdx === undefined && subtype.value !== '' ? 'success' : 'basic'"
          [attr.aria-invalid]="subtype.invalid && subtype.touched ? true : null"
        >
          <nb-option *ngFor="let subType of subTypes" [value]="subType">
            {{ subType }}
          </nb-option>
        </nb-select>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label class="label" for="input-provider">Fornecedor:</label>
        <nb-completer
          [(ngModel)]="providerSearch"
          (selected)="expense.provider = $event; forceValidatorUpdate(value)"
          inputName="providerListCompleter"
          #providerList="ngModel"
          id="input-provider"
          name="providerList"
          placeholder="Digite e selecione o nome do fornecedor"
          textNoResults="
          Não foi possível achar um fornecedor com o nome digitado
          "
          fieldSize="large"
          nameProperty="fullName"
          pictureProperty="profilePicture"
          [data$]="providerData"
          [minSearchLength]="0"
          [fullWidth]="true"
          [status]="
            providerList.dirty
              ? providerList.invalid
                ? 'danger'
                : 'success'
              : expenseIdx === undefined && providerSearch !== ''
              ? 'success'
              : 'basic'
          "
          [attr.aria-invalid]="providerList.invalid && providerList.touched ? true : null"
        ></nb-completer>
      </div>
    </div>
    <div class="col-12">
      <div class="form-control-group">
        <label class="label" for="input-description">Descrição:</label>
        <textarea
          nbInput
          [(ngModel)]="expense.description"
          #description="ngModel"
          id="input-description"
          name="description"
          placeholder="Descreva os detalhes do gasto"
          fullWidth
          fieldSize="large"
          [required]="validation.service.required"
          [minlength]="validation.service.minLength"
          [maxlength]="validation.service.maxLength"
          [status]="description.dirty ? (description.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="description.invalid && description.touched ? true : null"
        ></textarea>
        <ng-container *ngIf="description.invalid && description.touched">
          <p class="caption status-danger" *ngIf="description.errors?.required">O campo de descrição é obrigatório!</p>
          <p class="caption status-danger" *ngIf="description.errors?.minlength || description.errors?.maxlength">
            O campo de descrição deve conter entre
            {{ validation.service.minLength }} a
            {{ validation.service.maxLength }}
            caracteres
          </p>
        </ng-container>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="form-control-group">
        <label class="label" for="input-paidCheck">Pago?</label>
        <nb-select
          [(ngModel)]="expense.paid"
          #paidCheck="ngModel"
          id="input-paidCheck"
          name="paidCheck"
          placeholder="OE paga?"
          fullWidth
          size="large"
          (ngModelChange)="updatePaidDate()"
          [required]="validation.paidCheck.required"
          [status]="paidCheck.dirty ? 'success' : expenseIdx === undefined ? 'success' : 'basic'"
          [attr.aria-invalid]="paidCheck.invalid && paidCheck.touched ? true : null"
        >
          <nb-option [value]="false">NÃO</nb-option>
          <nb-option [value]="true">SIM</nb-option>
        </nb-select>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="form-control-group">
        <label class="label" for="input-paidDate">Data do pagamento:</label>
        <input
          *ngIf="!expense.paid; else withdate"
          nbInput
          [(ngModel)]="expense.paidDate"
          #paidDate="ngModel"
          id="input-paidDate"
          name="paidDate"
          placeholder="Escolha uma data"
          fullWidth
          fieldSize="large"
          [required]="validation.paidDate.required"
          [readonly]="true"
          [disabled]="!expense.paid"
          [status]="
            paidDate.dirty ? (paidDate.invalid ? 'danger' : 'success') : expenseIdx === undefined ? 'success' : 'basic'
          "
          [attr.aria-invalid]="paidDate.invalid && paidDate.touched ? true : null"
        />
        <ng-template #withdate>
          <input
            nbInput
            [(ngModel)]="expense.paidDate"
            #paidDate="ngModel"
            id="input-paidDate"
            name="paidDate"
            placeholder="Escolha uma data"
            fullWidth
            fieldSize="large"
            [nbDatepicker]="pDatepicker"
            [required]="validation.paidDate.required"
            [readonly]="true"
            [status]="
              paidDate.dirty
                ? paidDate.invalid
                  ? 'danger'
                  : 'success'
                : expenseIdx === undefined
                ? 'success'
                : 'basic'
            "
            [attr.aria-invalid]="paidDate.invalid && paidDate.touched ? true : null"
          />
          <nb-datepicker #pDatepicker [max]="today"></nb-datepicker>
        </ng-template>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="form-control-group">
        <label class="label" for="input-created">Data de criação:</label>
        <input
          nbInput
          [(ngModel)]="expense.created"
          #created="ngModel"
          id="input-created"
          name="created"
          placeholder="Escolha uma data"
          fullWidth
          fieldSize="large"
          [nbDatepicker]="cDatepicker"
          [required]="validation.created.required"
          [readonly]="true"
          [status]="
            created.dirty ? (created.invalid ? 'danger' : 'success') : expenseIdx === undefined ? 'success' : 'basic'
          "
          [attr.aria-invalid]="created.invalid && created.touched ? true : null"
        />
        <nb-datepicker #cDatepicker [max]="today"></nb-datepicker>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="form-control-group">
        <label class="label" for="input-updated">Última atualização:</label>
        <input
          nbInput
          [ngModel]="[expense.lastUpdate] | transformPipe: formatDate"
          #updated="ngModel"
          id="input-updated"
          name="updated"
          placeholder="Escolha uma data"
          fullWidth
          fieldSize="large"
          [required]="validation.lastUpdate.required"
          [readonly]="true"
          [status]="
            updated.dirty ? (updated.invalid ? 'danger' : 'success') : expenseIdx === undefined ? 'success' : 'basic'
          "
          [attr.aria-invalid]="updated.invalid && updated.touched ? true : null"
        />
      </div>
    </div>
    <div class="col-md-12" *ngIf="uploadedFiles.length > 0">
      <div class="form-control-group">
        <label class="label" for="input-description">Comprovantes anexados:</label>
        <nb-list>
          <nb-list-item *ngFor="let file of uploadedFiles; let i = index">
            <div class="row irow" style="width: 100%">
              <div class="col-10 col-md-11">
                <div class="irow row">
                  <div class="col-1">#{{ +i + 1 }}</div>
                  <a [href]="file.url" class="col" target="_blank" style="width: 100%; cursor: pointer; display: flex">
                    {{ file.name }}
                  </a>
                </div>
              </div>
              <div class="col-2 col-md-1" style="text-align: right">
                <nb-icon
                  class="xIcon"
                  status="danger"
                  icon="trash-2-outline"
                  pack="eva"
                  (click)="removeFile(i, folderPath)"
                  [options]="{ animation: { type: 'shake' } }"
                ></nb-icon>
              </div>
            </div>
          </nb-list-item>
        </nb-list>
      </div>
    </div>
    <div class="col-md-12" *ngIf="expense.nf && form.valid">
      <nb-file-uploader
        [options]="uploaderOptions"
        [isFileDrop]="true"
        (filesList)="urlReceiver($event)"
        dropAreaLabel="Arraste seu comprovante aqui ou"
        dropAreaFileChooserLabel="escolha um arquivo"
      ></nb-file-uploader>
    </div>
  </div>
</form>
<div class="row">
  <div
    [ngClass]="{
      'col-12': expenseIdx !== undefined,
      'col-6': expenseIdx === undefined
    }"
  >
    <button
      nbButton
      fullWidth
      status="primary"
      size="large"
      [disabled]="!form.valid || (expense.nf && uploadedFiles.length == 0)"
      (click)="registerExpense()"
    >
      {{ expenseIdx !== undefined ? 'Atualizar' : 'Adicionar' }}
    </button>
  </div>
  <div class="col-6" *ngIf="expenseIdx === undefined">
    <button
      nbButton
      fullWidth
      status="success"
      size="large"
      [disabled]="!form.valid || (expense.nf && uploadedFiles.length == 0)"
      (click)="addAndClean()"
    >
      Adicionar Outro
    </button>
  </div>
</div>
