<input
  #autoInput
  nbInput
  [status]="status"
  [fullWidth]="fullWidth"
  [fieldSize]="fieldSize"
  [ngModel]="searchStr"
  (ngModelChange)="onModelChange($event)"
  (blur)="onBlur()"
  #inputCompleter="ngModel"
  [attr.name]="inputName"
  [attr.maxlength]="maxChars"
  [disabled]="disabled"
  [placeholder]="placeholder"
  [nbTooltip]="tooltipFunction(this.inputObject)"
  [nbTooltipTrigger]="isPhone || tooltipFunction(this.inputObject) == '' ? tooltipTriggers.NOOP : tooltipTriggers.HINT"
  nbTooltipPlacement="top"
  nbTooltipStatus="primary"
  nbTooltipAdjustment="noop"
  type="text"
  autocomplete="off"
  [focusInputOnValueChange]="false"
  [nbAutocomplete]="autoNgModel"
/>

<nb-autocomplete #autoNgModel (selectedChange)="onSelect($event)">
  <nb-option *ngIf="searchActive && displaySearching" class="completer-searching">
    {{ textSearching }}
  </nb-option>
  <nb-option *ngIf="!searchActive && (!data$ || (filteredDataIsEmpty$ | async))" class="completer-no-results">
    {{ textNoResults }}
  </nb-option>
  <nb-option
    class="completer-row-wrapper"
    *ngFor="let item of filteredData$ | async; let rowIndex = index"
    [value]="item"
    [nbTooltip]="tooltipFunction(item)"
    [nbTooltipTrigger]="
      isPhone || tooltipFunction(this.inputObject) == '' ? tooltipTriggers.NOOP : tooltipTriggers.HINT
    "
    nbTooltipPlacement="top"
    nbTooltipStatus="primary"
    nbTooltipAdjustment="noop"
  >
    <div class="completer-row row">
      <div *ngIf="showAvatar" class="col" class="completer-image-holder">
        <nb-user
          class="completer-image"
          [onlyPicture]="true"
          [name]="item[nameField]"
          [picture]="item[pictureField]"
        ></nb-user>
      </div>
      <div class="col" style="display: flex; align-items: center">
        {{ item[nameField] }}
      </div>
    </div>
  </nb-option>
</nb-autocomplete>
