<div class="completer-holder" ctrCompleter>
  <input
    nbInput
    ctrInput
    [status]="status"
    [fullWidth]="fullWidth"
    [fieldSize]="fieldSize"
    [clearSelected]="clearSelected"
    [overrideSuggested]="overrideSuggested"
    [fillHighlighted]="fillHighlighted"
    [openOnFocus]="openOnFocus"
    [openOnClick]="openOnClick"
    [selectOnClick]="selectOnClick"
    [selectOnFocus]="selectOnFocus"
    [(ngModel)]="searchStr"
    #inputCompleter="ngModel"
    [attr.name]="inputName"
    [attr.maxlength]="maxChars"
    [tabindex]="fieldTabindex"
    [disabled]="disableInput"
    (blur)="onBlur()"
    (focus)="onFocus()"
    [placeholder]="placeholder"
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    [nbTooltip]="tooltipFunction(this.inputObject)"
    [nbTooltipTrigger]="
      isPhone || tooltipFunction(this.inputObject) == ''
        ? tooltipTriggers.NOOP
        : tooltipTriggers.HINT
    "
    nbTooltipPlacement="top"
    nbTooltipStatus="primary"
    nbTooltipAdjustment="noop"
  />

  <div
    class="completer-dropdown-holder"
    *ctrList="
      dataService;
      minSearchLength: minSearchLength;
      pause: pause;
      autoMatch: autoMatch;
      let items = results;
      let searchActive = searching;
      let isInitialized = searchInitialized
    "
  >
    <nb-list
      class="completer-dropdown"
      ctrDropdown
      *ngIf="isInitialized && focused"
    >
      <nb-list-item
        *ngIf="searchActive && displaySearching"
        class="completer-searching"
      >
        {{ textSearching }}
      </nb-list-item>
      <nb-list-item
        *ngIf="!searchActive && (!items || items.length === 0)"
        class="completer-no-results"
      >
        {{ textNoResults }}
      </nb-list-item>
      <nb-list-item
        class="completer-row-wrapper"
        *ngFor="let item of items; let rowIndex = index"
        [nbTooltip]="tooltipFunction(item.originalObject)"
        [nbTooltipTrigger]="
          isPhone || tooltipFunction(this.inputObject) == ''
            ? tooltipTriggers.NOOP
            : tooltipTriggers.HINT
        "
        nbTooltipPlacement="top"
        nbTooltipStatus="primary"
        nbTooltipAdjustment="noop"
      >
        <div class="completer-row row" [ctrRow]="rowIndex" [dataItem]="item">
          <div *ngIf="showAvatar" class="col" class="completer-image-holder">
            <nb-user
              class="completer-image"
              [onlyPicture]="true"
              [name]="item.title"
              [picture]="item.image"
            ></nb-user>
          </div>
          <div class="col" style="display: flex; align-items: center">
            <completer-list-item
              class="completer-title"
              [text]="item.title"
              [matchClass]="matchClass ? matchClass : ''"
              [searchStr]="searchStr"
              [type]="'title'"
            ></completer-list-item>
            <completer-list-item
              *ngIf="item.description && item.description != ''"
              class="completer-description"
              [text]="item.description"
              [matchClass]="matchClass ? matchClass : ''"
              [searchStr]="searchStr"
              [type]="'description'"
            ></completer-list-item>
          </div>
        </div>
      </nb-list-item>
    </nb-list>
  </div>
</div>
