@import '../../styles/themes';

::ng-deep {
  .completer-row-wrapper {
    display: flex;
  }

  .completer-row {
    width: 100%;
    height: 100%;
  }

  .completer-image {
    padding-left: 1rem;
  }
}
