<br />
<p class="sub-title">Seja bem vindo!</p>

<nb-alert *ngIf="showMessages.error && myErrors?.length" outline="danger" role="alert">
  <p class="alert-title"><b>Oh não!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of myErrors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && myMessages?.length" outline="success" role="alert">
  <p class="alert-title"><b>Deu tudo certo!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of myMessages" class="alert-message">
      {{ message }}
    </li>
  </ul>
</nb-alert>

<button nbButton fullWidth status="primary" size="large" [class.btn-pulse]="submitted" (click)="login()">
  <i class="fab fa-windows fa-2x" style="margin-right: 10px"></i>
  Entrar com conta Microsoft
</button>
<div style="text-align: center">
  ou
  <a
    class="text-link"
    (click)="logoutMicrosoft()"
    style="color: var(--text-hint-color); text-decoration: var(--link-text-decoration)"
  >
    sair contas Microsoft
  </a>
</div>

<section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">
  ou entre com:
  <div class="socials">
    <ng-container *ngFor="let socialLink of socialLinks">
      <a
        *ngIf="socialLink.link"
        [routerLink]="socialLink.link"
        [attr.target]="socialLink.target"
        [attr.class]="socialLink.icon"
        [class.with-icon]="socialLink.icon"
      >
        <nb-icon *ngIf="socialLink.icon; else title" [icon]="socialLink.icon"></nb-icon>
        <ng-template #title>{{ socialLink.title }}</ng-template>
      </a>
      <a
        *ngIf="socialLink.url"
        [attr.href]="socialLink.url"
        [attr.target]="socialLink.target"
        [attr.class]="socialLink.icon"
        [class.with-icon]="socialLink.icon"
      >
        <nb-icon *ngIf="socialLink.icon; else title" [icon]="socialLink.icon"></nb-icon>
        <ng-template #title>{{ socialLink.title }}</ng-template>
      </a>
    </ng-container>
  </div>
</section>

<section class="another-action" aria-label="Register">
  Não tem uma conta?
  <a class="text-link" routerLink="../register">Cadastre-se</a>
</section>
