<form (ngSubmit)="registerContractor()" #form="ngForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-name">{{selectedOption == typesOfPerson.PESSOA_JURIDICA ? 'Nome fantasia:' : 'Nome completo:'}}</label>
    <input
      nbInput
      [(ngModel)]="contractor.name"
      #name="ngModel"
      id="input-name"
      name="name"
      placeholder="Nome completo"
      autofocus
      fullWidth
      fieldSize="large"
      [required]="validation.name.required"
      [minlength]="validation.name.minLength"
      [maxlength]="validation.name.maxLength"
      [status]="name.dirty ? (name.invalid ? 'danger' : 'success') : 'basic'"
      [attr.aria-invalid]="name.invalid && name.touched ? true : null"
    />
    <ng-container *ngIf="name.invalid && name.touched">
      <p class="caption status-danger" *ngIf="name.errors?.required">O nome é obrigatório!</p>
      <p class="caption status-danger" *ngIf="name.errors?.minlength || name.errors?.maxlength">
        O nome deve conter entre
        {{ validation.name.minLength }} a
        {{ validation.name.maxLength }}
        caracteres
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-email">Melhor email para contato:</label>
    <input
      nbInput
      [(ngModel)]="contractor.email"
      #email="ngModel"
      id="input-email"
      name="email"
      pattern=".+@.+\..+"
      placeholder="Endereço de email"
      fullWidth
      fieldSize="large"
      [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : 'basic'"
      [required]="validation.email.required"
      [attr.aria-invalid]="email.invalid && email.touched ? true : null"
    />
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="caption status-danger" *ngIf="email.errors?.required">O email é obrigatório!</p>
      <p class="caption status-danger" *ngIf="email.errors?.pattern">Digite um email válido!</p>
    </ng-container>
  </div>
  <div class="row" style="flex-direction: row-reverse">
    <div class="col-md-6">
      <label class="label" for="input-person-selector">Tipo de pessoa:</label>
      <nb-select
        placeholder="Selecione"
        fullWidth
        size="large"
        [(ngModel)]="selectedOption"
        (selectedChange)="changeValues($event)"
        name="ng-model-group"
      >
        <nb-option [value]="typesOfPerson.PESSOA_FISICA">Pessoa física</nb-option>
        <nb-option [value]="typesOfPerson.PESSOA_JURIDICA">Pessoa jurídica</nb-option>
      </nb-select>
    </div>
    <div class="col-md-6">
      <div class="form-control-group" *ngIf="selectedOption == typesOfPerson.PESSOA_FISICA">
        <label class="label" for="input-cpf">CPF:</label>
        <input
          nbInput
          [(ngModel)]="contractor.document"
          #cpf="ngModel"
          id="input-cpf"
          name="cpf"
          placeholder="Digite o CPF"
          fullWidth
          fieldSize="large"
          [brmasker]="{ person: true }"
          ngxSelectAllText
          [notIncluded]="isSameDocument.bind(this)"
          [required]="validation.cpf.required"
          [minlength]="validation.cpf.minLength"
          [maxlength]="validation.cpf.maxLength"
          [status]="cpf.dirty || personType.hasChanged ? (cpf.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="cpf.invalid && cpf.touched ? true : null"
          (blur)="personType.hasChanged= false"
        />
        <ng-container *ngIf="cpf.invalid && cpf.touched || cpf.errors?.itemExistente">
          <p class="caption status-danger" *ngIf="cpf.errors?.required">O CPF é obrigatório!</p>
          <p class="caption status-danger" *ngIf="cpf.errors?.minlength || cpf.errors?.maxlength">
            O CPF deve ter {{ validation.cpf.minLength - 3 }} números
          </p>
           <div *ngIf="cpf.errors?.included">
            <p class="caption status-danger">O cliente abaixo já está cadastrado com este CPF!</p>
            <p>{{ cpf.errors?.included[0].fullName }}</p>
          </div>
        </ng-container>
      </div>
      <div class="form-control-group" *ngIf="selectedOption == typesOfPerson.PESSOA_JURIDICA">
        <label class="label" for="input-cnpj">CNPJ:</label>
        <input
          nbInput
          [(ngModel)]="contractor.document"
          #cnpj="ngModel"
          id="input-cnpj"
          name="cnpj"
          placeholder="Digite o CNPJ"
          fullWidth
          fieldSize="large"
          [brmasker]="{ person: true }"
          ngxSelectAllText
          [notIncluded]="isSameDocument.bind(this)"
          [required]="validation.cnpj.required"
          [minlength]="validation.cnpj.minLength"
          [maxlength]="validation.cnpj.maxLength"
          [status]="cnpj.dirty || personType.hasChanged ? (cnpj.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="cnpj.invalid && cnpj.touched ? true : null"
          (blur)="personType.hasChanged = false"
        />
        <ng-container *ngIf="cnpj.invalid && cnpj.touched || cnpj.errors?.itemExistente">
          <p class="caption status-danger" *ngIf="cnpj.errors?.required">O CNPJ é obrigatório!</p>
          <p class="caption status-danger" *ngIf="cnpj.errors?.minlength || cnpj.errors?.maxLength">
            O CNPJ deve ter {{ validation.cnpj.minLength - 4 }} números
          </p>
           <div *ngIf="cnpj.errors?.included">
            <p class="caption status-danger">O cliente abaixo já está cadastrado com este CNPJ!</p>
            <p>{{ cnpj.errors?.included[0].fullName }}</p>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-12" *ngIf="selectedOption == typesOfPerson.PESSOA_JURIDICA">
      <div class="form-control-group">
        <label class="label" for="input-corporateName">Razão social:</label>
        <input
          nbInput
          [(ngModel)]="contractor.corporateName"
          #corporateName="ngModel"
          id="input-corporateName"
          name="corporateName"
          placeholder="Razão social"
          fullWidth
          fieldSize="large"
          [required]="validation.corporateName.required"
          [status]="corporateName.dirty ? (corporateName.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="corporateName.invalid && corporateName.touched ? true : null"
        />
        <ng-container *ngIf="corporateName.invalid && corporateName.touched">
          <p class="caption status-danger" *ngIf="corporateName.errors?.required">A razão social é obrigatória!</p>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="form-control-group">
    <label class="label" for="input-phone">Melhor telefone para contato:</label>
    <input
      nbInput
      [(ngModel)]="contractor.phone"
      #phone="ngModel"
      id="input-phone"
      name="input-phone"
      placeholder="Telefone para contato"
      fullWidth
      fieldSize="large"
      [brmasker]="{ phone: true }"
      ngxSelectAllText
      [required]="validation.phone.required"
      [minlength]="validation.phone.minLength"
      [maxlength]="validation.phone.maxLength"
      [status]="phone.dirty ? (phone.invalid ? 'danger' : 'success') : 'basic'"
      [attr.aria-invalid]="phone.invalid && phone.touched ? true : null"
    />
    <ng-container *ngIf="phone.invalid && phone.touched">
      <p class="caption status-danger" *ngIf="phone.errors?.required">O telefone é obrigatório!</p>
      <p class="caption status-danger" *ngIf="phone.errors?.minlength || phone.errors?.maxlength">
        O telefone deve ter {{ validation.phone.minLength }} ou {{ validation.phone.maxLength }} caracteres
      </p>
    </ng-container>
  </div>
  <div class="form-control-group">
    <div class="row">
      <div class="col-md-4">
        <label class="label" for="input-zip-code">CEP:</label>
        <input
          nbInput
          [(ngModel)]="contractor.address.zipCode"
          #zipCode="ngModel"
          id="input-zip-code"
          name="input-zip-code"
          placeholder="CEP"
          fullWidth
          fieldSize="large"
          ngxSelectAllText
          [brmasker]="{ zipCode: true }"
          [required]="validation.address.zipCode.required"
          [minlength]="validation.address.zipCode.minLength"
          [maxlength]="validation.address.zipCode.maxLength"
          [status]="zipCode.dirty ? (zipCode.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="zipCode.invalid && zipCode.touched ? true : null"
        />
        <ng-container *ngIf="zipCode.invalid && zipCode.touched">
          <p class="caption status-danger" *ngIf="zipCode.errors?.required">O cep é obrigatório!</p>
          <p class="caption status-danger" *ngIf="zipCode.errors?.minlength || zipCode.errors?.maxlength">
            O cep deve conter
            {{ validation.address.zipCode.maxLength }}
            caracteres
          </p>
        </ng-container>
      </div>
      <div class="col-md-6">
        <label class="label" for="input-street-address">Logradouro:</label>
        <input
          nbInput
          [(ngModel)]="contractor.address.streetAddress"
          #streetAddress="ngModel"
          id="input-street-address"
          name="input-street-address"
          placeholder="Logradouro do endereço"
          fullWidth
          fieldSize="large"
          ngxSelectAllText
          [required]="validation.address.streetAddress.required"
          [minlength]="validation.address.streetAddress.minLength"
          [maxlength]="validation.address.streetAddress.maxLength"
          [status]="streetAddress.dirty ? (streetAddress.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="streetAddress.invalid && streetAddress.touched ? true : null"
        />
        <ng-container *ngIf="streetAddress.invalid && streetAddress.touched">
          <p class="caption status-danger" *ngIf="streetAddress.errors?.required">O endereço é obrigatório!</p>
          <p class="caption status-danger" *ngIf="streetAddress.errors?.minlength || streetAddress.errors?.maxlength">
            O endereço deve conter entre
            {{ validation.address.streetAddress.minLength }} a
            {{ validation.address.streetAddress.maxLength }}
            caracteres
          </p>
        </ng-container>
      </div>
      <div class="col-md-2">
        <label class="label" for="input-address-number">Nº:</label>
        <input
          nbInput
          [(ngModel)]="contractor.address.houseNumber"
          #addressNumber="ngModel"
          id="input-address-number"
          name="input-address-number"
          placeholder="Número"
          fullWidth
          fieldSize="large"
          ngxSelectAllText
          [required]="validation.address.houseNumber.required"
          [minlength]="validation.address.houseNumber.minLength"
          [maxlength]="validation.address.houseNumber.maxLength"
          [status]="addressNumber.dirty ? (addressNumber.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="addressNumber.invalid && addressNumber.touched ? true : null"
        />
        <ng-container *ngIf="addressNumber.invalid && addressNumber.touched">
          <p class="caption status-danger" *ngIf="addressNumber.errors?.required">O número é obrigatório!</p>
          <p class="caption status-danger" *ngIf="addressNumber.errors?.minlength || addressNumber.errors?.maxlength">
            O número deve conter entre
            {{ validation.address.houseNumber.minLength }} a
            {{ validation.address.houseNumber.maxLength }}
            caracteres
          </p>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="label" for="input-district">Bairro:</label>
        <input
          nbInput
          [(ngModel)]="contractor.address.district"
          #district="ngModel"
          id="input-district"
          name="input-district"
          placeholder="Bairro"
          fullWidth
          fieldSize="large"
          ngxSelectAllText
          [required]="validation.address.district.required"
          [minlength]="validation.address.district.minLength"
          [maxlength]="validation.address.district.maxLength"
          [status]="district.dirty ? (district.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="district.invalid && district.touched ? true : null"
        />
        <ng-container *ngIf="district.invalid && district.touched">
          <p class="caption status-danger" *ngIf="district.errors?.required">O bairro é obrigatório!</p>
          <p class="caption status-danger" *ngIf="district.errors?.minlength || district.errors?.maxlength">
            O bairro deve conter entre
            {{ validation.address.district.minLength }} a
            {{ validation.address.district.maxLength }}
            caracteres
          </p>
        </ng-container>
      </div>
      <div class="col-md-4">
        <label class="label" for="input-complement">Complemento:</label>
        <input
          nbInput
          [(ngModel)]="contractor.address.complement"
          #address="ngModel"
          id="input-complement"
          name="input-complement"
          placeholder="Complemento"
          fullWidth
          fieldSize="large"
          ngxSelectAllText
          [status]="address.dirty ? (address.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="address.invalid && address.touched ? true : null"
        />
      </div>
      <div class="col-md-2">
        <label class="label" for="input-state">Estado:</label>
        <nb-select
          [(ngModel)]="contractor.address.state"
          #state="ngModel"
          id="input-state"
          name="state"
          placeholder="Selecione"
          fullWidth
          size="large"
          [required]="validation.address.state.required"
          [status]="state.dirty ? (state.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="state.invalid && state.touched ? true : null"
          (selectedChange)="buildCityList(state.value)"
        >
          <nb-option *ngFor="let state of states" [value]="state">{{ state }}</nb-option>
        </nb-select>
        <ng-container *ngIf="address.invalid && address.touched">
          <p class="caption status-danger" *ngIf="address.errors?.required">O endereço é obrigatório!</p>
          <p class="caption status-danger" *ngIf="address.errors?.minlength || address.errors?.maxlength">
            O endereço deve conter entre
            {{ validation.address.minLength }} a
            {{ validation.address.maxLength }}
            caracteres
          </p>
        </ng-container>
      </div>
      <div class="col-md-3">
        <label class="label" for="input-city">Cidade:</label>
        <nb-select
          [(ngModel)]="contractor.address.city"
          #city="ngModel"
          id="input-city"
          name="city"
          placeholder="Selecione"
          fullWidth
          size="large"
          [required]="validation.address.city.required"
          [status]="city.dirty ? (city.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="city.invalid && city.touched ? true : null"
        >
          <nb-option *ngFor="let city of cities" [value]="city">{{ city }}</nb-option>
        </nb-select>
        <ng-container *ngIf="address.invalid && address.touched">
          <p class="caption status-danger" *ngIf="address.errors?.required">O endereço é obrigatório!</p>
          <p class="caption status-danger" *ngIf="address.errors?.minlength || address.errors?.maxlength">
            O endereço deve conter entre
            {{ validation.address.minLength }} a
            {{ validation.address.maxLength }}
            caracteres
          </p>
        </ng-container>
      </div>
    </div>
    <div *ngIf="selectedOption == typesOfPerson.PESSOA_JURIDICA">
      <div class="form-control-group mt-3">
        <div class="row">
          <div class="col-10 col-md-11">
            <label class="label-divider mt-3 mb-0">Representantes Legais</label>
          </div>
          <div class="col-1">
            <button
              nbButton
              type="button"
              fullWidth
              status="primary"
              size="large"
              (click)="openRepresentativeDialog(representativeTypes.LEGAL)"
            >
              <nb-icon icon="plus"></nb-icon>
            </button>
          </div>
        </div>
        <nb-list style="width: 100%; padding: 10px 0">
          <nb-list-item
            *ngFor="let representative of contractor.legalRepresentatives; let i = index; trackBy: trackByIndex"
          >
            <div class="row irow">
              <div class="col-9 col-md-11">
                {{ representative.name }}
              </div>
              <div class="col-3 col-md-1" style="text-align: right">
                <nb-icon
                  class="addIcon"
                  status="basic"
                  icon="edit-outline"
                  pack="eva"
                  (click)="openRepresentativeDialog(representativeTypes.LEGAL, contractor.legalRepresentatives[i])"
                  [options]="{ animation: { type: 'pulse' } }"
                ></nb-icon>
                <nb-icon
                  class="xIcon"
                  status="basic"
                  icon="trash-2-outline"
                  pack="eva"
                  (click)="confirmationDialog(representativeTypes.LEGAL, i)"
                  [options]="{ animation: { type: 'shake' } }"
                ></nb-icon>
              </div>
            </div>
          </nb-list-item>
        </nb-list>
      </div>
      <div class="form-control-group">
        <div class="row">
          <div class="col-10 col-md-11">
            <label class="label-divider mt-3 mb-0">Representantes Comerciais</label>
          </div>
          <div class="col-1">
            <button
              nbButton
              type="button"
              fullWidth
              status="primary"
              size="large"
              (click)="openRepresentativeDialog(representativeTypes.COMERCIAL)"
            >
              <nb-icon icon="plus"></nb-icon>
            </button>
          </div>
        </div>
        <nb-list style="width: 100%; padding: 10px 0">
          <nb-list-item
            *ngFor="let representative of contractor.comercialRepresentatives; let i = index; trackBy: trackByIndex"
          >
            <div class="row irow">
              <div class="col-9 col-md-11">
                {{ representative.name }}
              </div>
              <div class="col-3 col-md-1" style="text-align: right">
                <nb-icon
                  class="addIcon"
                  status="basic"
                  icon="edit-outline"
                  pack="eva"
                  (click)="
                    openRepresentativeDialog(representativeTypes.COMERCIAL, contractor.comercialRepresentatives[i])
                  "
                  [options]="{ animation: { type: 'pulse' } }"
                ></nb-icon>
                <nb-icon
                  class="xIcon"
                  status="basic"
                  icon="trash-2-outline"
                  pack="eva"
                  (click)="confirmationDialog(representativeTypes.COMERCIAL, i)"
                  [options]="{ animation: { type: 'shake' } }"
                ></nb-icon>
              </div>
            </div>
          </nb-list-item>
        </nb-list>
      </div>
    </div>
  </div>
  <button
    nbButton
    fullWidth
    status="primary"
    size="large"
    [disabled]="submitted || !form.valid || !form.dirty || isNotEdited()"
    [class.btn-pulse]="submitted"
  >
    {{ editing ? 'ATUALIZAR' : 'CADASTRAR' }}
  </button>
</form>
