@import '../../../@theme/styles/themes';

$shadow-green: #00977e;

@include nb-install-component() {
  --spinner-primary-background-color: transparent;

  .subtitle {
    white-space: break-spaces;
  }

  .progress-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }

  // .description {
  //   margin-top: 0.5rem;
  // }
}
