@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  --spinner-primary-background-color: transparent;

  .subtitle {
    white-space: break-spaces;
  }

  .progress-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  nb-card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-around;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  // .description {
  //   margin-top: 0.5rem;
  // }
}
