<nb-card>
  <nb-card-body>
    <div class="progress-info" *ngFor="let item of METRICS" #textMetric>
      <div class="subtitle">
        {{ item.title }}
        <nb-icon
          status="info"
          icon="info"
          pack="eva"
          [options]="{ animation: { type: 'pulse' } }"
          nbTooltip="{{ item.tooltip }}"
          nbTooltipPlacement="top"
          nbTooltipStatus="info"
        ></nb-icon>
        <a
          *ngIf="item.title == 'Valor a receber'"
          (click)="openReceivablesDialog()"
          style="text-decoration: none; display: contents; cursor: pointer"
        >
          <nb-icon
            status="info"
            icon="diagonal-arrow-right-up"
            pack="eva"
            [options]="{ animation: { type: 'pulse' } }"
          ></nb-icon>
        </a>
      </div>
      <div
        *ngIf="item.loading | async; else metric"
        [nbSpinner]="true"
        nbSpinnerStatus="primary"
        nbSpinnerSize="giant"
        style="width: 100%; height: 70px"
      ></div>
      <ng-template #metric>
        <div class="h3">
          {{ item.value | async }}
        </div>
        <!-- <nb-progress-bar [value]="item.activeProgress | async"></nb-progress-bar>-->
        <div class="caption description">
          <bdi>{{ item.description | async }}</bdi>
        </div>
      </ng-template>
    </div>
  </nb-card-body>
</nb-card>
