<div
  class="row justify-content-center"
  [ngStyle]="{
    'width.px': [] | transformPipe: windowWidth.bind(this)
  }"
>
  <div class="col-md-8">
    <form #form="ngForm" (ngSubmit)="updateAction()" aria-labelledby="title">
      <nb-card
        [ngStyle]="{
          'max-height.px': [] | transformPipe: windowWidth.bind(this)
        }"
      >
        <nb-card-header>
          {{ checklistItem.name | uppercase }}
          <div class="d-flex">
            <nb-select id="item-status" name="item-status" [(ngModel)]="checklistItem.status" fullWidth size="large">
              <nb-option *ngFor="let status of avaliableActionStatus" [value]="status">
                {{ status }}
              </nb-option>
            </nb-select>
            <button
              nbButton
              ghost
              style="margin-left: 1rem"
              nbTooltip="Fechar"
              nbTooltipPlacement="bottom"
              nbTooltipStatus="info"
              (click)="dismiss()"
            >
              <nb-icon icon="close-outline" pack="nebular-essentials"></nb-icon>
            </button>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div class="form-control-group">
            <label class="label" for="item-description">Descrição:</label>
            <textarea
              nbInput
              [(ngModel)]="checklistItem.description"
              id="item-description"
              name="item-description"
              fullWidth
              fieldSize="large"
            ></textarea>
          </div>
          <div class="row mt-3">
            <div class="col-auto">
              <h6>Ações</h6>
            </div>
            <div class="col">
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <label class="label" for="input-action-name">Ação:</label>
              <input
                nbInput
                [(ngModel)]="newAction.name"
                #newNameInput="ngModel"
                id="new-action-name"
                name="new-action-name"
                fullWidth
                fieldSize="large"
                [status]="newNameInput.dirty ? (newNameInput.invalid ? 'danger' : 'success') : 'basic'"
                [attr.aria-invalid]="newNameInput.invalid && newNameInput.touched ? true : null"
              />
            </div>
            <div class="col-3">
              <label class="label" for="input-action-range">Prazo:</label>
              <input
                nbInput
                [(ngModel)]="newAction.range"
                #newRangeInput="ngModel"
                id="new-action-range"
                name="new-action-range"
                fullWidth
                fieldSize="large"
                [nbDatepicker]="inputRangePicker"
                [status]="newRangeInput.dirty ? (newRangeInput.invalid ? 'danger' : 'success') : 'basic'"
                [attr.aria-invalid]="newRangeInput.invalid && newRangeInput.touched ? true : null"
              />

              <nb-rangepicker #inputRangePicker></nb-rangepicker>
            </div>
            <div class="col-4">
              <label class="label" for="new-action-assignee">Responsável:</label>
              <nb-completer
                [(ngModel)]="assigneeSearch"
                #newActionAssignee="ngModel"
                (selected)="newAction.assignee = $event"
                id="new-action-assignee"
                name="new-action-assignee"
                inputName="actionAssignee"
                nameField="fullName"
                [data$]="avaliableAssignees"
                [placeholder]="'Digite o nome do responsável pela ação'"
                [fullWidth]="true"
                [fieldSize]="'large'"
                [textNoResults]="'Não foi possível achar um colaborador com o nome digitado'"
                [minSearchLength]="0"
              ></nb-completer>
            </div>
            <div class="col-1">
              <button
                nbButton
                type="button"
                fullWidth
                status="primary"
                size="large"
                style="margin-top: 28px"
                (click)="registerAction()"
                [disabled]="!newNameInput.value || !newRangeInput.value || !newActionAssignee.value"
              >
                +
              </button>
            </div>
          </div>
          <nb-list class="py-3">
            <nb-list-item class="pt-3 px-0" *ngFor="let item of actionList; let i = index">
              <div class="row w-100">
                <div class="col-4">
                  <input
                    nbInput
                    [(ngModel)]="actionList[i].name"
                    #actionName="ngModel"
                    id="action-name-{{ i }}"
                    name="action-name-{{ i }}"
                    fullWidth
                    fieldSize="large"
                    [readonly]="actionList[i].isFinished"
                  />
                </div>
                <div class="col-3" *ngIf="!actionList[i].isFinished">
                  <input
                    nbInput
                    [(ngModel)]="actionList[i].range"
                    #actionRange="ngModel"
                    id="action-range-{{ i }}"
                    name="action-range-{{ i }}"
                    fullWidth
                    fieldSize="large"
                    [nbDatepicker]="rangePicker"
                  />
                  <nb-rangepicker #rangePicker></nb-rangepicker>
                </div>
                <div class="col-3" *ngIf="actionList[i].isFinished">
                  <input
                    nbInput
                    [ngModel]="[actionList[i].range] | transformPipe: formattedRange.bind(this)"
                    #finishedActionRange="ngModel"
                    id="action-range-{{ i }}"
                    name="action-range-{{ i }}"
                    fullWidth
                    fieldSize="large"
                    [readonly]="actionList[i].isFinished"
                  />
                </div>
                <div class="col-3">
                  <input
                    nbInput
                    [ngModel]="
                      [actionList[i].assignee, this.userService.idToUser.bind(userService), 'fullName']
                        | transformPipe: this.utils.idToProperty.bind(utils)
                    "
                    #actionAssignee="ngModel"
                    id="action-assignee-{{ i }}"
                    name="action-assignee-{{ i }}"
                    fullWidth
                    fieldSize="large"
                    [readonly]="true"
                  />
                </div>
                <div class="col-1 btn-container flex-column">
                  <label class="label">Finalizada?</label>
                  <nb-checkbox
                    [(ngModel)]="actionList[i].isFinished"
                    id="action-checked-{{ i }}"
                    name="action-checked-{{ i }}"
                    #actionChecked="ngModel"
                    [checked]="actionList[i].isFinished"
                  ></nb-checkbox>
                </div>
                <div class="col-1 btn-container">
                  <nb-icon
                    *ngIf="!actionList[i].isFinished"
                    class="xIcon"
                    status="danger"
                    icon="trash-2-outline"
                    pack="eva"
                    [options]="{ animation: { type: 'shake' } }"
                    (click)="removeAction(i)"
                  ></nb-icon>
                </div>
              </div>
            </nb-list-item>
          </nb-list>
          <div class="row">
            <div class="col-12">
              <button nbButton fullWidth status="primary" size="large" [disabled]="!form.valid || !form.dirty">
                Atualizar
              </button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>
</div>
