<div
  class="row justify-content-center"
  [ngStyle]="{
    'width.px': windowWidth()
  }"
>
  <div
    [ngClass]="{
      'col-12 col-md-8': componentType != dTypes.EXPENSES,
      'col-12 col-md-11': componentType === dTypes.EXPENSES
    }"
  >
    <nb-card
      [ngStyle]="{
        'max-height.px': windowHeight()
      }"
    >
      <nb-card-header>
        {{ title }}
        <div class="buttons" [ngStyle]="{ width: clonedTeam._id && componentType === dTypes.TEAM ? '250px' : 'auto' }">
          <nb-toggle
            *ngIf="clonedTeam._id && componentType === dTypes.TEAM"
            [disabled]="!iTeam.isOrganizationTeam && teamService.hasOrganizationTeam()"
            [(ngModel)]="clonedTeam.isOrganizationTeam"
            name="organizationTeam"
            labelPosition="start"
          >
            Time da organização
          </nb-toggle>
          <button
            nbButton
            ghost
            nbTooltip="Fechar"
            [nbTooltipTrigger]="isPhone() ? tooltipTriggers.NOOP : tooltipTriggers.HINT"
            nbTooltipPlacement="bottom"
            nbTooltipStatus="info"
            (click)="dismiss()"
          >
            <nb-icon icon="close-outline" pack="nebular-essentials"></nb-icon>
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <ngx-team-item
          *ngIf="componentType === dTypes.TEAM"
          (submit)="dismiss()"
          [clonedTeam]="clonedTeam"
          [isFormDirty]="isFormDirty"
        ></ngx-team-item>
        <ngx-team-expenses
          *ngIf="componentType === dTypes.EXPENSES"
          [isDialogBlocked]="isBlocked"
          [clonedTeam]="clonedTeam"
          (submit)="dismiss()"
        ></ngx-team-expenses>
        <ngx-user-transaction
          *ngIf="componentType === dTypes.TRANSFER"
          [isFormDirty]="isFormDirty"
          (submit)="dismiss()"
        ></ngx-user-transaction>
      </nb-card-body>
    </nb-card>
  </div>
</div>
