<nb-card
  [ngStyle]="{
    'width.px': dialogWidth()
  }"
>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <input *ngIf="inputType == INPUT_TYPES.INPUT"
      #name
      nbInput
      fullWidth
      [placeholder]="placeholder"
      [(ngModel)]="text"
    />
    <textarea *ngIf="inputType == INPUT_TYPES.TEXT_AREA"
      #name
      nbInput
      fullWidth
      [placeholder]="placeholder"
      [(ngModel)]="text">
    </textarea>
    <editor *ngIf="inputType == INPUT_TYPES.EDITOR"
      #name
      [(ngModel)]="text"
      apiKey='z187q3t4frdev1emaq2u91r980frnen7qhv5sjln98m5bmga'
      [init]="{
        language: 'pt_BR',
        skin: currentTheme === THEMES.DEFAULT || currentTheme === THEMES.CORPORATE ? 'oxide' : 'oxide-dark',
        content_css: currentTheme === THEMES.DEFAULT || currentTheme === THEMES.CORPORATE ? 'default' : 'dark',
        plugins: 'link',
        toolbar: ' undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | link'
      }"
      >
    </editor>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton fullWidth status="primary" (click)="dismiss(text)">Adicionar</button>
  </nb-card-footer>
</nb-card>
