<nb-card
  [ngStyle]="{
    'width.px': dialogWidth()
  }"
>
  <nb-card-header>
    {{ title }}
    <div *ngIf="buttonProperties.displayCloseButton" classs="buttons">
      <button
        nbButton
        ghost
        nbTooltip="Fechar"
        [nbTooltipTrigger]="isPhone() ? tooltipTriggers.NOOP : tooltipTriggers.HINT"
        nbTooltipPlacement="bottom"
        nbTooltipStatus="info"
        (click)="dismiss()"
      >
        <nb-icon icon="close-outline" pack="nebular-essentials"></nb-icon>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div [ngSwitch]="inputType">
      <div *ngSwitchCase="INPUT_TYPES.input">
        <input
          nbInput
          [(ngModel)]="response"
          #inputRef="ngModel"
          fullWidth
          [placeholder]="placeholder"
          required="true"
          [status]="inputRef.dirty ? (inputRef.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="inputRef.invalid && inputRef.touched ? true : null"
        />
        <ng-container *ngIf="inputRef.invalid && inputRef.touched">
          <p class="caption status-danger" *ngIf="inputRef.errors?.required">O campo é obrigatório!</p>
        </ng-container>
      </div>
      <div *ngSwitchCase="INPUT_TYPES.textArea">
        <textarea
          nbInput
          [(ngModel)]="response"
          #inputRef="ngModel"
          [placeholder]="placeholder"
          fullWidth
          fieldSize="large"
          required="true"
          [status]="inputRef.dirty ? (inputRef.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="inputRef.invalid && inputRef.touched ? true : null"
        ></textarea>
        <ng-container *ngIf="inputRef.invalid && inputRef.touched">
          <p class="caption status-danger" *ngIf="inputRef.errors?.required">O campo é obrigatório!</p>
        </ng-container>
      </div>
      <div *ngSwitchCase="INPUT_TYPES.textList">
        <ngx-text-list [textList]="textList"></ngx-text-list>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer *ngIf="buttonProperties.displayButtonMessage">
    <button nbButton fullWidth status="primary" [disabled]="!response" (click)="addResponse(response)">
      {{ buttonProperties.bottomButtonMessage }}
    </button>
  </nb-card-footer>
</nb-card>
