<div
  class="row justify-content-center"
  [ngStyle]="{
    'width.px': windowWidth()
  }"
>
  <div class="col-md-10">
    <nb-card
      [ngStyle]="{
        'max-height.px': windowHeight()
      }"
    >

        <nb-card-header
          [ngStyle]="{'background-color': (modified) ? 'var(--card-header-warning-background-color)' : 'var(--card-background-color)'}"
        >
          <div class = "d-flex align-items-center">
            {{ title }}
            <nb-icon
            *ngIf="modified"
            icon = "alert-circle"
            style = "margin-left: 5px;"
            nbTooltip="O item em edição foi atualizado, por favor feche e reabra o diálogo."
            [nbTooltipTrigger]="isPhone() ? tooltipTriggers.NOOP : tooltipTriggers.HINT"
            nbTooltipPlacement="bottom"
            nbTooltipStatus="info"
            ></nb-icon>
          </div>
          <div class="buttons">
            <button
              [ngStyle]="{'color': (modified) ? 'var(--card-header-warning-text-color)' : 'var(--button-ghost-basic-text-color)'}"
              nbButton
              ghost
              nbTooltip="Fechar"
              [nbTooltipTrigger]="isPhone() ? tooltipTriggers.NOOP : tooltipTriggers.HINT"
              nbTooltipPlacement="bottom"
              nbTooltipStatus="info"
              (click)="dismiss()"
            >
              <nb-icon icon="close-outline" pack="nebular-essentials"></nb-icon>
            </button>
          </div>
        </nb-card-header>
      <nb-card-body>
        <ngx-provider-item
          *ngIf="componentType == dtypes.PROVIDER"
          [clonedProvider]="provider"
          (submit)="dismiss()"
          [isFormDirty]="isFormDirty"
        ></ngx-provider-item>
        <ngx-contact-item
          *ngIf="componentType == dtypes.CONTACT"
          [clonedProvider]="provider"
          (submit)="dismiss()"
        ></ngx-contact-item>
      </nb-card-body>
    </nb-card>
  </div>
</div>
