@import 'app/@theme/styles/themes';

@include nb-install-component() {
  nb-list-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .irow {
    width: 100%;
    margin-left: 0;
    align-items: center;
  }

  .xIcon:hover {
    color: nb-theme(icon-danger-color) !important;
  }
}
