<form (ngSubmit)="createOrUpdate()" #form="ngForm" aria-labelledby="title">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-control-group">
        <label class="label" for="input-name">Nome do time:</label>
        <input
          nbInput
          autofocus
          [(ngModel)]="team.name"
          #name="ngModel"
          id="input-name"
          name="name"
          placeholder="Escolha o nome do time"
          fullWidth
          fieldSize="large"
          [required]="validation.name.required"
          [minlength]="validation.name.minLength"
          [maxlength]="validation.name.maxLength"
          [status]="name.touched ? (name.invalid ? 'danger' : 'success') : editing ? 'success' : 'basic'"
          [attr.aria-invalid]="name.invalid && name.touched ? true : null"
        />
      </div>
      <ng-container *ngIf="name.invalid && name.touched">
        <p class="caption status-danger" *ngIf="name.errors?.required">O nome do time é obrigatório!</p>
        <p class="caption status-danger" *ngIf="name.errors?.minlength || name.errors?.maxlength">
          O nome do time deve conter entre {{ validation.name.minLength }} a {{ validation.name.maxLength }} caracteres
        </p>
      </ng-container>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-control-group">
        <label class="label" for="input-leader">
          Líder:
          <nb-icon
            status="info"
            icon="info"
            pack="eva"
            [options]="{ animation: { type: 'pulse' } }"
            nbTooltip="A lista de líder é preenchida com a lista de membros. O líder deve fazer parte do time."
            nbTooltipPlacement="top"
            nbTooltipStatus="info"
          ></nb-icon>
        </label>
        <nb-completer
          [(ngModel)]="leaderSearch"
          (selected)="this.team.leader = $event"
          inputName="leaderListCompleter"
          #leaderList="ngModel"
          id="input-leader"
          name="leaderList"
          placeholder="Digite o nome do líder dentro os membros do time"
          textNoResults="
          Não foi possível achar um associado com o nome digitado
          "
          fieldSize="large"
          nameField="fullName"
          pictureField="profilePicture"
          [data$]="avaliableLeaders"
          [required]="validation.leader.required"
          [minSearchLength]="0"
          [fullWidth]="true"
          [status]="
            leaderList.touched
              ? leaderList.invalid
                ? 'danger'
                : 'success'
              : editing && leaderSearch !== ''
              ? 'success'
              : 'basic'
          "
          [attr.aria-invalid]="leaderList.invalid && leaderList.touched ? true : null"
        ></nb-completer>
        <ng-container *ngIf="leaderList.invalid && leaderList.touched">
          <p class="caption status-danger" *ngIf="leaderList.errors?.required">
            A escolha do líder do time é obrigatória!
          </p>
        </ng-container>
      </div>
    </div>
    <div class="col-12">
      <div class="form-control-group">
        <label class="label" for="input-expertise">Áreas de atuação:</label>
        <ul>
          <li *ngFor="let coordination of COORDINATIONS">{{ coordination }}</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-control-group">
        <label class="label" for="input-member">Membro:</label>
        <nb-completer
          [(ngModel)]="memberSearch"
          [inputName]="'memberListCompleter'"
          (selected)="currentMember.user = $event; updateUserCoordinations()"
          #memberList="ngModel"
          id="input-member"
          name="memberList"
          nameField="fullName"
          pictureField="profilePicture"
          [data$]="availableUsers"
          [minSearchLength]="0"
          [placeholder]="'Digite e selecione o nome do membro do time'"
          [textNoResults]="'Não foi possível achar um membro com o nome digitado'"
          [fullWidth]="true"
          [fieldSize]="'large'"
          [status]="memberList.dirty && memberSearch ? (memberList.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="memberList.invalid && memberList.touched ? true : null"
        ></nb-completer>
      </div>
    </div>
    <div class="col-12 col-md-5">
      <div class="form-control-group">
        <label class="label" for="input-memberCoordination">Coordenação:</label>
        <nb-select
          [(ngModel)]="currentMember.coordination"
          #memberCoordination="ngModel"
          id="input-memberCoordination"
          name="memberCoordination"
          placeholder="Coordenação"
          fullWidth
          size="large"
          [status]="memberCoordination.value?.length > 0 ? 'success' : 'basic'"
          [attr.aria-invalid]="memberCoordination.invalid && memberCoordination.touched ? true : null"
        >
          <nb-option *ngFor="let coordination of USER_COORDINATIONS" [value]="coordination">
            {{ coordination }}
          </nb-option>
        </nb-select>
      </div>
    </div>
    <div class="col-12 col-md-1">
      <button
        nbButton
        type="button"
        fullWidth
        status="primary"
        size="large"
        style="margin-top: 28px"
        [disabled]="!memberList.value || currentMember.user === undefined"
        (click)="addMember()"
      >
        +
      </button>
    </div>
  </div>
  <nb-list style="width: 100%; padding: 10px 0">
    <nb-list-item *ngFor="let member of team.members; let i = index; trackBy: utils.trackByIndex">
      <div class="row irow">
        <div class="col-5 col-md-6">
          <nb-user
            size="giant"
            [name]="userService.idToName(member.user)"
            [picture]="userService.idToProfilePicture(member.user)"
          ></nb-user>
        </div>
        <div class="col-5 col-md-5">{{ member.coordination }}</div>
      </div>
      <div class="col-2 col-md-1" style="text-align: right">
        <nb-icon
          class="xIcon"
          status="basic"
          icon="trash-2-outline"
          pack="eva"
          (click)="handleLeader(i); team.members.splice(i, 1); memberChanged$.next(true)"
          [options]="{ animation: { type: 'shake' } }"
        ></nb-icon>
      </div>
    </nb-list-item>
  </nb-list>
  <button nbButton fullWidth status="primary" size="large" [disabled]="!form.valid">
    {{ editing ? 'Atualizar' : 'Adicionar' }}
  </button>
</form>
