<div
  class="row justify-content-center"
  [ngStyle]="{
    'width.px': windowWidth()
  }"
>
  <div class="col-md-8">
    <nb-card
      [ngStyle]="{
        'max-height.px': windowHeight()
      }"
    >
      <nb-card-header>
        {{ title }}
        <div class="buttons">
          <button nbButton ghost (click)="dismiss()">
            <nb-icon icon="close-outline" pack="nebular-essentials"></nb-icon>
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <ngx-contract-item
          [contract]="contract"
          (submit)="dismiss()"
        ></ngx-contract-item>
      </nb-card-body>
    </nb-card>
  </div>
</div>
