<div
  class="row justify-content-center"
  [ngStyle]="{
    'width.px':
      (!this.isPayable || !this.hasBalance) &&
      (componentType === types.RECEIPT || componentType === types.PAYMENT) &&
      paymentIndex === undefined &&
      receiptIndex === undefined
        ? 'auto'
        : windowWidth()
  }"
>
  <div
    [ngClass]="{
      'col-md-8': componentType !== types.CONTRACT,
      'col-md-11': componentType === types.CONTRACT
    }"
  >
    <nb-card
      *ngIf="
        !this.isPayable &&
          componentType === types.RECEIPT &&
          paymentIndex === undefined &&
          receiptIndex === undefined;
        else paymentCheck
      "
      [ngStyle]="{
        'max-height.px': windowHeight()
      }"
    >
      <nb-card-header>
        AVISO
        <div class="buttons">
          <button nbButton ghost (click)="dismiss()">
            <nb-icon icon="close-outline" pack="nebular-essentials"></nb-icon>
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <p *ngIf="contract._id !== undefined; else dashboardReceiptError">
          Não é possível adicionar outra ordem de empenho, pois o número de
          parcelas pagas já é igual ao número de parcelas totais ({{
            contract.total
          }}).
        </p>
        <ng-template #dashboardReceiptError>
          <p>
            Não é possível adicionar nova ordem de empenho, pois não há
            contratos sem parcelas pagas no qual você é gestor ou membro do
            contrato.
          </p>
        </ng-template>
      </nb-card-body>
    </nb-card>
    <ng-template #paymentCheck>
      <nb-card
        *ngIf="
          !this.hasBalance &&
            componentType === types.PAYMENT &&
            paymentIndex === undefined &&
            receiptIndex === undefined;
          else dialog
        "
        [ngStyle]="{
          'max-height.px': windowHeight()
        }"
      >
        <nb-card-header>
          AVISO
          <div class="buttons">
            <button
              nbButton
              ghost
              nbTooltip="Fechar"
              [nbTooltipTrigger]="
                utils.isPhone()
                  ? utils.tooltipTriggers.NOOP
                  : utils.tooltipTriggers.HINT
              "
              nbTooltipPlacement="bottom"
              nbTooltipStatus="info"
              (click)="dismiss()"
            >
              <nb-icon icon="close-outline" pack="nebular-essentials"></nb-icon>
            </button>
          </div>
        </nb-card-header>
        <nb-card-body>
          <p *ngIf="contract._id !== undefined; else dashboardPaymentError">
            Não é possível adicionar uma ordem de pagamento quando não há caixa
            no contrato para pagamentos. O valor atual do caixa é R${{
              contract.balance
            }}
          </p>
          <ng-template #dashboardPaymentError>
            <p>
              Não é possível adicionar nova ordem de pagamento, pois não há
              contratos com caixa positivo no qual você é gestor ou membro do
              contrato.
            </p>
          </ng-template>
        </nb-card-body>
      </nb-card>
      <ng-template #dialog>
        <nb-card
          [ngStyle]="{
            'max-height.px': windowHeight()
          }"
        >
          <nb-card-header>
            {{ title }}
            <div class="buttons">
              <a
                *ngIf="
                  onedriveUrl.length > 0 && componentType == types.CONTRACT
                "
                nbButton
                ghost
                [href]="onedriveUrl"
                target="_blank"
                nbTooltip="Abrir no Onedrive"
                [nbTooltipTrigger]="
                  utils.isPhone()
                    ? utils.tooltipTriggers.NOOP
                    : utils.tooltipTriggers.HINT
                "
                nbTooltipPlacement="bottom"
                nbTooltipStatus="info"
              >
                <nb-icon icon="onedrive" pack="fac"></nb-icon>
              </a>
              <button
                *ngIf="
                  onedriveUrl?.length === 0 && componentType == types.CONTRACT
                "
                nbButton
                ghost
                nbTooltip="Criar pasta no Onedrive"
                [nbTooltipTrigger]="
                  utils.isPhone()
                    ? utils.tooltipTriggers.NOOP
                    : utils.tooltipTriggers.HINT
                "
                nbTooltipPlacement="bottom"
                nbTooltipStatus="info"
                (click)="addToOnedrive()"
              >
                <nb-icon icon="onedrive-add" pack="fac"></nb-icon>
              </button>
              <button
                nbButton
                ghost
                nbTooltip="Visualizar orçamento em outra aba"
                [nbTooltipTrigger]="
                  utils.isPhone()
                    ? utils.tooltipTriggers.NOOP
                    : utils.tooltipTriggers.HINT
                "
                nbTooltipPlacement="bottom"
                nbTooltipStatus="info"
                (click)="openPDFnewtab()"
              >
                <nb-icon
                  icon="file-pdf"
                  pack="far"
                  style="font-size: 19px"
                ></nb-icon>
              </button>
              <button
                nbButton
                ghost
                nbTooltip="Fechar"
                [nbTooltipTrigger]="
                  utils.isPhone()
                    ? utils.tooltipTriggers.NOOP
                    : utils.tooltipTriggers.HINT
                "
                nbTooltipPlacement="bottom"
                nbTooltipStatus="info"
                (click)="dismiss()"
              >
                <nb-icon
                  icon="close-outline"
                  pack="nebular-essentials"
                ></nb-icon>
              </button>
            </div>
          </nb-card-header>
          <nb-card-body>
            <ngx-contract-item
              [isDialogBlocked]="isBlocked"
              [iContract]="contract"
              [index]="contractIndex"
              *ngIf="componentType == types.CONTRACT"
            ></ngx-contract-item>
            <ngx-payment-item
              [contract]="contract"
              [contractIndex]="contractIndex"
              [paymentIndex]="paymentIndex"
              [availableContracts]="availableContracts"
              (submit)="dismiss()"
              *ngIf="componentType == types.PAYMENT"
            ></ngx-payment-item>
            <ngx-receipt-item
              [contract]="contract"
              [contractIndex]="contractIndex"
              [receiptIndex]="receiptIndex"
              [availableContracts]="availableContracts"
              (submit)="dismiss()"
              *ngIf="componentType == types.RECEIPT"
            ></ngx-receipt-item>
            <ngx-expense-item
              [contract]="contract"
              [contractIndex]="contractIndex"
              [expenseIndex]="expenseIndex"
              (submit)="dismiss()"
              *ngIf="componentType == types.EXPENSE"
            ></ngx-expense-item>
          </nb-card-body>
        </nb-card>
      </ng-template>
    </ng-template>
  </div>
</div>
