<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body>
        <nb-auth-block>
          <img
            src="/assets/images/logo.png"
            class="mx-auto d-block"
            alt="Logo"
            style="max-height: 200px;"
            *ngIf="!authService.submitted$.getValue()"
          />
          <img
            src="/assets/images/spinner.svg"
            class="mx-auto d-block"
            alt="Logo"
            style="height: 340px;"
            *ngIf="authService.submitted$.getValue()"
          />
          <router-outlet></router-outlet>
        </nb-auth-block>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
