<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-body id="cardBody">
        <nb-auth-block>
          <img
            [src]="config.socialConfig.logoDefault.url || 'https://firebasestorage.googleapis.com/v0/b/plataforma-nortan.appspot.com/o/logoImages%2Flogo.png?alt=media&token=9ea298d9-0be5-4197-a40d-12d425c98999'"
            class="mx-auto d-block"
            alt="Logo"
            style="max-height: 200px"
          />
          <router-outlet></router-outlet>
        </nb-auth-block>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
