@import 'app/@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  --tabset-content-padding: 1rem 0;
}

::ng-deep {
  nb-card {
    overflow-x: auto;
    overflow-y: auto;
  }


  th {
    &[ng2-st-actions-title] {
      width: 5%;
    }
  }

  .contracts-views {
    display: flex !important;
    flex-direction: column;
    margin-top: -2.5rem;
    margin-bottom: -1rem;
    @include media-breakpoint-down(md) {
      margin-top: -1rem;
    }

    .tabset {
      align-self: center;
      width: fit-content;
      background-color: nb-theme(card-background-color);
      border: nb-theme(card-border-width) nb-theme(card-border-style) nb-theme(card-border-color);
      border-radius: nb-theme(card-border-radius);
      box-shadow: nb-theme(card-shadow);
    }
  }

  table {
    text-align: center;
  }

  .contracts {
    .ng2-smart-action-delete-delete {
      .payment {
        font-size: 1.5rem;
      }

      .red-balance {
        color: var(--color-danger-500);
      }

      .green-balance {
        color: var(--color-success-500);
      }

      &:hover {
        > .payment {
          color: nb-theme(icon-success-color);
        }

        > .red-balance {
          color: var(--color-danger-700);
        }

        > .green-balance {
          color: var(--color-success-700);
        }
      }
    }
  }
}
