<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header *ngIf="pageWidth() < 576">
        <div class="row">
          <div class="col-2" style="padding-left: 0; padding-right: 0">
            <button nbButton fullWidth status="primary" style="height: 100%" (click)="openTeamDialog()">
              <i class="icon-file-csv" style="font-size: 1.5rem"></i>
            </button>
          </div>
          <div class="col-10">
            <input
              nbInput
              [(ngModel)]="searchQuery"
              #code="ngModel"
              id="input-code"
              name="code"
              placeholder="Busque aqui..."
              fullWidth
              fieldSize="large"
            />
          </div>
        </div>
      </nb-card-header>
      <div
        *ngIf="!isDataLoaded; else table"
        [nbSpinner]="true"
        nbSpinnerStatus="primary"
        nbSpinnerSize="giant"
        style="width: 100%; height: 654px"
      ></div>
      <ng-template #table>
        <nb-smart-table
          class="contracts"
          *ngIf="!isPhone(); else phone"
          #smartTable
          [settings]="settings"
          [source]="source"
          (create)="openTeamDialog()"
          (edit)="contractDialog($event, true)"
          (delete)="contractDialog($event, false)"
        ></nb-smart-table>
      </ng-template>
      <ng-template #phone>
        <nb-list>
          <nb-list-item *ngFor="let contract of filtredContracts; let i = index">
            <a (click)="contractDialog({ data: contract }, true)">
              <div class="row">
                <div class="col-12" style="margin-bottom: 10px">
                  <nb-user
                    size="giant"
                    [name]="contract.name"
                    [title]="contract.code"
                    [picture]="this.invoiceService.idToProfilePicture(contract.invoice)"
                  ></nb-user>
                </div>
                <div class="col-6">
                  <p>
                    <nb-icon icon="dollar-sign" pack="fa" status="success"></nb-icon>
                    <span style="vertical-align: 0.1em">
                      {{ contract.value }}
                    </span>
                  </p>
                </div>
                <div class="col-6">
                  <nb-icon icon="clock" pack="fa" [status]="statusColor(contract.status)"></nb-icon>
                  <span style="vertical-align: 0.1em">
                    {{ contract.status }}
                  </span>
                </div>
                <div class="col-12">
                  <nb-icon icon="user-tie" pack="fa" status="primary"></nb-icon>
                  {{ contract.contractor }}
                </div>
              </div>
            </a>
          </nb-list-item>
        </nb-list>
      </ng-template>
    </nb-card>
  </div>
</div>
