@import 'app/@theme/styles/themes';

::ng-deep {
  nb-card {
    overflow-x: auto;
    overflow-y: auto;
  }

  th {
    &[ng2-st-actions-title] {
      width: 5%;
    }
  }

  table {
    text-align: center;
  }

  .payment {
    font-size: 1.5rem;
  }
  .contracts {
    .ng2-smart-action-delete-delete:hover {
      color: nb-theme(icon-success-color) !important;
    }
  }
}
