<div class="row">
  <div class="col-12">
    <nb-card
      [nbSpinner]="currentUser?.fullName ? false : true"
      nbSpinnerStatus="primary"
    >
      <nb-card-body>
        <div class="row">
          <div class="col-md-2">
            <nb-user
              [onlyPicture]="true"
              [picture]="currentUser?.profilePicture"
              [name]="currentUser?.fullName"
              size="giant"
            >
            </nb-user>
            <div style="margin-top: 20px; margin-bottom: 20px">
              <button nbButton status="primary" (click)="uploadDialog()">
                Editar foto
              </button>
            </div>
          </div>
          <div class="col-md-10">
            <form #form="ngForm" aria-labelledby="title">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-control-group">
                    <label class="label" for="input-name">Nome completo:</label>
                    <input
                      nbInput
                      [(ngModel)]="currentUser.fullName"
                      #fullName="ngModel"
                      id="input-name"
                      name="fullName"
                      placeholder="Nome completo"
                      autofocus
                      fullWidth
                      fieldSize="large"
                      [required]="validation.fullName.required"
                      [minlength]="validation.fullName.minLength"
                      [maxlength]="validation.fullName.maxLength"
                      [status]="
                        fullName.dirty
                          ? fullName.invalid
                            ? 'danger'
                            : 'success'
                          : 'basic'
                      "
                      [attr.aria-invalid]="
                        fullName.invalid && fullName.touched ? true : null
                      "
                      [disabled]="!isEditing"
                    />
                    <ng-container *ngIf="fullName.invalid && fullName.touched">
                      <p
                        class="caption status-danger"
                        *ngIf="fullName.errors?.required"
                      >
                        O nome é obrigatório!
                      </p>
                      <p
                        class="caption status-danger"
                        *ngIf="
                          fullName.errors?.minlength ||
                          fullName.errors?.maxlength
                        "
                      >
                        O nome deve conter entre
                        {{ validation.fullName.minLength }} a
                        {{ validation.fullName.maxLength }}
                        caracteres
                      </p>
                    </ng-container>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-control-group">
                    <label class="label" for="input-ename"
                      >Nome de exibição:</label
                    >
                    <input
                      nbInput
                      [(ngModel)]="currentUser.exibitionName"
                      #exibitionName="ngModel"
                      id="input-ename"
                      name="exibitionName"
                      placeholder="Nome de exibição"
                      fullWidth
                      fieldSize="large"
                      [required]="validation.exibitionName.required"
                      [minlength]="validation.exibitionName.minLength"
                      [maxlength]="validation.exibitionName.maxLength"
                      [status]="
                        exibitionName.dirty
                          ? exibitionName.invalid
                            ? 'danger'
                            : 'success'
                          : 'basic'
                      "
                      [attr.aria-invalid]="
                        exibitionName.invalid && exibitionName.touched
                          ? true
                          : null
                      "
                      [disabled]="!isEditing"
                    />
                    <ng-container
                      *ngIf="exibitionName.invalid && exibitionName.touched"
                    >
                      <p
                        class="caption status-danger"
                        *ngIf="
                          exibitionName.errors?.minlength ||
                          exibitionName.errors?.maxlength
                        "
                      >
                        O nome de exibição deve conter entre
                        {{ validation.exibitionName.minLength }} a
                        {{ validation.exibitionName.maxLength }}
                        caracteres
                      </p>
                    </ng-container>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-control-group">
                    <label class="label" for="input-email"
                      >Email pessoal:</label
                    >
                    <input
                      nbInput
                      [(ngModel)]="currentUser.email"
                      #email="ngModel"
                      id="input-email"
                      name="email"
                      pattern=".+@.+\..+"
                      placeholder="Endereço de email"
                      fullWidth
                      fieldSize="large"
                      [status]="
                        email.dirty
                          ? email.invalid
                            ? 'danger'
                            : 'success'
                          : 'basic'
                      "
                      [required]="validation.email.required"
                      [attr.aria-invalid]="
                        email.invalid && email.touched ? true : null
                      "
                      [disabled]="true"
                    />
                    <ng-container *ngIf="email.invalid && email.touched">
                      <p
                        class="caption status-danger"
                        *ngIf="email.errors?.required"
                      >
                        O email é obrigatório!
                      </p>
                      <p
                        class="caption status-danger"
                        *ngIf="email.errors?.pattern"
                      >
                        Digite um email válido!
                      </p>
                    </ng-container>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-control-group">
                    <label class="label" for="input-emailn"
                      >Email nortan:</label
                    >
                    <input
                      nbInput
                      [(ngModel)]="currentUser.emailNortan"
                      #emailNortan="ngModel"
                      id="input-emailn"
                      name="emailNortan"
                      pattern=".+@nortanprojetos.com+"
                      placeholder="Endereço de emailNortan"
                      fullWidth
                      fieldSize="large"
                      [status]="
                        emailNortan.dirty
                          ? emailNortan.invalid
                            ? 'danger'
                            : 'success'
                          : 'basic'
                      "
                      [required]="validation.emailNortan.required"
                      [attr.aria-invalid]="
                        emailNortan.invalid && emailNortan.touched ? true : null
                      "
                      [disabled]="!isEditing"
                    />
                    <ng-container
                      *ngIf="emailNortan.invalid && emailNortan.touched"
                    >
                      <p
                        class="caption status-danger"
                        *ngIf="emailNortan.errors?.required"
                      >
                        O email Nortan é obrigatório!
                      </p>
                      <p
                        class="caption status-danger"
                        *ngIf="emailNortan.errors?.pattern"
                      >
                        Digite um email Nortan válido! (@nortanprojetos.com)
                      </p>
                    </ng-container>
                  </div>
                </div>
              </div>

              <div class="form-control-group">
                <label class="label" for="input-document">CPF/CNPJ:</label>
                <input
                  nbInput
                  [(ngModel)]="currentUser.document"
                  #document="ngModel"
                  id="input-document"
                  name="document"
                  placeholder="CPF/CNPJ"
                  fullWidth
                  fieldSize="large"
                  [brmasker]="{ person: true }"
                  [required]="validation.document.required"
                  [minlength]="validation.document.minLength"
                  [maxlength]="validation.document.maxLength"
                  [status]="
                    document.dirty
                      ? document.invalid
                        ? 'danger'
                        : 'success'
                      : 'basic'
                  "
                  [attr.aria-invalid]="
                    document.invalid && document.touched ? true : null
                  "
                  [disabled]="!isEditing"
                />
                <ng-container *ngIf="document.invalid && document.touched">
                  <p
                    class="caption status-danger"
                    *ngIf="document.errors?.required"
                  >
                    O CPF/CNPJ é obrigatório!
                  </p>
                  <p
                    class="caption status-danger"
                    *ngIf="
                      document.errors?.minlength || document.errors?.maxlength
                    "
                  >
                    O CPF/CNPJ deve ter 11 ou 14 caracteres
                  </p>
                </ng-container>
              </div>
              <div class="form-control-group">
                <label class="label" for="input-phone"
                  >Telefone para contato:</label
                >
                <input
                  nbInput
                  [(ngModel)]="currentUser.phone"
                  #phone="ngModel"
                  id="input-phone"
                  name="phone"
                  placeholder="Telefone com DDD"
                  fullWidth
                  fieldSize="large"
                  [brmasker]="{ phone: true }"
                  [required]="validation.phone.required"
                  [minlength]="validation.phone.minLength"
                  [maxlength]="validation.phone.maxLength"
                  [status]="
                    phone.dirty
                      ? phone.invalid
                        ? 'danger'
                        : 'success'
                      : 'basic'
                  "
                  [attr.aria-invalid]="
                    phone.invalid && phone.touched ? true : null
                  "
                  [disabled]="!isEditing"
                />
                <ng-container *ngIf="phone.invalid && phone.touched">
                  <p
                    class="caption status-danger"
                    *ngIf="phone.errors?.required"
                  >
                    O telefone é obrigatório!
                  </p>
                  <p
                    class="caption status-danger"
                    *ngIf="phone.errors?.minlength || phone.errors?.maxlength"
                  >
                    O telefone deve conter entre
                    {{ validation.phone.minLength - 4 }} a
                    {{ validation.phone.maxLength - 4 }}
                    números
                  </p>
                </ng-container>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-control-group">
                    <label class="label" for="input-state">Estado:</label>
                    <nb-select
                      [(ngModel)]="currentUser.state"
                      #state="ngModel"
                      id="input-state"
                      name="state"
                      placeholder="Selecione o estado"
                      fullWidth
                      [required]="validation.state.required"
                      [status]="
                        state.dirty
                          ? state.invalid
                            ? 'danger'
                            : 'success'
                          : 'basic'
                      "
                      [attr.aria-invalid]="
                        state.invalid && state.touched ? true : null
                      "
                      (selectedChange)="buildCityList(state.value)"
                      [disabled]="!isEditing"
                    >
                      <nb-option *ngFor="let state of states" [value]="state">
                        {{ state }}
                      </nb-option>
                    </nb-select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-control-group">
                    <label class="label" for="input-city">Cidade:</label>
                    <nb-select
                      [(ngModel)]="currentUser.city"
                      #city="ngModel"
                      id="input-city"
                      name="city"
                      placeholder="Selecione a cidade"
                      fullWidth
                      [required]="validation.city.required"
                      [status]="
                        city.dirty
                          ? city.invalid
                            ? 'danger'
                            : 'success'
                          : 'basic'
                      "
                      [attr.aria-invalid]="
                        city.invalid && city.touched ? true : null
                      "
                      [disabled]="!isEditing"
                    >
                      <nb-option *ngFor="let city of cities" [value]="city">
                        {{ city }}
                      </nb-option>
                    </nb-select>
                  </div>
                </div>
              </div>

              <div class="form-control-group">
                <label class="label" for="input-interests">Cargo:</label>
                <nb-select
                  [(ngModel)]="currentUser.position"
                  #position="ngModel"
                  id="input-position"
                  name="position"
                  placeholder="Selecione o seu cargo"
                  fullWidth
                  size="large"
                  [required]="validation.position.required"
                  [status]="
                    position.dirty
                      ? position.invalid
                        ? 'danger'
                        : 'success'
                      : 'basic'
                  "
                  [attr.aria-invalid]="
                    position.invalid && position.touched ? true : null
                  "
                  [disabled]="!isEditing"
                >
                  <nb-option
                    *ngFor="let position of POSITIONS"
                    [value]="position"
                  >
                    {{ position }}
                  </nb-option>
                </nb-select>
              </div>

              <div class="form-control-group">
                <label class="label" for="input-education">Formação:</label>
                <textarea
                  nbInput
                  [(ngModel)]="currentUser.education"
                  #education="ngModel"
                  id="input-education"
                  name="education"
                  placeholder="Descreva sua formação"
                  fullWidth
                  fieldSize="large"
                  [required]="validation.education.required"
                  [minlength]="validation.education.minLength"
                  [maxlength]="validation.education.maxLength"
                  [status]="
                    education.dirty
                      ? education.invalid
                        ? 'danger'
                        : 'success'
                      : 'basic'
                  "
                  [attr.aria-invalid]="
                    education.invalid && education.touched ? true : null
                  "
                  [disabled]="!isEditing"
                ></textarea>
                <ng-container *ngIf="education.invalid && education.touched">
                  <p
                    class="caption status-danger"
                    *ngIf="education.errors?.required"
                  >
                    A formação é obrigatória!
                  </p>
                  <p
                    class="caption status-danger"
                    *ngIf="
                      education.errors?.minlength || education.errors?.maxlength
                    "
                  >
                    A formação deve conter entre
                    {{ validation.education.minLength }} a
                    {{ validation.education.maxLength }}
                    caracteres
                  </p>
                </ng-container>
              </div>

              <div class="form-control-group">
                <label class="label" for="input-interests"
                  >Diretoria principal:</label
                >
                <nb-select
                  [(ngModel)]="currentUser.mainDepartment"
                  #department="ngModel"
                  id="input-department"
                  name="department"
                  placeholder="Selecione a diretoria"
                  fullWidth
                  size="large"
                  [required]="validation.mainDepartment.required"
                  [status]="
                    department.dirty
                      ? department.invalid
                        ? 'danger'
                        : 'success'
                      : 'basic'
                  "
                  [attr.aria-invalid]="
                    department.invalid && department.touched ? true : null
                  "
                  [disabled]="!isEditing"
                >
                  <nb-option
                    *ngFor="let department of DEPARTMENTS"
                    [value]="department"
                  >
                    {{ department }}
                  </nb-option>
                </nb-select>
              </div>

              <div class="form-control-group">
                <label class="label" for="input-interests"
                  >Coordenações atuantes:</label
                >
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-control-group">
                      <nb-checkbox
                        [(ngModel)]="currentUser.arquitetura"
                        #arquitetura="ngModel"
                        name="arquitetura"
                        [status]="arquitetura.value ? 'success' : 'basic'"
                        [disabled]="!isEditing"
                        >Projetos Arquitetônicos</nb-checkbox
                      ><br />
                      <nb-checkbox
                        [(ngModel)]="currentUser.design"
                        #design="ngModel"
                        name="design"
                        [status]="design.value ? 'success' : 'basic'"
                        [disabled]="!isEditing"
                        >Design de Interiores</nb-checkbox
                      ><br />
                      <nb-checkbox
                        [(ngModel)]="currentUser.instalacoes"
                        #instalacoes="ngModel"
                        name="instalacoes"
                        [status]="instalacoes.value ? 'success' : 'basic'"
                        [disabled]="!isEditing"
                        >Instalações</nb-checkbox
                      ><br />
                      <nb-checkbox
                        [(ngModel)]="currentUser.civil"
                        #civil="ngModel"
                        name="civil"
                        [status]="civil.value ? 'success' : 'basic'"
                        [disabled]="!isEditing"
                        >Sistemas Estruturais</nb-checkbox
                      ><br />
                      <nb-checkbox
                        [(ngModel)]="currentUser.eletrica"
                        #eletrica="ngModel"
                        name="eletrica"
                        [status]="eletrica.value ? 'success' : 'basic'"
                        [disabled]="!isEditing"
                        >Sistemas Elétricos</nb-checkbox
                      ><br />
                      <nb-checkbox
                        [(ngModel)]="currentUser.sanitaria"
                        #sanitaria="ngModel"
                        name="sanitaria"
                        [status]="sanitaria.value ? 'success' : 'basic'"
                        [disabled]="!isEditing"
                        >Sistemas Hidrosanitários</nb-checkbox
                      ><br />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-control-group">
                      <nb-checkbox
                        [(ngModel)]="currentUser.obras"
                        #obras="ngModel"
                        name="obras"
                        [status]="obras.value ? 'success' : 'basic'"
                        [disabled]="!isEditing"
                        >Gerenciamento de Obras</nb-checkbox
                      ><br />
                      <nb-checkbox
                        [(ngModel)]="currentUser.impermeabilizacao"
                        #impermeabilizacao="ngModel"
                        name="impermeabilizacao"
                        [status]="impermeabilizacao.value ? 'success' : 'basic'"
                        [disabled]="!isEditing"
                        >Impermeabilização</nb-checkbox
                      ><br />
                      <nb-checkbox
                        [(ngModel)]="currentUser.ambiental"
                        #ambiental="ngModel"
                        name="ambiental"
                        [status]="ambiental.value ? 'success' : 'basic'"
                        [disabled]="!isEditing"
                        >Meio Ambiente</nb-checkbox
                      ><br />
                      <nb-checkbox
                        [(ngModel)]="currentUser.hidrico"
                        #hidrico="ngModel"
                        name="hidrico"
                        [status]="hidrico.value ? 'success' : 'basic'"
                        [disabled]="!isEditing"
                        >Recursos Hídricos</nb-checkbox
                      ><br />
                      <nb-checkbox
                        [(ngModel)]="currentUser.adm"
                        #adm="ngModel"
                        name="adm"
                        [status]="adm.value ? 'success' : 'basic'"
                        [disabled]="!isEditing"
                        >Administração</nb-checkbox
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="isEditing" style="margin-top: 20px">
                <div class="col-6">
                  <button
                    nbButton
                    fullWidth
                    status="danger"
                    size="large"
                    (click)="revert()"
                  >
                    Cancelar
                  </button>
                </div>
                <div class="col-6">
                  <button
                    nbButton
                    fullWidth
                    status="success"
                    size="large"
                    [disabled]="!form.valid"
                    (click)="updateUser()"
                  >
                    Salvar
                  </button>
                </div>
              </div>
              <button
                *ngIf="!isEditing"
                style="margin-top: 20px"
                nbButton
                fullWidth
                status="primary"
                size="large"
                (click)="enableEditing()"
              >
                Editar Perfil
              </button>
            </form>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
