@import '../../@theme/styles/themes';

@include nb-install-component {
  --checkbox-basic-disabled-text-color: nb-theme(checkbox-basic-text-color);
  --input-basic-disabled-text-color: nb-theme(text-basic-color);
  --select-outline-basic-disabled-text-color: nb-theme(text-basic-color);
}

:host {
  // Alterações no tamanho da foto de perfil
  .profile-picture .user-picture {
    font-size: 0.9375rem !important;
    line-height: 1.25rem !important;
    height: 4rem !important;
    width: 4rem !important;
  }
  nb-user.size-wide {
    .user-picture {
      height: 4rem !important;
      width: 4rem !important;
    }
    .initials {
      font-size: 0.9375rem !important;
      line-height: 1.25rem !important;
    }
  }
}
