<div class="row mt-3">
  <div class="col-auto">
    <h6>Checklist</h6>
  </div>
  <div class="col">
    <hr />
  </div>
</div>
<form #form="ngForm" aria-labelledby="title">
  <div class="row">
    <div class="col-3">
      <label class="label" for="input-action-name">Ação:</label>
      <input
        nbInput
        [(ngModel)]="newChecklistItem.name"
        #nameInput="ngModel"
        id="input-action-name"
        name="action-name"
        fullWidth
        fieldSize="large"
        [required]="validation.checklist.name"
        [status]="
          nameInput.dirty ? (nameInput.invalid ? 'danger' : 'success') : 'basic'
        "
        [attr.aria-invalid]="
          nameInput.invalid && nameInput.touched ? true : null
        "
      />
    </div>
    <div class="col-3">
      <label class="label" for="input-action-range">Prazo:</label>
      <input
        nbInput
        [(ngModel)]="itemRange"
        #rangeInput="ngModel"
        id="input-action-range"
        name="action-range"
        fullWidth
        fieldSize="large"
        [required]="validation.checklist.startDate"
        [nbDatepicker]="rangePicker"
        [status]="
          rangeInput.dirty
            ? rangeInput.invalid
              ? 'danger'
              : 'success'
            : 'basic'
        "
        [attr.aria-invalid]="
          rangeInput.invalid && rangeInput.touched ? true : null
        "
      />
      <nb-rangepicker #rangePicker [min]="yesterday"></nb-rangepicker>
    </div>
    <div class="col-3">
      <label class="label" for="input-action-responsible">Responsável:</label>
      <nb-completer
        [(ngModel)]="responsibleSearch"
        #invoiceModelList="ngModel"
        (selected)="newChecklistItem.responsible = $event"
        id="input-action-responsible"
        name="action-responsible"
        inputName="actionResponsible"
        nameField="fullName"
        [data$]="avaliableResponsibles"
        [placeholder]="'Digite o nome do responsável pela ação'"
        [fullWidth]="true"
        [fieldSize]="'large'"
        [textNoResults]="
          'Não foi possível achar um colaborador com o nome digitado'
        "
        [minSearchLength]="0"
      ></nb-completer>
    </div>
    <div class="col-2">
      <label class="label" for="input-action-status">Status:</label>
      <nb-select
        id="input-action-status"
        [(ngModel)]="newChecklistItem.status"
        #statusInput="ngModel"
        name="action-status"
        fullWidth
        size="large"
        [required]="validation.checklist.status"
        [status]="
          statusInput.dirty
            ? statusInput.invalid
              ? 'danger'
              : 'success'
            : 'basic'
        "
        [attr.aria-invalid]="
          statusInput.invalid && statusInput.touched ? true : null
        "
      >
        <nb-option
          *ngFor="let status of avaliableActionStatus"
          [value]="status"
        >
          {{ status }}
        </nb-option>
      </nb-select>
    </div>
    <div class="col-1">
      <button
        nbButton
        type="button"
        fullWidth
        status="primary"
        size="large"
        style="margin-top: 28px"
        (click)="registerChecklistItem()"
        [disabled]="!form.valid || !form.dirty"
      >
        +
      </button>
    </div>
  </div>
</form>
<nb-list class="overflow-hidden py-3">
  <nb-list-item
    class="pt-3 px-0"
    *ngFor="let item of contract.checklist; let i = index"
  >
    <ngx-checklist-item
      [contract]="contract"
      [itemIndex]="i"
      (itemRemoved)="removeChecklistItem(i)"
      class="w-100"
    ></ngx-checklist-item>
  </nb-list-item>
</nb-list>
