<div class="row">
  <div class="col-auto">
    <h6>Checklist</h6>
  </div>
  <div class="col">
    <hr />
  </div>
</div>
<form #form="ngForm" aria-labelledby="title">
  <div class="row">
    <div class="col-3">
      <label class="label" for="input-action-name">Ação:</label>
      <input
        nbInput
        [(ngModel)]="newChecklistItem.name"
        #nameInput="ngModel"
        id="input-action-name"
        name="action-name"
        fullWidth
        fieldSize="large"
        [required]="validation.checklist.name"
        [status]="
          nameInput.dirty ? (nameInput.invalid ? 'danger' : 'success') : 'basic'
        "
        [attr.aria-invalid]="
          nameInput.invalid && nameInput.touched ? true : null
        "
      />
    </div>
    <div class="col-2">
      <label class="label" for="input-action-start-date">Início:</label>
      <input
        nbInput
        [(ngModel)]="newChecklistItem.startDate"
        #startDateInput="ngModel"
        id="input-action-start-date"
        name="action-start-date"
        fullWidth
        fieldSize="large"
        [required]="validation.checklist.startDate"
        [nbDatepicker]="startdatepicker"
        [status]="
          startDateInput.dirty
            ? startDateInput.invalid
              ? 'danger'
              : 'success'
            : 'basic'
        "
        [attr.aria-invalid]="
          startDateInput.invalid && startDateInput.touched ? true : null
        "
      />
      <nb-datepicker #startdatepicker [max]="today"></nb-datepicker>
    </div>
    <div class="col-2">
      <label class="label" for="input-action-end-date">Fim:</label>
      <input
        nbInput
        [(ngModel)]="newChecklistItem.endDate"
        #endDateInput="ngModel"
        id="input-action-end-date"
        name="action-end-date"
        fullWidth
        fieldSize="large"
        [required]="validation.checklist.endDate"
        [nbDatepicker]="enddatepicker"
        [status]="
          endDateInput.dirty
            ? endDateInput.invalid
              ? 'danger'
              : 'success'
            : 'basic'
        "
        [attr.aria-invalid]="
          endDateInput.invalid && endDateInput.touched ? true : null
        "
      />
      <nb-datepicker #enddatepicker [min]="yesterday"></nb-datepicker>
    </div>
    <div class="col-2">
      <label class="label" for="input-action-responsible">Responsável:</label>
      <nb-completer
        [(ngModel)]="responsibleSearch"
        #invoiceModelList="ngModel"
        (selected)="newChecklistItem.responsible = $event"
        id="input-action-responsible"
        name="action-responsible"
        inputName="actionResponsible"
        nameField="fullname"
        [data$]="avaliableResponsibles"
        [placeholder]="'Digite o nome do responsável pela ação'"
        [fullWidth]="true"
        [fieldSize]="'large'"
        [textNoResults]="
          'Não foi possível achar um colaborador com o nome digitado'
        "
        [minSearchLength]="0"
      ></nb-completer>
    </div>
    <div class="col-2">
      <label class="label" for="input-action-status">Status:</label>
      <nb-select
        id="input-action-status"
        [(ngModel)]="newChecklistItem.status"
        #statusInput="ngModel"
        name="action-status"
        fullWidth
        size="large"
        [required]="validation.checklist.status"
        [status]="
          statusInput.dirty
            ? statusInput.invalid
              ? 'danger'
              : 'success'
            : 'basic'
        "
        [attr.aria-invalid]="
          statusInput.invalid && statusInput.touched ? true : null
        "
      >
        <nb-option
          *ngFor="let status of avaliableActionStatus"
          [value]="status"
        >
          {{ status }}
        </nb-option>
      </nb-select>
    </div>
    <div class="col-1">
      <button
        nbButton
        type="button"
        fullWidth
        status="primary"
        size="large"
        style="margin-top: 28px"
        (click)="registerChecklistItem()"
      >
        +
      </button>
    </div>
  </div>
</form>
<ngx-checklist-item
  *ngFor="let item of contract.checklist"
  [checklistItem]="item"
></ngx-checklist-item>
