@import 'app/@theme/styles/themes';

@include nb-install-component() {
  hr {
    margin-top: nb-theme(text-label-line-height);
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid nb-theme(text-hint-color);
  }
}
