<nb-list style="width: 100%; padding: 10px 0">
  <nb-list-item>
    <div class="row irow">
      <div class="col-3 list-name">
        <input
          nbInput
          [(ngModel)]="checklistItem.name"
          #nameInput="ngModel"
          id="input-action-name"
          name="action-name"
          fullWidth
          fieldSize="large"
          [required]="validation.checklist.name"
          [status]="
            nameInput.dirty
              ? nameInput.invalid
                ? 'danger'
                : 'success'
              : 'basic'
          "
          [attr.aria-invalid]="
            nameInput.invalid && nameInput.touched ? true : null
          "
        />
      </div>
      <div class="col-3">
        <input
          nbInput
          [(ngModel)]="itemRange"
          #rangeInput="ngModel"
          id="action-range"
          name="action-range-item"
          fullWidth
          fieldSize="large"
          [required]="validation.checklist.startDate"
          [nbDatepicker]="rangePicker"
          [status]="
            rangeInput.dirty
              ? rangeInput.invalid
                ? 'danger'
                : 'success'
              : 'basic'
          "
          [attr.aria-invalid]="
            rangeInput.invalid && rangeInput.touched ? true : null
          "
        />
        <nb-rangepicker #rangePicker [min]="yesterday"></nb-rangepicker>
      </div>
      <div class="col-3">
        <input
          nbInput
          [ngModel]="this.userService.idToName(checklistItem.responsible)"
          #responsible="ngModel"
          id="responsible"
          name="responsible"
          fullWidth
          fieldSize="large"
          [readonly]="true"
        />
      </div>
      <div class="col-2">
        <nb-select
          id="input-action-status"
          [(ngModel)]="checklistItem.status"
          #statusInput="ngModel"
          name="action-status"
          fullWidth
          size="large"
          [required]="validation.checklist.status"
          [status]="
            statusInput.dirty
              ? statusInput.invalid
                ? 'danger'
                : 'success'
              : 'basic'
          "
          [attr.aria-invalid]="
            statusInput.invalid && statusInput.touched ? true : null
          "
        >
          <nb-option
            *ngFor="let status of avaliableActionStatus"
            [value]="status"
          >
            {{ status }}
          </nb-option>
        </nb-select>
      </div>
      <div class="col-1 col-md-auto list-erase" style="text-align: right">
        <nb-icon
          class="xIcon"
          status="danger"
          icon="trash-2-outline"
          pack="eva"
          (click)="removeItem()"
          [options]="{ animation: { type: 'shake' } }"
        ></nb-icon>
      </div>
    </div>
  </nb-list-item>
</nb-list>
