<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header *ngIf="isPhone()">
        <div class="row">
          <div class="col-2" style="padding-left: 0; padding-right: 0">
            <button nbButton fullWidth status="primary" (click)="promotionDialog({})" style="height: 100%">
              <nb-icon icon="plus"></nb-icon>
            </button>
          </div>
          <div class="col-10">
            <input
              nbInput
              [(ngModel)]="searchQuery"
              #user="ngModel"
              id="input-user"
              name="user"
              placeholder="Busque aqui..."
              fullWidth
              fieldSize="large"
            />
          </div>
        </div>
      </nb-card-header>
      <div
        *ngIf="!isDataLoaded; else table"
        [nbSpinner]="true"
        nbSpinnerStatus="primary"
        nbSpinnerSize="giant"
        style="width: 100%; height: 654px"
      ></div>
      <ng-template #table>
        <ng2-smart-table
          *ngIf="!isPhone(); else phone"
          [settings]="settings"
          [source]="source"
          (edit)="promotionDialog($event)"
          (create)="promotionDialog({})"
        ></ng2-smart-table>
      </ng-template>
      <ng-template #phone>
        <nb-list>
          <nb-list-item *ngFor="let promotion of filtredPromotions; let i = index">
            <a (click)="promotionDialog({ data: promotion })">
              <div class="row">
                <div class="col-12" style="margin-bottom: 10px">
                  <nb-user size="giant" [name]="promotion.name" [title]="promotion.name"></nb-user>
                </div>
                <div class="col-12">
                  <p>
                    {{ promotion.name }}
                  </p>
                </div>
              </div>
            </a>
          </nb-list-item>
        </nb-list>
      </ng-template>
    </nb-card>
  </div>
</div>
