@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import 'app/@theme/styles/themes';

@include nb-install-component() {
  --tabset-content-padding: 0;
  --radio-height: 14px;
  --radio-width: 14px;
  --radio-text-line-height: nb-theme(--text-label-line-height);
  --radio-text-font-size: 1em;
  --radio-text-font-weight: nb-theme(text-label-font-weight);
  --radio-basic-text-color: nb-theme(text-hint-color);

  nb-radio-group {
    display: flex;

    nb-radio {
      display: flex;
    }
  }

  nb-list-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .subproducts-list {
    width: 100%;
    padding-top: 10px;
  }
  @include media-breakpoint-up(md) {
    .subproducts-list {
      margin-bottom: -17px;
    }
  }

  .paymentRow {
    width: 100%;
    margin-left: 0;
    align-items: center;
  }

  .xIcon:hover {
    color: nb-theme(icon-danger-color) !important;
  }

  .addIcon:hover {
    color: nb-theme(icon-primary-color) !important;
  }

  .danger {
    color: nb-theme(icon-danger-color) !important;
  }

  .success {
    color: nb-theme(icon-success-color) !important;
  }

  nb-tab {
    overflow: unset;
    padding-top: 16px !important;
  }

  .label-divider {
    color: nb-theme(text-hint-color);
    font-family: nb-theme(text-label-font-family);
    font-size: nb-theme(text-basic-font-size);
    font-weight: nb-theme(text-label-font-weight);
    line-height: nb-theme(text-label-line-height);
  }

  .irow {
    width: 100%;
    margin-left: 0;
    align-items: center;
  }

  hr {
    margin-top: nb-theme(text-label-line-height);
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid nb-theme(text-hint-color);
  }
}

::ng-deep {
  nb-tooltip {
    white-space: pre-wrap;
    max-width: 800px;
  }
  .col-auto {
    padding-right: 0;
  }
  nb-radio {
    label {
      padding-top: 0.1rem !important;
      padding-bottom: 0.1rem !important;
    }
  }
}
