@import 'app/@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  .irow {
    width: 100%;
    margin-left: 0;
    align-items: center;
  }
}
