<nb-smart-table
  #smartTable
  *ngIf="!isPhone(); else phone"
  [settings]="settings"
  [source]="source"
  (create)="openDialog()"
  (edit)="openDialog(expenseIndex($event.data.code))"
  (delete)="confirmationDialog(expenseIndex($event.data.code))"
></nb-smart-table>
<ng-template #phone>
  <div class="row">
    <div class="col-2" style="padding-left: 0; padding-right: 0">
      <button
        nbButton
        fullWidth
        status="primary"
        style="height: 100%"
        [disabled]="!isEditionGranted"
        (click)="openDialog()"
      >
        <i class="nb-plus" style="font-size: 1.5rem"></i>
      </button>
    </div>
    <div class="col-10">
      <input
        nbInput
        [(ngModel)]="searchQuery"
        #search="ngModel"
        id="input-search"
        name="search"
        placeholder="Busque aqui..."
        fullWidth
        fieldSize="large"
      />
    </div>
  </div>
  <nb-list>
    <nb-list-item style="padding-left: 0px; padding-right: 0;" *ngFor="let expense of filtredExpenses; let i = index">
      <a (click)="openDialog(i)" class="row irow">
        <div class="col-2" style="padding-left: 0;">
          <nb-user
            [onlyPicture]="true"
            [name]="
              [expense.author, userService.idToUser.bind(userService), 'fullName'] | transformPipe: idToProperty
            "
            [picture]="
              [expense.author, userService.idToUser.bind(userService), 'profilePicture']
                | transformPipe: idToProperty
            "
          ></nb-user>
        </div>
        <div class="col-10">#{{ +i + 1 }} {{ expense.description }}</div>
        <div class="col-7" style="padding-left: 0;  padding-top: 10px;">
          <nb-icon icon="dollar-sign" pack="fa" status="success"></nb-icon>
          <span style="vertical-align: 0.1em">
            {{ expense.value }}
          </span>
        </div>
        <div class="col-5" style="padding-left: 0; padding-top: 10px; padding-right: 0;">
          <nb-icon icon="calendar-alt" pack="fa" status="primary"></nb-icon>
          <span style="vertical-align: 0.1em">
            {{ [expense.created] | transformPipe: formatDate }}
          </span>
        </div>
      </a>
      <div  style="text-align: right; margin-left: 30px;" *ngIf="isEditionGranted">
        <nb-icon
          class="xIcon"
          status="basic"
          icon="trash-2-outline"
          pack="eva"
          (click)="confirmationDialog(i)"
          [options]="{ animation: { type: 'shake' } }"
        ></nb-icon>
      </div>
    </nb-list-item>
  </nb-list>
</ng-template>
