<div class="row">
  <div class="col-auto">
    <label class="label-divider">Geral</label>
  </div>
  <div class="col">
    <hr />
  </div>
</div>
<div class="row" style="text-align: center">
  <div class="col-6 col-md">
    <div class="form-control-group">
      <label class="label" for="input-nf">NF(%)</label>
      <p>
        <b>{{ options.notaFiscal }}</b>
      </p>
    </div>
  </div>
  <div class="col-6 col-md">
    <div class="form-control-group">
      <label class="label" for="input-nortan">Empresa(%)</label>
      <p>
        <b>{{ options.nortanPercentage }}</b>
      </p>
    </div>
  </div>
  <div class="col-6 col-md">
    <div class="form-control-group">
      <label class="label" for="input-liquid">Bruto a receber</label>
      <p>
        <b>
          {{
            [removePercentage(invoice.value, clonedContract.ISS), clonedContract]
              | transformPipe: contractService.subtractComissions.bind(contractService)
          }}
        </b>
      </p>
    </div>
  </div>
  <div class="col-6 col-md">
    <div class="form-control-group">
      <label class="label" for="input-liquid">Líquido a receber</label>
      <p>
        <b>{{ clonedContract.locals.liquid }}</b>
      </p>
    </div>
  </div>
  <div class="col-6 col-md">
    <div class="form-control-group">
      <label class="label" for="input-liquid">Comissão</label>
      <p>
        <b>{{ comissionSum }}</b>
      </p>
    </div>
  </div>
  <div class="col-6 col-md">
    <div class="form-control-group">
      <label class="label" for="input-value">Saldo do contrato</label>
      <p>
        <b>{{ clonedContract.locals.notPaid }}</b>
      </p>
    </div>
  </div>
</div>
<nb-list style="width: 100%; padding: 10px 0; text-align: center;" class="balance-table">
  <nb-list-item class="noPadding" style="display: inline-block; width: auto;">
    <div class="row irow">
      <div class="col-md-12 d-flex">
        <div class="col-6 col-md-2"><b>Colaborador</b></div>
        <div class="col-8 col-md-3 d-flex" style="padding: 0">
          <div class="col-6 col-md-6"><b>Bruto</b></div>
          <div class="col-6 col-md-6"><b>Líquido</b></div>
        </div>
        <div class="col-8 col-md-3 d-flex" style="padding: 0">
          <div class="col-6 col-md-6"><b>%</b></div>
          <div class="col-6 col-md-6"><b>Recebido</b></div>
        </div>
        <div class="col-12 col-md-4 d-flex" style="padding: 0">
          <div class="col-4 col-md-4"><b>Saldo</b></div>
          <div class="col-4 col-md-4"><b>Despesas</b></div>
          <div class="col-4 col-md-4"><b>Balanço</b></div>
        </div>
      </div>
    </div>
  </nb-list-item>
  <nb-list-item *ngFor="let member of invoice.team; let i = index; trackBy: trackByIndex" class="noPadding">
    <div class="row irow">
      <div class="col-md-12 d-flex">
        <div class="col-6 col-md-2">
          {{ [member.user, userService.idToUser.bind(userService), 'fullName'] | transformPipe: idToProperty }}
        </div>
        <div class="col-8 col-md-3 d-flex" style="padding: 0">
          <div class="col-6 col-md-6">
            {{
              [
                contractService.netValueBalance(member.distribution, clonedContract, member.user),
                options.notaFiscal,
                options.nortanPercentage
              ] | transformPipe: contractService.toGrossValue.bind(contractService)
            }}
          </div>
          <div class="col-6 col-md-6">
            {{
              [member.distribution, clonedContract, member.user]
                | transformPipe: contractService.netValueBalance.bind(contractService)
            }}
          </div>
        </div>
        <div class="col-8 col-md-3 d-flex" style="padding: 0">
          <div class="col-6 col-md-6">
            {{
              [member.distribution, member.user, clonedContract]
                | transformPipe: contractService.percentageToReceive.bind(contractService)
            }}
          </div>
          <div class="col-6 col-md-6">
            {{ [member.user, clonedContract] | transformPipe: contractService.receivedValue.bind(contractService) }}
          </div>
        </div>
        <div class="col-12 col-md-4 d-flex" style="padding: 0">
          <div class="col-4 col-md-4">
            {{
              [member.distribution, member.user, clonedContract]
                | transformPipe: contractService.notPaidValue.bind(contractService)
            }}
          </div>
          <div class="col-4 col-md-4">
            {{
              [member.user, clonedContract] | transformPipe: contractService.getMemberExpensesSum.bind(contractService)
            }}
          </div>
          <div class="col-4 col-md-4">
            {{ [member.user, clonedContract] | transformPipe: contractService.getMemberBalance.bind(contractService) }}
          </div>
        </div>
      </div>
    </div>
  </nb-list-item>
</nb-list>
<div class="row" style="text-align: center">
  <div class="col-12 col-md">
    <div class="form-control-group">
      <label class="label" for="input-balance">Caixa:</label>
      <p
        [ngClass]="{
          success: clonedContract.locals.balance[0] != '-',
          danger: clonedContract.locals.balance[0] == '-'
        }"
      >
        {{ clonedContract.locals.balance }}
      </p>
    </div>
  </div>
  <div class="col-6 col-md">
    <div class="form-control-group">
      <label class="label" for="input-paid">Valor pago:</label>
      <p>{{ options.paid }}</p>
    </div>
  </div>
  <div class="col-6 col-md">
    <div class="form-control-group">
      <label class="label" for="input-paid">Despesas:</label>
      <p>{{ expenseSourceSum().reverse()[1].value }}</p>
    </div>
  </div>
  <div class="col-6 col-md">
    <div class="form-control-group">
      <label class="label" for="input-interest">Parcelas criadas:</label>
      <p>{{ options.interest }}</p>
    </div>
  </div>
  <div class="col-6 col-md">
    <div class="form-control-group">
      <label class="label" for="input-total">Parcelas totais:</label>
      <p>{{ clonedContract.total }}</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-auto">
    <label class="label-divider">Despesas</label>
  </div>
  <div class="col">
    <hr />
  </div>
</div>
<nb-tabset fullWidth>
  <nb-tab
    tabId="contract-tab"
    [tabTitle]="isPhone() ? '' : 'Contrato'"
    [tabIcon]="{
      icon: 'file-invoice',
      pack: 'fac'
    }"
    responsive
  >
    <div class="row" style="text-align: center">
      <div class="col-md-6">
        <div class="form-control-group">
          <nb-list style="width: 100%; padding: 10px 0; text-align: center">
            <nb-list-item
              *ngFor="
                let expense of this.contractService.expenseTypesSum(false, clonedContract) | async;
                let i = index;
                trackBy: trackByIndex
              "
            >
              <div class="row irow">
                <div class="col-md-6">
                  <b>{{ expense.type }}</b>
                </div>
                <div class="col-md-6">{{ expense.value }}</div>
              </div>
            </nb-list-item>
          </nb-list>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-control-group">
          <nb-list style="width: 100%; padding: 10px 0; text-align: center">
            <nb-list-item *ngFor="let expense of expenseSourceSum(); let i = index; trackBy: trackByIndex">
              <div class="row irow">
                <div class="col-md-6">
                  <b>{{ expense.user }}</b>
                </div>
                <div class="col-md-6">{{ expense.value }}</div>
              </div>
            </nb-list-item>
          </nb-list>
        </div>
      </div>
    </div>
  </nb-tab>
  <nb-tab [tabTitle]="isPhone() ? '' : 'Cliente'" [tabIcon]="contractorIcon" responsive>
    <div class="row" style="text-align: center">
      <div class="col-12" style="text-align: center">
        <div class="form-control-group">
          <nb-list style="width: 100%; padding: 10px 0; text-align: center">
            <nb-list-item
              *ngFor="
                let expense of contractService.expenseTypesSum(true, clonedContract) | async;
                let i = index;
                trackBy: trackByIndex
              "
            >
              <div class="row irow">
                <div class="col-md-6">
                  <b>{{ expense.type }}</b>
                </div>
                <div class="col-md-6">{{ expense.value }}</div>
              </div>
            </nb-list-item>
          </nb-list>
        </div>
      </div>
    </div>
  </nb-tab>
  <nb-tab [tabTitle]="isPhone() ? '' : 'Gráfico'" [tabIcon]="chartIcon" responsive>
    <div class="row" style="text-align: center">
      <div class="col-12">
        <ngx-echarts-bar [contractId]="contractId"></ngx-echarts-bar>
      </div>
    </div>
  </nb-tab>
</nb-tabset>
