<div
  class="row justify-content-center"
  [ngStyle]="{
    'width.px': windowWidth()
  }"
>
  <div class="col-12 col-md-8">
    <nb-card
      [ngStyle]="{
        'max-height.px': windowHeight()
      }"
    >
      <nb-card-header>
        {{ title }}
        <div class="buttons">
          <a
            *ngIf="course._id != undefined"
            nbButton
            ghost
            target="_blank"
            nbTooltip="Exportar para CSV"
            [nbTooltipTrigger]="utils.isPhone() ? utils.tooltipTriggers.NOOP : utils.tooltipTriggers.HINT"
            nbTooltipPlacement="bottom"
            nbTooltipStatus="info"
            (click)="exportCSV()"
          >
            <i class="icon-file-csv" style="font-size: 1.25rem"></i>
          </a>
          <button
            nbButton
            ghost
            nbTooltip="Fechar"
            [nbTooltipTrigger]="utils.isPhone() ? utils.tooltipTriggers.NOOP : utils.tooltipTriggers.HINT"
            nbTooltipPlacement="bottom"
            nbTooltipStatus="info"
            (click)="dismiss()"
          >
            <nb-icon icon="close-outline" pack="nebular-essentials"></nb-icon>
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <ngx-course-item
          *ngIf="componentType == dTypes.COURSE"
          (submit)="dismiss()"
          [iCourse]="course"
          [isDialogBlocked]="isBlocked"
        ></ngx-course-item>
        <ngx-participant-item
          *ngIf="componentType == dTypes.PARTICIPANT"
          (submit)="dismiss()"
          [iCourse]="course"
          [iParticipant]="participant"
        ></ngx-participant-item>
        <ngx-resource-item
          *ngIf="componentType == dTypes.RESOURCE"
          (submit)="dismiss()"
          [iCourse]="course"
        ></ngx-resource-item>
      </nb-card-body>
    </nb-card>
  </div>
</div>
