@import '../../../@theme/styles/themes';

@include nb-install-component() {
  --card-margin-bottom: 0;

  ::ng-deep {
    nb-card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
    }
    .buttons {
      display: flex;
      justify-content: flex-end;

      [nbButton] {
        flex: 0 0 3rem;
      }
    }
  }
}
