<div>
  <nb-card
    [ngStyle]="{
      'max-height.px': maxHeight,
      'height.px': isExpanded ? maxHeight : minHeight
    }"
  >
    <nb-card-header #cardHeader>{{ title }}</nb-card-header>
    <nb-list
      #list
      [ngStyle]="{
        'overflow-y': hasOverflow && isExpanded ? 'scroll' : 'hidden'
      }"
    >
      <nb-list-item #listItem *ngFor="let item of itens; let i = index; trackBy: trackByIndex">
        {{ item }}
      </nb-list-item>
    </nb-list>
  </nb-card>
  <button
    *ngIf="!hasUnderflow"
    nbButton
    type="button"
    fullWidth
    size="small"
    class="show-more"
    (click)="toggleExpansive()"
  >
    Mostrar {{ isExpanded ? 'menos' : 'mais' }}
  </button>
</div>
