<div>
  <nb-card
    [ngStyle]="{
      'max-height.rem': maxHeight,
      'height.rem': isExpanded ? maxHeight : minHeight
    }"
  >
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body *ngIf="isLoading || items.length == 0; else listTemplate">
      <div
        *ngIf="isLoading"
        class="loading-spinner"
        [nbSpinner]="true"
        nbSpinnerStatus="primary"
        nbSpinnerSize="giant"
      ></div>
      <span *ngIf="!isLoading && items.length == 0">Não há itens para mostrar.</span>
    </nb-card-body>
    <ng-template #listTemplate>
      <nb-list
        #list
        [ngStyle]="{
          'overflow-y': items.length > max && isExpanded ? 'scroll' : 'hidden'
        }"
      >
        <nb-list-item *ngFor="let item of items; let i = index; trackBy: trackByIndex">
          {{ i + 1 }} - {{ item }}
        </nb-list-item>
      </nb-list>
    </ng-template>
  </nb-card>
  <button
    *ngIf="items.length > min"
    nbButton
    type="button"
    fullWidth
    size="small"
    class="show-more"
    (click)="toggleExpansive()"
  >
    Mostrar {{ isExpanded ? 'menos' : 'mais' }}
  </button>
</div>
