<div
  class="row justify-content-center"
  [ngStyle]="{
    'width.px': windowWidth()
  }"
>
  <div class="col-md-8">
    <nb-card
      [ngStyle]="{
        'max-height.px': windowHeight()
      }"
    >
      <nb-card-header>
        {{ title }}
        <div class="buttons">
          <button
            nbButton
            ghost
            *ngIf="isPhone() && invoice._id !== undefined && !invoice.model"
            (click)="generatePDF()"
          >
            <nb-icon icon="file-pdf" pack="far" style="font-size: 18px"></nb-icon>
          </button>
          <button
            nbButton
            ghost
            *ngIf="!isPhone() && invoice._id !== undefined && !invoice.model"
            nbTooltip="Visualizar orçamento"
            nbTooltipPlacement="bottom"
            nbTooltipStatus="info"
            (click)="previewPDF()"
          >
            <nb-icon icon="eye" pack="eva" style="font-size: 18px"></nb-icon>
          </button>
          <button
            nbButton
            ghost
            *ngIf="invoice._id !== undefined && !invoice.model"
            nbTooltip="Usar como modelo"
            [nbTooltipTrigger]="isPhone() ? tooltipTriggers.NOOP : tooltipTriggers.HINT"
            nbTooltipPlacement="bottom"
            nbTooltipStatus="info"
            (click)="useAsModel()"
          >
            <nb-icon icon="file-add-outline" pack="eva"></nb-icon>
          </button>
          <button
            nbButton
            ghost
            nbTooltip="Fechar"
            [nbTooltipTrigger]="isPhone() ? tooltipTriggers.NOOP : tooltipTriggers.HINT"
            nbTooltipPlacement="bottom"
            nbTooltipStatus="info"
            (click)="dismiss()"
          >
            <nb-icon icon="close-outline" pack="nebular-essentials"></nb-icon>
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <ngx-invoice-item
          [iInvoice]="invoice"
          [tempInvoice]="tempInvoice"
          [isDialogBlocked]="isBlocked"
          [isFormDirty]="isFormDirty"
          (submit)="dismiss()"
        ></ngx-invoice-item>
      </nb-card-body>
    </nb-card>
  </div>
</div>
