@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  --radio-height: 14px;
  --radio-width: 14px;
  --radio-text-line-height: nb-theme(--text-label-line-height);
  --radio-text-font-size: 1em;
  --radio-text-font-weight: nb-theme(text-label-font-weight);
  --radio-basic-text-color: nb-theme(text-hint-color);

  nb-radio-group {
    nb-radio {
      display: flex;
      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }
    }
    @include media-breakpoint-down(md) {
      nb-radio:last-child {
        margin-bottom: 20px;
      }
    }
  }

  .irow {
    width: 100%;
    margin-left: 0;
    align-items: center;
  }

  .xIcon:hover {
    color: nb-theme(icon-danger-color) !important;
  }
}
