@import 'app/@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  nb-list-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .typeRow {
    width: 100%;
    margin-left: 0;
    align-items: center;
  }

  .xIcon:hover {
    color: nb-theme(icon-danger-color) !important;
  }

  .addIcon:hover {
    color: nb-theme(icon-primary-color) !important;
  }

  .subtypes-list {
    width: 100%;
    padding-top: 10px;
    margin-bottom: -17px;
    .xIcon {
      float: left;
    }
  }

  .table-invoice,
  .table-profile,
  .table-modules,
  .table-onedrive {
    text-align: left;
    .td-left {
      padding-right: 20px;
      padding-bottom: 12px;
    }
  }

  .table-notification {
    .td-left {
      padding-right: 20px;
      padding-bottom: 12px;
    }
  }

  .table-notification td,
  th {
    text-align: center;
    border-right: var(--tabset-divider-width) var(--tabset-divider-style) var(--tabset-divider-color);
    padding-left: 5px;
    padding-right: 5px;
  }
}

@include media-breakpoint-down(md) {
  .toggle-list {
    border: none !important;
  }
  .trash {
    position: relative;
    bottom: 23px;
  }
}

.toggle-list {
  height: auto;
  border-right: var(--tabset-divider-width) var(--tabset-divider-style) var(--tabset-divider-color);
  margin-bottom: 11px;
}

.label-divider {
  color: nb-theme(text-hint-color);
  font-family: nb-theme(text-label-font-family);
  font-size: nb-theme(text-basic-font-size);
  font-weight: nb-theme(text-label-font-weight);
  line-height: nb-theme(text-label-line-height);
}

hr {
  margin-top: nb-theme(text-label-line-height);
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid nb-theme(text-hint-color);
}

::ng-deep {
  .tabset .tab a {
    align-items: center;
  }

  .tabset .tab[data-tab-id='invoice-tab'] a nb-icon {
    top: -5px;
    position: relative;
  }

  nb-tooltip {
    white-space: pre-wrap;
    max-width: 25rem;
    .content span {
      width: 100%;
    }
  }
}
