<nb-tabset fullWidth>
  <nb-tab [tabTitle]="utils.isPhone() ? '' : 'Despesas'" [tabIcon]="expenseIcon" responsive>
    <form (ngSubmit)="updateConfig()" #form="ngForm" aria-labelledby="title">
      <div class="row" style="margin-top: 8px">
        <div class="col-auto">
          <label class="label-divider">Lista de despesas</label>
        </div>
        <div class="col">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-md-11">
          <div class="form-control-group">
            <label class="label" for="input-expense-type">Tipo da despesa:</label>
            <input
              nbInput
              [(ngModel)]="newExpense.name"
              #expenseType="ngModel"
              id="input-expense-type"
              name="expenseType"
              placeholder="Nome do tipo da despesa"
              fullWidth
              fieldSize="large"
              [status]="expenseType.value ? 'success' : 'basic'"
              [attr.aria-invalid]="expenseType.invalid && expenseType.touched ? true : null"
            />
          </div>
        </div>
        <div class="col-2 col-md-1">
          <button
            nbButton
            type="button"
            fullWidth
            status="primary"
            size="large"
            style="margin-top: 28px"
            [disabled]="expenseType.value?.length == 0"
            (click)="addExpenseType()"
          >
            <nb-icon status="basic" icon="plus" pack="eva"></nb-icon>
          </button>
        </div>
      </div>
      <nb-list style="width: 100%; padding: 10px 0">
        <nb-list-item *ngFor="let eType of config.expenseTypes; let i = index; trackBy: utils.trackByIndex">
          <div class="row typeRow">
            <div class="col-9 col-md-11">
              <input
                nbInput
                [(ngModel)]="eType.name"
                id="input-expense-type-{{ i }}"
                name="expense-type-{{ i }}"
                placeholder="Nome do tipo da despesa"
                fullWidth
                [status]="config.expenseTypes[i].name.length == 0 ? 'danger' : 'basic'"
              />
              <nb-list class="subtypes-list" *ngIf="eType.subTypes.length > 0">
                <nb-list-item *ngFor="let subType of eType.subTypes; let j = index; trackBy: utils.trackByIndex">
                  <div class="row typeRow">
                    <div class="col-10 col-md-11">
                      <input
                        nbInput
                        [(ngModel)]="eType.subTypes[j]"
                        id="input-subtype-{{ i }}-{{ j }}"
                        name="subtype-{{ i }}-{{ j }}"
                        placeholder="Nome do subtipo da despesa"
                        fullWidth
                        [status]="eType.subTypes[j].length == 0 ? 'danger' : 'basic'"
                      />
                    </div>
                    <div class="col-2 col-md-1" style="text-align: right">
                      <nb-icon
                        class="xIcon"
                        status="basic"
                        icon="trash-2-outline"
                        pack="eva"
                        (click)="eType.subTypes.splice(j, 1)"
                        [options]="{ animation: { type: 'shake' } }"
                      ></nb-icon>
                    </div>
                  </div>
                </nb-list-item>
              </nb-list>
            </div>
            <div class="col-3 col-md-1" style="text-align: right">
              <nb-icon
                class="addIcon"
                status="basic"
                icon="plus-outline"
                pack="eva"
                (click)="eType.subTypes.push('')"
                [options]="{ animation: { type: 'pulse' } }"
                nbTooltip="Adicionar subtipo da despesa"
                nbTooltipPlacement="top"
                nbTooltipStatus="info"
              ></nb-icon>
              <nb-icon
                class="xIcon"
                status="basic"
                icon="trash-2-outline"
                pack="eva"
                (click)="config.expenseTypes.splice(i, 1)"
                [options]="{ animation: { type: 'shake' } }"
              ></nb-icon>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
      <button nbButton fullWidth status="primary" size="large" [disabled]="!form.valid">Atualizar</button>
    </form>
  </nb-tab>
  <nb-tab tabId="invoice-tab" [tabTitle]="utils.isPhone() ? '' : 'Orçamentos'" [tabIcon]="invoiceIcon" responsive>
    <form (ngSubmit)="updateConfig()" #form="ngForm" aria-labelledby="title">
      <div class="form-control-group">
        <table class="table-invoice">
          <tbody>
            <tr>
              <td class="td-left">Tipo de orçamento:</td>
              <td>
                <nb-toggle
                  [(ngModel)]="config.invoiceConfig.hasType"
                  name="toggle-type"
                  labelPosition="start"
                ></nb-toggle>
              </td>
            </tr>
            <tr>
              <td class="td-left">Cabeçalho:</td>
              <td>
                <nb-toggle
                  [(ngModel)]="config.invoiceConfig.hasHeader"
                  name="toggle-header"
                  labelPosition="start"
                ></nb-toggle>
              </td>
            </tr>
            <tr>
              <td class="td-left">Lista de colaboradores:</td>
              <td>
                <nb-toggle
                  [(ngModel)]="config.invoiceConfig.hasTeam"
                  name="toggle-team"
                  labelPosition="start"
                ></nb-toggle>
              </td>
            </tr>
            <tr>
              <td class="td-left">Etapa preliminar:</td>
              <td>
                <nb-toggle
                  [(ngModel)]="config.invoiceConfig.hasPremilary"
                  name="toggle-stage-preliminary"
                  labelPosition="start"
                ></nb-toggle>
              </td>
            </tr>
            <tr>
              <td class="td-left">Etapa executiva:</td>
              <td>
                <nb-toggle
                  [(ngModel)]="config.invoiceConfig.hasExecutive"
                  name="toggle-stage-executive"
                  labelPosition="start"
                ></nb-toggle>
              </td>
            </tr>
            <tr>
              <td class="td-left">Etapa complementar:</td>
              <td>
                <nb-toggle
                  [(ngModel)]="config.invoiceConfig.hasComplementary"
                  name="toggle-stage-complementary"
                  labelPosition="start"
                ></nb-toggle>
              </td>
            </tr>
            <tr>
              <td class="td-left">Parcelamentos:</td>
              <td>
                <nb-toggle
                  [(ngModel)]="config.invoiceConfig.hasStageName"
                  name="toggle-stage-name"
                  labelPosition="start"
                ></nb-toggle>
              </td>
            </tr>
            <tr>
              <td class="td-left">Importantes:</td>
              <td>
                <nb-toggle
                  [(ngModel)]="config.invoiceConfig.hasImportants"
                  name="toggle-importants"
                  labelPosition="start"
                ></nb-toggle>
              </td>
            </tr>
            <tr>
              <td class="td-left">Lista de materiais:</td>
              <td>
                <nb-toggle
                  [(ngModel)]="config.invoiceConfig.hasMaterialList"
                  name="toggle-material-list"
                  labelPosition="start"
                ></nb-toggle>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button nbButton fullWidth status="primary" size="large">Atualizar</button>
    </form>
  </nb-tab>
</nb-tabset>
