<nb-tabset fullWidth>
  <nb-tab [tabTitle]="isPhone() ? '' : 'Despesas'" [tabIcon]="expenseIcon" responsive>
    <form (ngSubmit)="updateConfig()" #form="ngForm" aria-labelledby="title">
      <div class="row" style="margin-top: 8px">
        <div class="col-auto">
          <label class="label-divider">Lista de despesas</label>
        </div>
        <div class="col">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-10 col-md-11">
          <div class="form-control-group">
            <label class="label" for="input-expense-type">Tipo da despesa</label>
            <input
              nbInput
              [(ngModel)]="newExpense.name"
              #expenseType="ngModel"
              id="input-expense-type"
              name="expenseType"
              placeholder="Nome do tipo da despesa"
              fullWidth
              fieldSize="large"
              [status]="expenseType.value ? 'success' : 'basic'"
              [attr.aria-invalid]="expenseType.invalid && expenseType.touched ? true : null"
            />
          </div>
        </div>
        <div class="col-2 col-md-1">
          <button
            nbButton
            type="button"
            fullWidth
            status="primary"
            size="large"
            style="margin-top: 28px"
            [disabled]="!expenseType.value"
            (click)="addExpenseType()"
          >
            <nb-icon status="basic" icon="plus" pack="eva"></nb-icon>
          </button>
        </div>
      </div>
      <nb-list style="width: 100%; padding: 10px 0">
        <nb-list-item *ngFor="let eType of config.expenseTypes; let i = index; trackBy: trackByIndex">
          <div class="row typeRow">
            <div class="col-9 col-md-11">
              <input
                nbInput
                [(ngModel)]="eType.name"
                id="input-expense-type-{{ i }}"
                name="expense-type-{{ i }}"
                placeholder="Nome do tipo da despesa"
                fullWidth
                [status]="config.expenseTypes[i].name.length == 0 ? 'danger' : 'basic'"
              />
              <nb-list class="subtypes-list" *ngIf="eType.subTypes.length > 0">
                <nb-list-item *ngFor="let subType of eType.subTypes; let j = index; trackBy: trackByIndex">
                  <div class="row typeRow">
                    <div class="col-10 col-md-11">
                      <input
                        nbInput
                        [(ngModel)]="eType.subTypes[j]"
                        id="input-subtype-{{ i }}-{{ j }}"
                        name="subtype-{{ i }}-{{ j }}"
                        placeholder="Nome do subtipo da despesa"
                        fullWidth
                        [status]="eType.subTypes[j].length == 0 ? 'danger' : 'basic'"
                      />
                    </div>
                    <div class="col-2 col-md-1" style="text-align: right">
                      <nb-icon
                        class="xIcon"
                        status="basic"
                        icon="trash-2-outline"
                        pack="eva"
                        (click)="eType.subTypes.splice(j, 1)"
                        [options]="{ animation: { type: 'shake' } }"
                      ></nb-icon>
                    </div>
                  </div>
                </nb-list-item>
              </nb-list>
            </div>
            <div class="col-3 col-md-1" style="text-align: right">
              <nb-icon
                class="addIcon"
                status="basic"
                icon="plus-outline"
                pack="eva"
                (click)="eType.subTypes.push('')"
                [options]="{ animation: { type: 'pulse' } }"
                nbTooltip="Adicionar subtipo da despesa"
                nbTooltipPlacement="top"
                nbTooltipStatus="info"
              ></nb-icon>
              <nb-icon
                class="xIcon"
                status="basic"
                icon="trash-2-outline"
                pack="eva"
                (click)="config.expenseTypes.splice(i, 1)"
                [options]="{ animation: { type: 'shake' } }"
              ></nb-icon>
            </div>
          </div>
        </nb-list-item>
      </nb-list>
      <button nbButton fullWidth status="primary" size="large" [disabled]="!form.valid">Atualizar</button>
    </form>
  </nb-tab>
  <nb-tab tabId="invoice-tab" [tabTitle]="isPhone() ? '' : 'Orçamentos'" [tabIcon]="invoiceIcon" responsive>
    <form (ngSubmit)="updateConfig()" #invoiceConfigForm="ngForm" aria-labelledby="title">
      <div class="row">
        <div class="toggle-list col-12 col-lg-auto">
          <div class="form-control-group">
            <table class="table-invoice">
              <tbody>
                <tr>
                  <td class="td-left">Tipo de orçamento</td>
                  <td>
                    <nb-toggle
                      [(ngModel)]="config.invoiceConfig.hasType"
                      name="toggle-type"
                      labelPosition="start"
                    ></nb-toggle>
                  </td>
                </tr>
                <tr>
                  <td class="td-left">Cabeçalho</td>
                  <td>
                    <nb-toggle
                      [(ngModel)]="config.invoiceConfig.hasHeader"
                      name="toggle-header"
                      labelPosition="start"
                    ></nb-toggle>
                  </td>
                </tr>
                <tr>
                  <td class="td-left">Lista de colaboradores</td>
                  <td>
                    <nb-toggle
                      [(ngModel)]="config.invoiceConfig.hasTeam"
                      name="toggle-team"
                      labelPosition="start"
                    ></nb-toggle>
                  </td>
                </tr>
                <tr>
                  <td class="td-left">Etapa preliminar</td>
                  <td>
                    <nb-toggle
                      [(ngModel)]="config.invoiceConfig.hasPreliminary"
                      name="toggle-stage-preliminary"
                      labelPosition="start"
                    ></nb-toggle>
                  </td>
                </tr>
                <tr>
                  <td class="td-left">Etapa executiva</td>
                  <td>
                    <nb-toggle
                      [(ngModel)]="config.invoiceConfig.hasExecutive"
                      name="toggle-stage-executive"
                      labelPosition="start"
                    ></nb-toggle>
                  </td>
                </tr>
                <tr>
                  <td class="td-left">Etapa complementar</td>
                  <td>
                    <nb-toggle
                      [(ngModel)]="config.invoiceConfig.hasComplementary"
                      name="toggle-stage-complementary"
                      labelPosition="start"
                    ></nb-toggle>
                  </td>
                </tr>
                <tr>
                  <td class="td-left">Parcelamentos</td>
                  <td>
                    <nb-toggle
                      [(ngModel)]="config.invoiceConfig.hasStageName"
                      name="toggle-stage-name"
                      labelPosition="start"
                    ></nb-toggle>
                  </td>
                </tr>
                <tr>
                  <td class="td-left">Importantes</td>
                  <td>
                    <nb-toggle
                      [(ngModel)]="config.invoiceConfig.hasImportants"
                      name="toggle-importants"
                      labelPosition="start"
                    ></nb-toggle>
                  </td>
                </tr>
                <tr>
                  <td class="td-left">Lista de materiais</td>
                  <td>
                    <nb-toggle
                      [(ngModel)]="config.invoiceConfig.hasMaterialList"
                      name="toggle-material-list"
                      labelPosition="start"
                    ></nb-toggle>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-12 col-lg">
          <div class="row" style="align-items: end">
            <div class="col-12">
              <div class="form-control-group">
                <label class="label" for="input-code-abbreviation">
                  Sigla do código
                  <nb-icon
                    status="info"
                    icon="info"
                    pack="eva"
                    [options]="{ animation: { type: 'pulse' } }"
                    nbTooltip="Por exemplo, caso a sigla seja ABC, o código será ORC-00/2022-ABC/*SIGLA-DO-TIME*-00"
                    nbTooltipPlacement="top"
                    nbTooltipStatus="info"
                  ></nb-icon>
                </label>
                <input
                  nbInput
                  [(ngModel)]="config.invoiceConfig.codeAbbreviation"
                  #codeAbbreviation="ngModel"
                  id="input-code-abbreviation"
                  name="codeAbbreviation"
                  fullWidth
                  fieldSize="large"
                  placeholder="Sigla do código"
                  [status]="codeAbbreviation.dirty ? (codeAbbreviation.invalid ? 'danger' : 'success') : 'basic'"
                  [required]="validation.abbreviation.required"
                  [minlength]="validation.abbreviation.minLength"
                  [attr.aria-invalid]="codeAbbreviation.invalid && codeAbbreviation.touched ? true : null"
                />
                <ng-container *ngIf="codeAbbreviation.invalid && codeAbbreviation.touched">
                  <p class="caption status-danger" *ngIf="codeAbbreviation.errors?.required">A sigla é obrigatória!</p>
                  <p class="caption status-danger" *ngIf="codeAbbreviation.errors?.minlength">
                    A abreviação deve conter pelo menos {{ validation.codeAbbreviation.minLength }} caracteres
                  </p>
                </ng-container>
              </div>
            </div>
            <div class="form-control-group col-12">
              <div class="row">
                <div class="col-6">
                  <label class="label" for="input-org-percentage">Porcentagem da organização:</label>
                  <input
                    nbInput
                    [(ngModel)]="config.invoiceConfig.organizationPercentage"
                    #orgPercentage="ngModel"
                    id="input-org-percentage"
                    name="orgPercentage"
                    placeholder="Porcentagem"
                    fullWidth
                    fieldSize="large"
                    [brmasker]="{
                      money: true,
                      thousand: '.',
                      decimalCaracter: ',',
                      decimal: 2
                    }"
                    ngxSelectAllText
                    [status]="orgPercentage.dirty ? (orgPercentage.invalid ? 'danger' : 'success') : 'basic'"
                    [attr.aria-invalid]="orgPercentage.invalid && orgPercentage.touched ? true : null"
                  />
                </div>
                <div class="col-6">
                  <label class="label" for="input-nf-percentage">Porcentagem da nota fiscal:</label>
                  <input
                    nbInput
                    [(ngModel)]="config.invoiceConfig.nfPercentage"
                    #nfPercentage="ngModel"
                    id="input-nf-percentage"
                    name="nfPercentage"
                    placeholder="Porcentagem"
                    fullWidth
                    fieldSize="large"
                    [brmasker]="{
                      money: true,
                      thousand: '.',
                      decimalCaracter: ',',
                      decimal: 2
                    }"
                    ngxSelectAllText
                    [status]="nfPercentage.dirty ? (nfPercentage.invalid ? 'danger' : 'success') : 'basic'"
                    [attr.aria-invalid]="nfPercentage.invalid && nfPercentage.touched ? true : null"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button nbButton fullWidth status="primary" size="large" [disabled]="!invoiceConfigForm.valid">Atualizar</button>
    </form>
  </nb-tab>
  <nb-tab tabId="profile-tab" [tabTitle]="isPhone() ? '' : 'Perfil'" tabIcon="person" responsive>
    <form (ngSubmit)="updateConfig()" #form="ngForm" aria-labelledby="title">
      <div class="row">
        <div class="toggle-list col-12 col-lg-auto">
          <div class="form-control-group">
            <table class="table-profile">
              <tbody>
                <tr>
                  <td class="td-left">Enquadramentos</td>
                  <td>
                    <nb-toggle
                      [(ngModel)]="config.profileConfig.hasLevels"
                      name="toggle-levels"
                      labelPosition="start"
                    ></nb-toggle>
                  </td>
                </tr>
                <tr>
                  <td class="td-left">Lista de times</td>
                  <td>
                    <nb-toggle
                      [(ngModel)]="config.profileConfig.hasTeam"
                      name="toggle-team"
                      labelPosition="start"
                    ></nb-toggle>
                  </td>
                </tr>
                <tr>
                  <td class="td-left">Lista de setores</td>
                  <td>
                    <nb-toggle
                      [(ngModel)]="config.profileConfig.hasSector"
                      name="toggle-sector"
                      labelPosition="start"
                    ></nb-toggle>
                  </td>
                </tr>
                <tr>
                  <td class="td-left">Perfil de atuação</td>
                  <td>
                    <nb-toggle
                      [(ngModel)]="config.profileConfig.hasExpertiseBySector"
                      name="toggle-expertise-profile"
                      labelPosition="start"
                    ></nb-toggle>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-12 col-lg">
          <div class="row" style="margin-top: 8px">
            <div class="col-auto">
              <label class="label-divider">Lista de papéis</label>
            </div>
            <div class="col">
              <hr />
            </div>
          </div>
          <div class="row" style="align-items: end">
            <div class="col-12 col-lg-6">
              <div class="form-control-group">
                <label class="label" for="input-role-type">Tipo de papel:</label>
                <input
                  nbInput
                  [(ngModel)]="newRole.roleTypeName"
                  #roleType="ngModel"
                  id="input-role-type"
                  name="roleType"
                  placeholder="Nome do tipo de papel"
                  fullWidth
                  fieldSize="large"
                  [status]="newRole.roleTypeName && newRole.permission ? 'success' : 'basic'"
                  [attr.aria-invalid]="roleType.invalid && roleType.touched ? true : null"
                />
              </div>
            </div>
            <div class="col-10 col-lg-4">
              <div class="form-control-group">
                <label class="label" for="input-permission-selector">Tipo de permissão:</label>
                <nb-select
                  [(ngModel)]="newRole.permission"
                  #permissionType="ngModel"
                  id="input-permission-selector"
                  name="permissionType"
                  placeholder="Selecione a permissão"
                  fullWidth
                  size="large"
                  [status]="newRole.roleTypeName && newRole.permission ? 'success' : 'basic'"
                  [attr.aria-invalid]="permissionType.invalid && permissionType.touched ? true : null"
                >
                  <nb-option *ngFor="let pType of PERMISSIONS" [value]="pType">{{ pType }}</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="col-2">
              <div class="form-control-group">
                <button
                  nbButton
                  type="button"
                  fullWidth
                  status="primary"
                  size="large"
                  [disabled]="!newRole.roleTypeName || !newRole.permission"
                  (click)="addRole()"
                >
                  <nb-icon status="basic" icon="plus" pack="eva"></nb-icon>
                </button>
              </div>
            </div>
          </div>
          <nb-list style="width: 100%; padding: 10px 0">
            <nb-list-item *ngFor="let position of config.profileConfig.positions; let i = index; trackBy: trackByIndex">
              <div class="row typeRow">
                <div class="col-9 col-lg-6" style="margin: 5px 5px">
                  <input
                    nbInput
                    [(ngModel)]="position.roleTypeName"
                    id="input-role-type-{{ i }}"
                    name="role-type-{{ i }}"
                    placeholder="Nome do tipo de papel"
                    fullWidth
                    [status]="!position.roleTypeName ? 'danger' : 'basic'"
                  />
                </div>
                <div class="col-9 col-lg-4" style="margin-left: 5px">
                  <nb-select
                    [(ngModel)]="position.permission"
                    #permissionType="ngModel"
                    id="input-permission-type-{{ i }}"
                    name="permission-type-{{ i }}"
                    placeholder="Selecione a permissão"
                    fullWidth
                    [status]="!position.permission ? 'danger' : 'basic'"
                  >
                    <nb-option *ngFor="let pType of PERMISSIONS" [value]="pType">{{ pType }}</nb-option>
                  </nb-select>
                </div>
                <div class="trash col-2 col-lg-1">
                  <nb-icon
                    class="xIcon"
                    status="basic"
                    icon="trash-2-outline"
                    pack="eva"
                    (click)="config.profileConfig.positions.splice(i, 1)"
                    [options]="{ animation: { type: 'shake' } }"
                  ></nb-icon>
                </div>
              </div>
            </nb-list-item>
          </nb-list>
          <div class="row" style="margin-top: 8px">
            <div class="col-auto">
              <label class="label-divider">Lista de enquadramento</label>
            </div>
            <div class="col">
              <hr />
            </div>
          </div>
          <div class="row" style="align-items: end">
            <div class="col-10">
              <div class="form-control-group">
                <label class="label" for="input-levels-type">Tipo de enquadramento:</label>
                <input
                  nbInput
                  [(ngModel)]="newLevel"
                  #levelType="ngModel"
                  id="input-levels-type"
                  name="levelsType"
                  placeholder="Nome do tipo de enquadramento"
                  fullWidth
                  fieldSize="large"
                  [status]="newLevel ? 'success' : 'basic'"
                  [attr.aria-invalid]="levelType.invalid && levelType.touched ? true : null"
                />
              </div>
            </div>
            <div class="col-2">
              <div class="form-control-group">
                <button
                  nbButton
                  type="button"
                  fullWidth
                  status="primary"
                  size="large"
                  [disabled]="!newLevel"
                  (click)="addLevel()"
                >
                  <nb-icon status="basic" icon="plus" pack="eva"></nb-icon>
                </button>
              </div>
            </div>
            <hr />
          </div>
          <nb-list style="width: 100%; padding: 10px 0">
            <nb-list-item *ngFor="let level of config.profileConfig.levels; let i = index; trackBy: trackByIndex">
              <div class="row typeRow">
                <div class="col-10">
                  <input
                    nbInput
                    [(ngModel)]="config.profileConfig.levels[i]"
                    id="input-level-type-{{ i }}"
                    name="level-type-{{ i }}"
                    placeholder="Nome do tipo de enquadramento"
                    fullWidth
                    [status]="config.profileConfig.levels[i].length == 0 ? 'danger' : 'basic'"
                  />
                </div>
                <div class="col-2">
                  <nb-icon
                    class="xIcon"
                    status="basic"
                    icon="trash-2-outline"
                    pack="eva"
                    (click)="config.profileConfig.levels.splice(i, 1)"
                    [options]="{ animation: { type: 'shake' } }"
                  ></nb-icon>
                </div>
              </div>
            </nb-list-item>
          </nb-list>
        </div>
      </div>
      <button nbButton fullWidth status="primary" size="large">Atualizar</button>
    </form>
  </nb-tab>
  <nb-tab tabId="social-tab" [tabTitle]="isPhone() ? '' : 'Social'" tabIcon="link-2-outline" responsive>
    <form (ngSubmit)="updateConfig()" #form="ngForm" aria-labelledby="title">
      <div class="row">
        <div class="col-12">
          <div class="form-control-group">
            <label class="label" for="input-youtube-link">Link do YouTube</label>
            <nb-form-field>
              <nb-icon nbPrefix icon="social-youtube" pack="ion"></nb-icon>
              <input
                nbInput
                [(ngModel)]="config.socialConfig.youtubeLink"
                #youtubeLink="ngModel"
                id="input-youtube-link"
                name="youtubeLink"
                placeholder="https://www.youtube.com/"
                fullWidth
                fieldSize="large"
                [status]="youtubeLink.value ? 'success' : 'basic'"
                [attr.aria-invalid]="youtubeLink.invalid && youtubeLink.touched ? true : null"
              />
            </nb-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-control-group">
            <label class="label" for="input-linkedin-link">Link do LinkedIn</label>
            <nb-form-field>
              <nb-icon nbPrefix icon="social-linkedin" pack="ion"></nb-icon>
              <input
                nbInput
                [(ngModel)]="config.socialConfig.linkedinLink"
                #linkedinLink="ngModel"
                id="input-linkedin-link"
                name="linkedinLink"
                placeholder="https://www.linkedin.com/"
                fullWidth
                fieldSize="large"
                [status]="linkedinLink.value ? 'success' : 'basic'"
                [attr.aria-invalid]="linkedinLink.invalid && linkedinLink.touched ? true : null"
              />
            </nb-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-control-group">
            <label class="label" for="input-instagram-link">Link do Instagram</label>
            <nb-form-field>
              <nb-icon nbPrefix icon="social-instagram" pack="ion"></nb-icon>
              <input
                nbInput
                [(ngModel)]="config.socialConfig.instagramLink"
                #instagramLink="ngModel"
                id="input-instagram-link"
                name="instagramLink"
                placeholder="https://www.instagram.com"
                fullWidth
                fieldSize="large"
                [status]="instagramLink.value ? 'success' : 'basic'"
                [attr.aria-invalid]="instagramLink.invalid && instagramLink.touched ? true : null"
              />
            </nb-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-control-group">
            <label class="label" for="input-glassfrog-link">Link do GlassFrog</label>
            <nb-form-field>
              <nb-icon nbPrefix icon="glassfrog" pack="fac"></nb-icon>
              <input
                nbInput
                [(ngModel)]="config.socialConfig.glassfrogLink"
                #glassfrogLink="ngModel"
                id="input-glassfrog-link"
                name="glassfrogLink"
                placeholder="https://www.glassfrog.com"
                fullWidth
                fieldSize="large"
                [status]="glassfrogLink.value ? 'success' : 'basic'"
                [attr.aria-invalid]="glassfrogLink.invalid && glassfrogLink.touched ? true : null"
              />
            </nb-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-control-group">
            <label class="label" for="input-gathertown-link">Link do Gather Town</label>
            <nb-form-field>
              <nb-icon nbPrefix icon="gtown" pack="fac"></nb-icon>
              <input
                nbInput
                [(ngModel)]="config.socialConfig.gathertownLink"
                #gathertownLink="ngModel"
                id="input-gathertown-link"
                name="gathertownLink"
                placeholder="https://app.gather.town/app"
                fullWidth
                fieldSize="large"
                [status]="gathertownLink.value ? 'success' : 'basic'"
                [attr.aria-invalid]="gathertownLink.invalid && gathertownLink.touched ? true : null"
              />
            </nb-form-field>
          </div>
        </div>
      </div>
      <button nbButton fullWidth status="primary" size="large">Atualizar</button>
    </form>
  </nb-tab>
</nb-tabset>
