// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';
// material themes
@import '~@angular/material/theming';

$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme(
  (
    color-primary-100: #ffeccc,
    color-primary-200: #ffd399,
    color-primary-300: #ffb566,
    color-primary-400: #ff973f,
    color-primary-500: #ff6600,
    color-primary-600: #db4a00,
    color-primary-700: #b73300,
    color-primary-800: #932100,
    color-primary-900: #7a1400,
    color-success-100: #ebfdd7,
    color-success-200: #d2fcb0,
    color-success-300: #b2f888,
    color-success-400: #92f169,
    color-success-500: #62e83a,
    color-success-600: #43c72a,
    color-success-700: #29a71d,
    color-success-800: #148612,
    color-success-900: #0b6f11,
    color-info-100: #cbfef7,
    color-info-200: #98fdf7,
    color-info-300: #64f9fb,
    color-info-400: #3ee7f8,
    color-info-500: #00cbf4,
    color-info-600: #009ed1,
    color-info-700: #0077af,
    color-info-800: #00558d,
    color-info-900: #003d75,
    color-warning-100: #fffcd1,
    color-warning-200: #fff9a4,
    color-warning-300: #fff576,
    color-warning-400: #fff254,
    color-warning-500: #ffec1c,
    color-warning-600: #dbc814,
    color-warning-700: #b7a60e,
    color-warning-800: #938408,
    color-warning-900: #7a6c05,
    color-danger-100: #ffecd0,
    color-danger-200: #ffd4a1,
    color-danger-300: #ffb573,
    color-danger-400: #ff9850,
    color-danger-500: #ff6816,
    color-danger-600: #db4a10,
    color-danger-700: #b7320b,
    color-danger-800: #931e07,
    color-danger-900: #7a1004,
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    file-uploader-progress-label-color: color-fg-text,
    file-uploader-uploading-queue-border-color: form-control-border-color,
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    color-primary-100: #ffeccc,
    color-primary-200: #ffd399,
    color-primary-300: #ffb566,
    color-primary-400: #ff973f,
    color-primary-500: #ff6600,
    color-primary-600: #db4a00,
    color-primary-700: #b73300,
    color-primary-800: #932100,
    color-primary-900: #7a1400,
    color-success-100: #ebfdd7,
    color-success-200: #d2fcb0,
    color-success-300: #b2f888,
    color-success-400: #92f169,
    color-success-500: #62e83a,
    color-success-600: #43c72a,
    color-success-700: #29a71d,
    color-success-800: #148612,
    color-success-900: #0b6f11,
    color-info-100: #cbfef7,
    color-info-200: #98fdf7,
    color-info-300: #64f9fb,
    color-info-400: #3ee7f8,
    color-info-500: #00cbf4,
    color-info-600: #009ed1,
    color-info-700: #0077af,
    color-info-800: #00558d,
    color-info-900: #003d75,
    color-warning-100: #fffcd1,
    color-warning-200: #fff9a4,
    color-warning-300: #fff576,
    color-warning-400: #fff254,
    color-warning-500: #ffec1c,
    color-warning-600: #dbc814,
    color-warning-700: #b7a60e,
    color-warning-800: #938408,
    color-warning-900: #7a6c05,
    color-danger-100: #ffecd0,
    color-danger-200: #ffd4a1,
    color-danger-300: #ffb573,
    color-danger-400: #ff9850,
    color-danger-500: #ff6816,
    color-danger-600: #db4a10,
    color-danger-700: #b7320b,
    color-danger-800: #931e07,
    color-danger-900: #7a1004,
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #252547,
    slide-out-shadow-color: 2px 0 3px #29157a,
    slide-out-shadow-color-rtl: -2px 0 3px #29157a,
    file-uploader-progress-label-color: color-fg-text,
    file-uploader-uploading-queue-border-color: form-control-border-color,
  ),
  cosmic,
  cosmic
);

$nb-themes: nb-register-theme(
  (
    color-primary-100: #ffeccc,
    color-primary-200: #ffd399,
    color-primary-300: #ffb566,
    color-primary-400: #ff973f,
    color-primary-500: #ff6600,
    color-primary-600: #db4a00,
    color-primary-700: #b73300,
    color-primary-800: #932100,
    color-primary-900: #7a1400,
    color-success-100: #ebfdd7,
    color-success-200: #d2fcb0,
    color-success-300: #b2f888,
    color-success-400: #92f169,
    color-success-500: #62e83a,
    color-success-600: #43c72a,
    color-success-700: #29a71d,
    color-success-800: #148612,
    color-success-900: #0b6f11,
    color-info-100: #cbfef7,
    color-info-200: #98fdf7,
    color-info-300: #64f9fb,
    color-info-400: #3ee7f8,
    color-info-500: #00cbf4,
    color-info-600: #009ed1,
    color-info-700: #0077af,
    color-info-800: #00558d,
    color-info-900: #003d75,
    color-warning-100: #fffcd1,
    color-warning-200: #fff9a4,
    color-warning-300: #fff576,
    color-warning-400: #fff254,
    color-warning-500: #ffec1c,
    color-warning-600: #dbc814,
    color-warning-700: #b7a60e,
    color-warning-800: #938408,
    color-warning-900: #7a6c05,
    color-danger-100: #ffecd0,
    color-danger-200: #ffd4a1,
    color-danger-300: #ffb573,
    color-danger-400: #ff9850,
    color-danger-500: #ff6816,
    color-danger-600: #db4a10,
    color-danger-700: #b7320b,
    color-danger-800: #931e07,
    color-danger-900: #7a1004,
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    file-uploader-progress-label-color: color-fg-text,
    file-uploader-uploading-queue-border-color: form-control-border-color,
  ),
  corporate,
  corporate
);

$nb-themes: nb-register-theme(
  (
    color-primary-100: #ffeccc,
    color-primary-200: #ffd399,
    color-primary-300: #ffb566,
    color-primary-400: #ff973f,
    color-primary-500: #ff6600,
    color-primary-600: #db4a00,
    color-primary-700: #b73300,
    color-primary-800: #932100,
    color-primary-900: #7a1400,
    color-success-100: #ebfdd7,
    color-success-200: #d2fcb0,
    color-success-300: #b2f888,
    color-success-400: #92f169,
    color-success-500: #62e83a,
    color-success-600: #43c72a,
    color-success-700: #29a71d,
    color-success-800: #148612,
    color-success-900: #0b6f11,
    color-info-100: #cbfef7,
    color-info-200: #98fdf7,
    color-info-300: #64f9fb,
    color-info-400: #3ee7f8,
    color-info-500: #00cbf4,
    color-info-600: #009ed1,
    color-info-700: #0077af,
    color-info-800: #00558d,
    color-info-900: #003d75,
    color-warning-100: #fffcd1,
    color-warning-200: #fff9a4,
    color-warning-300: #fff576,
    color-warning-400: #fff254,
    color-warning-500: #ffec1c,
    color-warning-600: #dbc814,
    color-warning-700: #b7a60e,
    color-warning-800: #938408,
    color-warning-900: #7a6c05,
    color-danger-100: #ffecd0,
    color-danger-200: #ffd4a1,
    color-danger-300: #ffb573,
    color-danger-400: #ff9850,
    color-danger-500: #ff6816,
    color-danger-600: #db4a10,
    color-danger-700: #b7320b,
    color-danger-800: #931e07,
    color-danger-900: #7a1004,
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    file-uploader-progress-label-color: color-fg-text,
    file-uploader-uploading-queue-border-color: form-control-border-color,
  ),
  dark,
  dark
);

.menu-item :hover {
  background-color: var(--menu-item-hover-background-color);
  color: var(--menu-item-hover-text-color);
  cursor: var(--menu-item-hover-cursor);
}
