@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 25px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-color: nb-theme(menu-item-icon-color);
$hamburger-layer-border-radius: 4px;
@import '~hamburgers/_sass/hamburgers/hamburgers';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  ::ng-deep {
    .mat-ripple-element {
      background-color: nb-theme(color-basic-transparent-600);
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0 !important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      font-size: 1.75rem;
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  .direction-switcher {
    @include nb-ltr(margin-left, 2rem);
    @include nb-rtl(margin-right, 2rem);
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select,
    .direction-switcher {
      display: none;
    }
  }
}
