<div
  class="row justify-content-center"
  [ngStyle]="{
    'width.px': windowWidth()
  }"
>
  <div class="col-md-8">
    <nb-card
      [ngStyle]="{
        'max-height.px': windowHeight()
      }"
    >
      <nb-card-header>
        EDIÇÃO
      </nb-card-header>
      <nb-card-body>
        <div class="form-control-group">
          <textarea
            nbInput
            [(ngModel)]="latestEdition.comment"
            #editionHistory="ngModel"
            id="input-edition"
            name="edition"
            placeholder="Motivo da edição"
            fullWidth
            fieldSize="large"
            [minlength]="validation.editionHistory.minLength"
            [maxlength]="validation.editionHistory.maxLength"
            [status]="editionHistory.dirty ? (editionHistory.invalid ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="editionHistory.invalid && editionHistory.touched ? true : null"
          ></textarea>
           <ng-container *ngIf="editionHistory.invalid && editionHistory.touched">
            <p class="caption status-danger" *ngIf="editionHistory.errors?.required">
              O campo de edição é obrigatório!
            </p>
            <p class="caption status-danger" *ngIf="editionHistory.errors?.minlength || editionHistory.errors?.maxlength">
              O campo de edição deve conter entre
              {{ validation.editionHistory.minLength }} a
              {{ validation.editionHistory.maxLength }}
              caracteres
            </p>
          </ng-container>
        </div>
        <div class="row">
          <div class="col-12">
            <button nbButton fullWidth status="primary" size="large" [disabled]="!latestEdition.comment" (click)="saveComment()">
              Salvar
            </button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
