<div
  class="row justify-content-center"
  [ngStyle]="{
    'width.px': windowWidth()
  }"
>
  <div class="col-md-8">
    <nb-card
      [ngStyle]="{
        'max-height.px': windowHeight()
      }"
    >
      <nb-card-header>
        CONFIGURAÇÕES DA PLATAFORMA
        <div class="buttons">
          <button
            nbButton
            ghost
            nbTooltip="Fechar"
            [nbTooltipTrigger]="utils.isPhone() ? utils.tooltipTriggers.NOOP : utils.tooltipTriggers.HINT"
            nbTooltipPlacement="bottom"
            nbTooltipStatus="info"
            (click)="dismiss()"
          >
            <nb-icon icon="close-outline" pack="nebular-essentials"></nb-icon>
          </button>
        </div>
      </nb-card-header>
      <nb-card-body style="padding: 0">
        <ngx-config [config]="config"></ngx-config>
      </nb-card-body>
    </nb-card>
  </div>
</div>
