<div
  class="row justify-content-center"
  [ngStyle]="{
    'width.px': windowWidth()
  }"
>
  <div
    [ngClass]="{
      'col-md-11': componentType === types.CONFIG,
      'col-md-6': componentType === types.NOTIFICATION
    }"
  >
    <nb-card
      [ngStyle]="{
        'max-height.px': windowHeight()
      }"
    >
      <nb-card-header>
        {{ title }}
        <div class="buttons">
          <button
            *ngIf="componentType === types.NOTIFICATION"
            nbButton
            ghost
            nbTooltip="Marcar como lida"
            [nbTooltipTrigger]="isPhone() ? tooltipTriggers.NOOP : tooltipTriggers.HINT"
            nbTooltipPlacement="bottom"
            nbTooltipStatus="info"
            (click)="markAsRead()"
          >
            <nb-icon icon="checkmark-outline"></nb-icon>
          </button>
          <button
            nbButton
            ghost
            nbTooltip="Fechar"
            [nbTooltipTrigger]="isPhone() ? tooltipTriggers.NOOP : tooltipTriggers.HINT"
            nbTooltipPlacement="bottom"
            nbTooltipStatus="info"
            (click)="dismiss()"
          >
            <nb-icon icon="close-outline" pack="nebular-essentials"></nb-icon>
          </button>
        </div>
      </nb-card-header>
      <nb-card-body style="padding: 0">
        <ngx-config
          [config]="config"
          [isFormDirty]="isFormDirty"
          *ngIf="componentType === types.CONFIG; else notify"
        ></ngx-config>
        <ng-template #notify>
          <div class="row" style="padding: 0 2.5rem; overflow-x: hidden">
            <div style="text-align: justify; word-break: break-word">
              <pre [innerHTML]="[notification.message] | transformPipe: stringUtils.applyBoldToMention"></pre>
              <p>
                Por:
                {{
                  [notification.from, userService.idToUser.bind(userService), 'name'] | transformPipe: idToProperty
                }}
              </p>
            </div>
          </div>
        </ng-template>
      </nb-card-body>
    </nb-card>
  </div>
</div>
