<nb-list>
  <nb-list-item *ngFor="let receipt of clonedContract.receipts; let i = index">
    <div class="row irow" style="width: 100%">
      <div class="col-10 col-md-11">
        <div class="irow row">
          <a (click)="openDialog(receipt)" style="width: 100%; cursor: pointer; display: flex">
            <div class="col-1">#{{ +i + 1 }}</div>
            <div class="col">{{ idToProperty(receipt, transactionService.idToTransaction.bind(transactionService), "description") }}</div>
            <div class="col-md-3">
              <nb-icon icon="dollar-sign" pack="fa" status="success"></nb-icon>
              <span style="vertical-align: 0.1em">{{ idToProperty(receipt, transactionService.idToTransaction.bind(transactionService), "value") }}</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-2 col-md-1" style="text-align: right">
        <span
          class="mr-1"
          [nbTooltip]="idToProperty(receipt, transactionService.idToTransaction.bind(transactionService), 'paid') ? 'Pago' : 'Não pago'"
          nbTooltipPlacement="top"
          nbTooltipStatus="info"
        >
          {{ idToProperty(receipt, transactionService.idToTransaction.bind(transactionService), "paid") ? '✅' : '❌' }}
        </span>
        <nb-icon
          *ngIf="isEditionGranted"
          class="xIcon"
          status="basic"
          icon="trash-2-outline"
          pack="eva"
          (click)="confirmationDialog(i)"
          [options]="{ animation: { type: 'shake' } }"
        ></nb-icon>
      </div>
    </div>
  </nb-list-item>
</nb-list>
<button
  nbButton
  fullWidth
  status="primary"
  size="large"
  [disabled]="clonedContract.receipts.length == +clonedContract.total || !isEditionGranted"
  (click)="openDialog()"
>
  Nova Ordem de Empenho
</button>
