<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12 my-3">
      <nb-progress-bar
        [status]="getPercentualProgress() == 100 ? 'success' : 'primary'"
        [size]="'tiny'"
        [displayValue]="true"
        [value]="getPercentualProgress()"
      ></nb-progress-bar>
    </div>
  </div>
  <form (ngSubmit)="updateContractManagement()" #form="ngForm" aria-labelledby="title">
    <div class="row">
      <div class="col-4">
        <div class="form-control-group">
          <label class="label" for="contract-code">Código do Contrato:</label>
          <input nbInput [ngModel]="contract.code" name="contract-code" fullWidth fieldSize="large" [readonly]="true" />
        </div>
      </div>
      <div class="col-5">
        <div class="form-control-group">
          <label class="label" for="contractor">Cliente:</label>
          <input
            nbInput
            [ngModel]="contract.contractor"
            name="contractor"
            fullWidth
            fieldSize="large"
            [nbTooltip]="tooltipText()"
            nbTooltipPlacement="top"
            nbTooltipStatus="primary"
            [readonly]="true"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="form-control-group">
          <label class="label" for="model">Modelo:</label>
          <!-- Aguardar o Augusto terminar o novo completer -->
          <input nbInput name="model" placeholder="Modelo" fullWidth fieldSize="large" [readonly]="true" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <div class="form-control-group">
          <label class="label" for="start-date">Início:</label>
          <input
            nbInput
            [ngModel]="utils.formatDate(contract.created)"
            name="start-date"
            fullWidth
            fieldSize="large"
            [readonly]="true"
          />
        </div>
      </div>
      <div class="col-2">
        <div class="form-control-group">
          <label class="label" for="end-date">Fim:</label>
          <input
            nbInput
            [ngModel]="deadline ? utils.formatDate(deadline) : ''"
            name="end-date"
            fullWidth
            fieldSize="large"
            [readonly]="true"
          />
        </div>
      </div>
      <div class="col-2">
        <div class="form-control-group">
          <label class="label" for="remaining-days">Dias restantes:</label>
          <input
            nbInput
            [ngModel]="getRemainingDays()"
            name="remaining-days"
            fullWidth
            fieldSize="large"
            [readonly]="true"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="form-control-group">
          <label class="label" for="responsible">Responsável:</label>
          <input nbInput [ngModel]="responsible" name="responsible" fullWidth fieldSize="large" [readonly]="true" />
        </div>
      </div>
      <div class="col-3">
        <div class="form-control-group">
          <label class="label" for="management-status">Status de gestão:</label>
          <nb-select
            [(ngModel)]="contract.managementStatus"
            #managementStatus="ngModel"
            id="management-status"
            name="management-status"
            placeholder="Selecione o status da gestão"
            fullWidth
            size="large"
            [status]="managementStatus.dirty ? (managementStatus.invalid ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="managementStatus.invalid && managementStatus.touched ? true : null"
          >
            <nb-option *ngFor="let status of avaliableStatus" [value]="status">
              {{ status }}
            </nb-option>
          </nb-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-control-group">
          <label class="label" for="management-notes">Observações:</label>
          <textarea
            nbInput
            [(ngModel)]="contract.managementNotes"
            id="management-notes"
            name="management-notes"
            fullWidth
            fieldSize="large"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-auto">
        <h6>Checklist</h6>
      </div>
      <div class="col">
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label class="label" for="input-item-name">Ação:</label>
        <input
          nbInput
          [(ngModel)]="newChecklistItem.name"
          #nameInput="ngModel"
          id="input-item-name"
          name="input-item-name"
          fullWidth
          fieldSize="large"
          [status]="nameInput.dirty ? (nameInput.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="nameInput.invalid && nameInput.touched ? true : null"
        />
      </div>
      <div class="col-3">
        <label class="label" for="input-item-range">Prazo:</label>
        <input
          nbInput
          [(ngModel)]="itemRange"
          #rangeInput="ngModel"
          id="input-item-range"
          name="input-item-range"
          fullWidth
          fieldSize="large"
          [nbDatepicker]="rangePicker"
          [status]="rangeInput.dirty ? (rangeInput.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="rangeInput.invalid && rangeInput.touched ? true : null"
        />
        <nb-rangepicker #rangePicker></nb-rangepicker>
      </div>
      <div class="col-3">
        <label class="label" for="input-item-responsible">Responsável:</label>
        <nb-completer
          [(ngModel)]="itemResponsibleSearch"
          #itemResponsibleList="ngModel"
          (selected)="newChecklistItem.responsible = $event"
          id="input-item-responsible"
          name="input-item-responsible"
          inputName="itemResponsible"
          nameField="fullName"
          [data$]="avaliableResponsibles"
          [placeholder]="'Digite o nome do responsável pela ação'"
          [fullWidth]="true"
          [fieldSize]="'large'"
          [textNoResults]="'Não foi possível achar um colaborador com o nome digitado'"
          [minSearchLength]="0"
        ></nb-completer>
      </div>
      <div class="col-2">
        <label class="label" for="input-item-status">Status:</label>
        <nb-select
          id="input-item-status"
          [(ngModel)]="newChecklistItem.status"
          #statusInput="ngModel"
          name="input-item-status"
          fullWidth
          size="large"
          [status]="statusInput.dirty ? (statusInput.invalid ? 'danger' : 'success') : 'basic'"
          [attr.aria-invalid]="statusInput.invalid && statusInput.touched ? true : null"
        >
          <nb-option *ngFor="let status of avaliableItemStatus" [value]="status">
            {{ status }}
          </nb-option>
        </nb-select>
      </div>
      <div class="col-1">
        <button
          nbButton
          type="button"
          fullWidth
          status="primary"
          size="large"
          style="margin-top: 28px"
          (click)="registerChecklistItem()"
          [disabled]="!nameInput.value || !rangeInput.value || !itemResponsibleList.value || !statusInput.value"
        >
          +
        </button>
      </div>
    </div>

    <nb-list class="row overflow-hidden py-3">
      <nb-list-item class="pt-3 px-0 d-flex flex-column" *ngFor="let item of checklist; let i = index">
        <div class="row w-100">
          <div class="col-3">
            <input
              nbInput
              [(ngModel)]="checklist[i].name"
              #nameInput="ngModel"
              id="item-name-{{ i }}"
              name="item-name-{{ i }}"
              fullWidth
              fieldSize="large"
              [required]="validation.checklist.name"
              [status]="nameInput.dirty ? (nameInput.invalid ? 'danger' : 'success') : 'basic'"
              [attr.aria-invalid]="nameInput.invalid && nameInput.touched ? true : null"
            />
          </div>
          <div class="col-2">
            <input
              nbInput
              [(ngModel)]="checklist[i].range"
              #rangeInput="ngModel"
              id="item-range-{{ i }}"
              name="item-range-{{ i }}"
              fullWidth
              fieldSize="large"
              [required]="validation.checklist.startDate"
              [nbDatepicker]="rangePicker"
              [status]="rangeInput.dirty ? (rangeInput.invalid ? 'danger' : 'success') : 'basic'"
              [attr.aria-invalid]="rangeInput.invalid && rangeInput.touched ? true : null"
            />
            <nb-rangepicker #rangePicker></nb-rangepicker>
          </div>
          <div class="col-3">
            <input
              nbInput
              [ngModel]="this.userService.idToName(checklist[i].responsible)"
              #responsible="ngModel"
              id="item-responsible-{{ i }}"
              name="item-responsible-{{ i }}"
              fullWidth
              fieldSize="large"
              [readonly]="true"
            />
          </div>
          <div class="col-2">
            <nb-select
              [(ngModel)]="checklist[i].status"
              #statusInput="ngModel"
              id="item-status-{{ i }}"
              name="item-status-{{ i }}"
              fullWidth
              size="large"
              [required]="validation.checklist.status"
              [status]="statusInput.dirty ? (statusInput.invalid ? 'danger' : 'success') : 'basic'"
              [attr.aria-invalid]="statusInput.invalid && statusInput.touched ? true : null"
            >
              <nb-option *ngFor="let status of avaliableItemStatus" [value]="status">
                {{ status }}
              </nb-option>
            </nb-select>
          </div>
          <div class="col-1 icon-container">
            <nb-icon
              icon="external-link-outline"
              pack="eva"
              [options]="{ animation: { type: 'pulse' } }"
              (click)="openItemDialog(i)"
            ></nb-icon>
          </div>
          <div class="col-1 icon-container">
            <nb-icon
              class="xIcon"
              status="danger"
              icon="trash-2-outline"
              pack="eva"
              (click)="removeItem(i)"
              [options]="{ animation: { type: 'shake' } }"
            ></nb-icon>
          </div>
        </div>
        <div class="row w-100">
          <div class="col-12 mt-3">
            <nb-progress-bar
              [status]="getPercentualItemProgress(checklist[i]) == 100 ? 'success' : 'primary'"
              [size]="'tiny'"
              [displayValue]="true"
              [value]="getPercentualItemProgress(checklist[i])"
            ></nb-progress-bar>
          </div>
        </div>
      </nb-list-item>
    </nb-list>

    <div class="row">
      <div class="col-12">
        <button nbButton fullWidth status="primary" size="large" [disabled]="!form.valid || !form.dirty">
          Atualizar
        </button>
      </div>
    </div>
  </form>
</div>
