<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-body>
        <div
          *ngIf="isDataLoading; else profile"
          [nbSpinner]="true"
          nbSpinnerStatus="primary"
          nbSpinnerSize="giant"
          style="width: 100%; height: 654px"
        ></div>
        <ng-template #profile>
          <div class="row">
            <div class="col-md-2">
              <nb-user
                class="profile"
                [onlyPicture]="true"
                [picture]="provider.profilePicture ? provider.profilePicture : ''"
                [name]="provider.fullName"
                size="giant"
              ></nb-user>
              <div style="margin-top: 20px; margin-bottom: 20px">
                <button nbButton status="primary" (click)="uploadDialog()">Editar foto</button>
              </div>
            </div>
            <div class="col-md-10">
              <form (ngSubmit)="registerProvider()" #form="ngForm" aria-labelledby="title">
                <div class="form-control-group">
                  <label class="label" for="input-name">Nome completo:</label>
                  <input
                    nbInput
                    [(ngModel)]="provider.fullName"
                    #fullName="ngModel"
                    id="input-name"
                    name="fullName"
                    placeholder="Nome completo"
                    autofocus
                    fullWidth
                    fieldSize="large"
                    [required]="validation.fullName.required"
                    [minlength]="validation.fullName.minLength"
                    [maxlength]="validation.fullName.maxLength"
                    [status]="fullName.dirty ? (fullName.invalid ? 'danger' : 'success') : 'basic'"
                    [attr.aria-invalid]="fullName.invalid && fullName.touched ? true : null"
                  />
                  <ng-container *ngIf="fullName.invalid && fullName.touched">
                    <p class="caption status-danger" *ngIf="fullName.errors?.required">O nome é obrigatório!</p>
                    <p class="caption status-danger" *ngIf="fullName.errors?.minlength || fullName.errors?.maxlength">
                      O nome deve conter entre
                      {{ validation.fullName.minLength }} a
                      {{ validation.fullName.maxLength }}
                      caracteres
                    </p>
                  </ng-container>
                </div>
                <div class="form-control-group">
                  <label class="label" for="input-email">Melhor email para contato:</label>
                  <input
                    nbInput
                    [(ngModel)]="provider.email"
                    #email="ngModel"
                    id="input-email"
                    name="email"
                    pattern=".+@.+\..+"
                    placeholder="Endereço de email"
                    fullWidth
                    fieldSize="large"
                    [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : 'basic'"
                    [required]="validation.email.required"
                    [attr.aria-invalid]="email.invalid && email.touched ? true : null"
                  />
                  <ng-container *ngIf="email.invalid && email.touched">
                    <p class="caption status-danger" *ngIf="email.errors?.required">O email é obrigatório!</p>
                    <p class="caption status-danger" *ngIf="email.errors?.pattern">Digite um email válido!</p>
                  </ng-container>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="label" for="input-person-selector">Tipo de pessoa:</label>
                    <nb-select
                      placeholder="Selecione"
                      fullWidth
                      size="large"
                      [(ngModel)]="selectedOption"
                      name="ng-model-group"
                    >
                      <nb-option [value]="typeOfPerson.PESSOA_FISICA">Pessoa física</nb-option>
                      <nb-option [value]="typeOfPerson.PESSOA_JURIDICA">Pessoa jurídica</nb-option>
                    </nb-select>
                  </div>
                  <div class="col-md-6">
                    <div class="form-control-group" *ngIf="selectedOption == typeOfPerson.PESSOA_FISICA">
                      <label class="label" for="input-document">CPF:</label>
                      <input
                        nbInput
                        [(ngModel)]="provider.document"
                        #cpf="ngModel"
                        id="input-cpf"
                        name="cpf"
                        placeholder="Digite o CPF"
                        fullWidth
                        fieldSize="large"
                        [brmasker]="{ person: true }"
                        ngxSelectAllText
                        [required]="validation.cpf.required"
                        [minlength]="validation.cpf.minLength"
                        [maxlength]="validation.cpf.maxLength"
                        [status]="cpf.dirty ? (cpf.invalid ? 'danger' : 'success') : 'basic'"
                        [attr.aria-invalid]="cpf.invalid && cpf.touched ? true : null"
                      />
                      <ng-container *ngIf="cpf.invalid && cpf.touched">
                        <p class="caption status-danger" *ngIf="cpf.errors?.required">O CPF é obrigatório!</p>
                        <p class="caption status-danger" *ngIf="cpf.errors?.minlength || cpf.errors?.maxlength">
                          O CPF deve ter {{ validation.cpf.minLength - 3 }} números
                        </p>
                      </ng-container>
                    </div>
                    <div class="form-control-group" *ngIf="selectedOption == typeOfPerson.PESSOA_JURIDICA">
                      <label class="label" for="input-cnpj">CNPJ:</label>
                      <input
                        nbInput
                        [(ngModel)]="provider.document"
                        #cnpj="ngModel"
                        id="input-cnpj"
                        name="cnpj"
                        placeholder="Digite o CNPJ"
                        fullWidth
                        fieldSize="large"
                        [brmasker]="{ person: true }"
                        ngxSelectAllText
                        [required]="validation.cnpj.required"
                        [minlength]="validation.cnpj.minLength"
                        [maxlength]="validation.cnpj.maxLength"
                        [status]="cnpj.dirty ? (cnpj.invalid ? 'danger' : 'success') : 'basic'"
                        [attr.aria-invalid]="cnpj.invalid && cnpj.touched ? true : null"
                      />
                      <ng-container *ngIf="cnpj.invalid && cnpj.touched">
                        <p class="caption status-danger" *ngIf="cnpj.errors?.required">O CNPJ é obrigatório!</p>
                        <p class="caption status-danger" *ngIf="cnpj.errors?.minlength">
                          O CNPJ deve ter {{ validation.cnpj.minLength - 4 }} números
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="form-control-group">
                  <label class="label" for="input-phone">Melhor telefone para contato:</label>
                  <input
                    nbInput
                    [(ngModel)]="provider.phone"
                    #phone="ngModel"
                    id="input-phone"
                    name="input-phone"
                    placeholder="Telefone para contato"
                    fullWidth
                    fieldSize="large"
                    [brmasker]="{ phone: true }"
                    ngxSelectAllText
                    [required]="validation.phone.required"
                    [minlength]="validation.phone.minLength"
                    [maxlength]="validation.phone.maxLength"
                    [status]="phone.dirty ? (phone.invalid ? 'danger' : 'success') : 'basic'"
                    [attr.aria-invalid]="phone.invalid && phone.touched ? true : null"
                  />
                  <ng-container *ngIf="phone.invalid && phone.touched">
                    <p class="caption status-danger" *ngIf="phone.errors?.required">O telefone é obrigatório!</p>
                    <p class="caption status-danger" *ngIf="phone.errors?.minlength || phone.errors?.maxlength">
                      O telefone deve ter {{ validation.phone.minLength }} ou
                      {{ validation.phone.maxLength }} caracteres
                    </p>
                  </ng-container>
                </div>
                <div class="form-control-group">
                  <label class="label" for="input-address">Endereço:</label>
                  <textarea
                    nbInput
                    [(ngModel)]="provider.address"
                    #address="ngModel"
                    id="input-address"
                    name="address"
                    placeholder="Endereço do fornecedor"
                    fullWidth
                    fieldSize="large"
                    [required]="validation.address.required"
                    [minlength]="validation.address.minLength"
                    [maxlength]="validation.address.maxLength"
                    [status]="address.dirty ? (address.invalid ? 'danger' : 'success') : 'basic'"
                    [attr.aria-invalid]="address.invalid && address.touched ? true : null"
                  ></textarea>
                  <ng-container *ngIf="address.invalid && address.touched">
                    <p class="caption status-danger" *ngIf="address.errors?.required">O endereço é obrigatório!</p>
                    <p class="caption status-danger" *ngIf="address.errors?.minlength || address.errors?.maxlength">
                      O endereço deve conter entre
                      {{ validation.address.minLength }} a
                      {{ validation.address.maxLength }}
                      caracteres
                    </p>
                  </ng-container>
                </div>
                <div class="form-control-group">
                  <label class="label" for="input-description">Descrição:</label>
                  <textarea
                    nbInput
                    [(ngModel)]="provider.description"
                    #description="ngModel"
                    id="input-description"
                    name="description"
                    placeholder="Descrição do fornecedor"
                    fullWidth
                    fieldSize="large"
                    [required]="validation.description.required"
                    [minlength]="validation.description.minLength"
                    [maxlength]="validation.description.maxLength"
                    [status]="description.dirty ? (description.invalid ? 'danger' : 'success') : 'basic'"
                    [attr.aria-invalid]="description.invalid && description.touched ? true : null"
                  ></textarea>
                  <ng-container *ngIf="description.invalid && description.touched">
                    <p class="caption status-danger" *ngIf="description.errors?.required">A descrição é obrigatória!</p>
                    <p class="caption status-danger" *ngIf="description.errors?.minlength || description.errors?.maxlength">
                      A descrição deve conter entre
                      {{ validation.description.minLength }} a
                      {{ validation.description.maxLength }}
                      caracteres
                    </p>
                  </ng-container>
                </div>
                <div class="row">
                  <div class="col-md-11">
                    <div class="form-control-group">
                      <label class="label" for="input-service">Serviço:</label>
                      <input
                        nbInput
                        [(ngModel)]="options.serviceName"
                        #service="ngModel"
                        id="input-service"
                        name="service"
                        placeholder="Serviço"
                        fullWidth
                        fieldSize="large"
                        [status]="service.value ? 'success' : 'basic'"
                        [attr.aria-invalid]="service.invalid && service.touched ? true : null"
                      />
                    </div>
                  </div>
                  <div class="col-md-1">
                    <button
                      nbButton
                      type="button"
                      fullWidth
                      status="primary"
                      size="large"
                      style="margin-top: 28px"
                      [disabled]="!service.value"
                      (click)="provider.serviceList.push(options.serviceName); options.serviceName = ''"
                    >
                      +
                    </button>
                  </div>
                </div>
                <nb-list style="width: 100%">
                  <nb-list-item *ngFor="let activity of provider.serviceList; let i = index; trackBy: trackByIndex">
                    <div class="row irow">
                      <div class="col-10 col-md-11">
                        <input
                          nbInput
                          [(ngModel)]="provider.serviceList[i]"
                          id="input-serviceListItem-{{ i }}"
                          name="serviceListItem-{{ i }}"
                          placeholder="Serviço"
                          fullWidth
                          [status]="provider.serviceList[i].length == 0 ? 'danger' : 'basic'"
                        />
                      </div>
                      <div class="col-2 col-md-1" style="text-align: right">
                        <nb-icon
                          class="xIcon"
                          status="basic"
                          icon="trash-2-outline"
                          pack="eva"
                          (click)="provider.serviceList.splice(i, 1); isFormDirty.next(true)"
                          [options]="{ animation: { type: 'shake' } }"
                        ></nb-icon>
                      </div>
                    </div>
                  </nb-list-item>
                </nb-list>
                <div class="row">
                  <div class="col-md-11">
                    <div class="form-control-group">
                      <label class="label" for="input-product">Produto:</label>
                      <input
                        nbInput
                        [(ngModel)]="options.productName"
                        #product="ngModel"
                        id="input-product"
                        name="product"
                        placeholder="Produto"
                        fullWidth
                        fieldSize="large"
                        [status]="product.value ? 'success' : 'basic'"
                        [attr.aria-invalid]="product.invalid && product.touched ? true : null"
                      />
                    </div>
                  </div>
                  <div class="col-md-1">
                    <button
                      nbButton
                      type="button"
                      fullWidth
                      status="primary"
                      size="large"
                      style="margin-top: 28px"
                      [disabled]="!product.value"
                      (click)="provider.productList.push(options.productName); options.productName = ''"
                    >
                      +
                    </button>
                  </div>
                  <nb-list style="width: 100%">
                    <nb-list-item *ngFor="let activity of provider.productList; let i = index; trackBy: trackByIndex">
                      <div class="row irow">
                        <div class="col-10 col-md-11">
                          <input
                            nbInput
                            [(ngModel)]="provider.productList[i]"
                            id="input-productListItem-{{ i }}"
                            name="productListItem-{{ i }}"
                            placeholder="Produto"
                            fullWidth
                            [status]="provider.productList[i].length == 0 ? 'danger' : 'basic'"
                          />
                        </div>
                        <div class="col-2 col-md-1" style="text-align: right">
                          <nb-icon
                            class="xIcon"
                            status="basic"
                            icon="trash-2-outline"
                            pack="eva"
                            (click)="provider.productList.splice(i, 1); isFormDirty.next(true)"
                            [options]="{ animation: { type: 'shake' } }"
                          ></nb-icon>
                        </div>
                      </div>
                    </nb-list-item>
                  </nb-list>
                  <div class="col-md-12" *ngIf="uploadedFiles.length > 0">
                    <div class="form-control-group">
                      <label class="label" for="input-description">Comprovantes anexados:</label>
                      <nb-list>
                        <nb-list-item *ngFor="let file of uploadedFiles; let i = index; trackBy: trackByIndex">
                          <div class="row irow" style="width: 100%">
                            <div class="col-11 col-md-5">
                              <div class="irow row">
                                <div class="col-1">#{{ +i + 1 }}</div>
                                <a
                                  [href]="file.url"
                                  class="col"
                                  target="_blank"
                                  style="width: 100%; cursor: pointer; display: flex"
                                >
                                  {{ file.name }}
                                </a>
                              </div>
                            </div>
                            <div class="col-11 col-md-6">
                              <div class="form-control-group">
                                <textarea
                                  nbInput
                                  [(ngModel)]="getFile(uploadedFiles[i]).description"
                                  id="input-description-{{ i }}"
                                  name="descriptionFile-{{ i }}"
                                  placeholder="Descreva os detalhes do arquivo"
                                  fullWidth
                                  fieldSize="large"
                                  [required]="validation.description.required"
                                  [minlength]="validation.description.minLength"
                                  [maxlength]="validation.description.maxLength"
                                  [status]="
                                    getFile(uploadedFiles[i]).description.length >= validation.description.minLength &&
                                    getFile(uploadedFiles[i]).description.length <= validation.description.maxLength
                                      ? 'success'
                                      : 'danger'
                                  "
                                ></textarea>
                                <ng-container
                                  *ngIf="getFile(uploadedFiles[i]).description.length < validation.description.minLength"
                                >
                                  <p class="caption status-danger" *ngIf="!getFile(uploadedFiles[i]).description.length">
                                    O campo de descrição é obrigatório!
                                  </p>
                                  <p
                                    class="caption status-danger"
                                    *ngIf="
                                      getFile(uploadedFiles[i]).description.length < validation.description.minLength ||
                                      getFile(uploadedFiles[i]).description.length > validation.description.maxLength
                                    "
                                  >
                                    O campo de descrição deve conter entre
                                    {{ validation.description.minLength }} a
                                    {{ validation.description.maxLength }}
                                    caracteres
                                  </p>
                                </ng-container>
                              </div>
                            </div>
                            <div class="col-1" style="text-align: right">
                              <nb-icon
                                class="xIcon"
                                status="danger"
                                icon="trash-2-outline"
                                pack="eva"
                                (click)="removeFile(i)"
                                [options]="{ animation: { type: 'shake' } }"
                              ></nb-icon>
                            </div>
                          </div>
                        </nb-list-item>
                      </nb-list>
                    </div>
                  </div>
                  <div class="col-md-12" *ngIf="form.valid">
                    <nb-file-uploader
                      [options]="uploaderOptions"
                      [isFileDrop]="true"
                      (filesList)="urlReceiver($event)"
                      dropAreaLabel="Arraste seu comprovante aqui ou"
                      dropAreaFileChooserLabel="escolha um arquivo"
                    ></nb-file-uploader>
                  </div>
                </div>
                <div class="form-control-group">
                  <label class="label" for="input-observation">Observação:</label>
                  <textarea
                    nbInput
                    [(ngModel)]="provider.observation"
                    #observation="ngModel"
                    id="input-observation"
                    name="observation"
                    placeholder="Observação"
                    fullWidth
                    fieldSize="large"
                    [minlength]="validation.observation.minLength"
                    [maxlength]="validation.observation.maxLength"
                    [status]="observation.dirty ? (observation.invalid ? 'danger' : 'success') : 'basic'"
                    [attr.aria-invalid]="observation.invalid && observation.touched ? true : null"
                  ></textarea>
                  <ng-container *ngIf="observation.invalid && observation.touched">
                    <p
                      class="caption status-danger"
                      *ngIf="observation.errors?.minlength || observation.errors?.maxlength"
                    >
                      A observação deve conter entre
                      {{ validation.observation.minLength }} a
                      {{ validation.observation.maxLength }}
                      caracteres
                    </p>
                  </ng-container>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label class="label" for="input-bankName">Banco:</label>
                    <input
                      nbInput
                      [(ngModel)]="provider.bankData.name"
                      #bankName="ngModel"
                      id="input-bankName"
                      name="input-bankName"
                      placeholder="Banco"
                      fullWidth
                      fieldSize="large"
                      ngxSelectAllText
                      [minlength]="validation.bankData.bankName.minLength"
                      [maxlength]="validation.bankData.bankName.maxLength"
                      [status]="bankName.dirty ? (bankName.invalid ? 'danger' : 'success') : 'basic'"
                      [attr.aria-invalid]="bankName.invalid && bankName.touched ? true : null"
                    />
                    <ng-container *ngIf="bankName.invalid && bankName.touched">
                      <p class="caption status-danger" *ngIf="bankName.errors?.minlength || bankName.errors?.maxlength">
                        O nome do banco deve conter entre
                        {{ validation.bankData.bankName.minLength }} a
                        {{ validation.bankData.bankName.maxLength }}
                        caracteres
                      </p>
                    </ng-container>
                  </div>
                  <div class="col-md-4">
                    <label class="label" for="input-agency">Agencia:</label>
                    <input
                      nbInput
                      [(ngModel)]="provider.bankData.agency"
                      #agency="ngModel"
                      id="input-agency"
                      name="input-agency"
                      placeholder="Agencia"
                      fullWidth
                      fieldSize="large"
                      ngxSelectAllText
                      [minlength]="validation.bankData.agency.minLength"
                      [maxlength]="validation.bankData.agency.maxLength"
                      [status]="agency.dirty ? (agency.invalid ? 'danger' : 'success') : 'basic'"
                      [attr.aria-invalid]="agency.invalid && agency.touched ? true : null"
                    />
                    <ng-container *ngIf="agency.invalid && agency.touched">
                      <p class="caption status-danger" *ngIf="agency.errors?.minlength || agency.errors?.maxlength">
                        A agencia deve conter entre
                        {{ validation.bankData.agency.minLength }} a
                        {{ validation.bankData.agency.maxLength }}
                        caracteres
                      </p>
                    </ng-container>
                  </div>
                  <div class="col-md-4">
                    <label class="label" for="input-accountNumber">Número da conta:</label>
                    <input
                      nbInput
                      [(ngModel)]="provider.bankData.accountNumber"
                      #accountNumber="ngModel"
                      id="input-accountNumber"
                      name="input-accountNumber"
                      placeholder="Número da conta"
                      fullWidth
                      fieldSize="large"
                      ngxSelectAllText
                      [minlength]="validation.bankData.accountNumber.minLength"
                      [maxlength]="validation.bankData.accountNumber.maxLength"
                      [status]="accountNumber.dirty ? (accountNumber.invalid ? 'danger' : 'success') : 'basic'"
                      [attr.aria-invalid]="accountNumber.invalid && accountNumber.touched ? true : null"
                    />
                    <ng-container *ngIf="accountNumber.invalid && accountNumber.touched">
                      <p
                        class="caption status-danger"
                        *ngIf="accountNumber.errors?.minlength || accountNumber.errors?.maxlength"
                      >
                        O número da conta deve conter entre
                        {{ validation.bankData.accountNumber.minLength }} a
                        {{ validation.bankData.accountNumber.maxLength }}
                        caracteres
                      </p>
                    </ng-container>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="label" for="input-operation">Operação:</label>
                    <input
                      nbInput
                      [(ngModel)]="provider.bankData.operation"
                      #operation="ngModel"
                      id="input-operation"
                      name="input-operation"
                      placeholder="Número da conta"
                      fullWidth
                      fieldSize="large"
                      ngxSelectAllText
                      [minlength]="validation.bankData.operation.minLength"
                      [maxlength]="validation.bankData.operation.maxLength"
                      [status]="operation.dirty ? (operation.invalid ? 'danger' : 'success') : 'basic'"
                      [attr.aria-invalid]="operation.invalid && operation.touched ? true : null"
                    />
                    <ng-container *ngIf="operation.invalid && operation.touched">
                      <p
                        class="caption status-danger"
                        *ngIf="operation.errors?.minlength || operation.errors?.maxlength"
                      >
                        A operação deve conter entre
                        {{ validation.bankData.operation.minLength }} a
                        {{ validation.bankData.operation.maxLength }}
                        caracteres
                      </p>
                    </ng-container>
                  </div>
                  <div class="col-md-6">
                    <label class="label" for="input-pix">Pix:</label>
                    <input
                      nbInput
                      [(ngModel)]="provider.bankData.pix"
                      #pix="ngModel"
                      id="input-pix"
                      name="input-pix"
                      placeholder="Chave Pix"
                      fullWidth
                      fieldSize="large"
                      ngxSelectAllText
                      [minlength]="validation.bankData.pix.minLength"
                      [maxlength]="validation.bankData.pix.maxLength"
                      [status]="pix.dirty ? (pix.invalid ? 'danger' : 'success') : 'basic'"
                      [attr.aria-invalid]="pix.invalid && pix.touched ? true : null"
                    />
                    <ng-container *ngIf="pix.invalid && pix.touched">
                      <p class="caption status-danger" *ngIf="pix.errors?.minlength || pix.errors?.maxlength">
                        O pix deve conter entre
                        {{ validation.bankData.pix.minLength }} a
                        {{ validation.bankData.pix.maxLength }}
                        caracteres
                      </p>
                    </ng-container>
                  </div>
                </div>
                <button
                  nbButton
                  fullWidth
                  status="primary"
                  size="large"
                  [disabled]="submitted || !form.valid"
                  [class.btn-pulse]="submitted"
                >
                  {{ editing ? 'ATUALIZAR' : 'CADASTRAR' }}
                </button>
              </form>
            </div>
          </div>
        </ng-template>
      </nb-card-body>
    </nb-card>
  </div>
</div>
