<div class="row">
  <div class="col-4">
    <input
      nbInput
      [(ngModel)]="action.name"
      fullWidth
      fieldSize="large"
      [readonly]="action.isFinished"
    />
  </div>
  <div class="col-3" *ngIf="!action.isFinished">
    <input
      nbInput
      [(ngModel)]="itemRange"
      fullWidth
      fieldSize="large"
      [nbDatepicker]="rangePicker"
    />
    <nb-rangepicker #rangePicker [min]="yesterday"></nb-rangepicker>
  </div>
  <div class="col-3" *ngIf="action.isFinished">
    <input
      nbInput
      [ngModel]="getFormattedRange()"
      fullWidth
      fieldSize="large"
      [readonly]="action.isFinished"
    />
  </div>
  <div class="col-3">
    <input
      nbInput
      [ngModel]="this.userService.idToName(action.responsible)"
      fullWidth
      fieldSize="large"
      [readonly]="true"
    />
  </div>
  <div class="col-1 btn-container flex-column">
    <label class="label">Finalizada?</label>
    <nb-checkbox
      [checked]="action.isFinished"
      (checkedChange)="action.isFinished = !action.isFinished"
    ></nb-checkbox>
  </div>
  <div class="col-1 btn-container">
    <nb-icon
      *ngIf="!action.isFinished"
      class="xIcon"
      status="danger"
      icon="trash-2-outline"
      pack="eva"
      (click)="removeActionItem()"
      [options]="{ animation: { type: 'shake' } }"
    ></nb-icon>
  </div>
</div>
