<div class="expansive-grid-wrapper">
  <nb-card
    [ngStyle]="{
      'max-height.rem': maxHeight,
      'height.rem': isExpanded ? maxHeight : minHeight
    }"
  >
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body
      [ngStyle]="{
        'overflow-y': maxRows && items.length > maxRows && isExpanded ? 'scroll' : 'hidden'
      }"
    >
      <div *ngIf="isLoading || items.length == 0; else gridTemplate">
        <div
          *ngIf="isLoading"
          class="loading-spinner"
          [nbSpinner]="true"
          nbSpinnerStatus="primary"
          nbSpinnerSize="giant"
        ></div>
        <span *ngIf="!isLoading && items.length == 0">Não há itens para mostrar.</span>
      </div>
      <ng-template #gridTemplate>
        <div class="metric-items-wrapper">
          <div class="metric-item" *ngFor="let item of items" #textMetric>
            <ngx-metric-item [metricItem]="item"></ngx-metric-item>
          </div>
        </div>
      </ng-template>
    </nb-card-body>
  </nb-card>
  <button
    *ngIf="minRows && items.length > minRows"
    nbButton
    type="button"
    fullWidth
    size="small"
    class="show-more"
    (click)="toggleExpansive()"
  >
    Mostrar {{ isExpanded ? 'menos' : 'mais' }}
  </button>
</div>
