@import 'app/@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  --tabset-content-padding: 0;
  --radio-height: 14px;
  --radio-width: 14px;
  --radio-text-line-height: nb-theme(--text-label-line-height);
  --radio-text-font-size: 1em;
  --radio-text-font-weight: nb-theme(text-label-font-weight);
  --radio-basic-text-color: nb-theme(text-hint-color);

  nb-radio-group {
    display: flex;

    nb-radio {
      display: flex;
    }
  }

  nb-tab {
    overflow: unset;
    margin-top: 10px;
  }

  hr {
    margin-top: nb-theme(text-label-line-height);
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid nb-theme(text-hint-color);
  }

  .danger {
    color: nb-theme(text-danger-color);
  }

  .success {
    color: nb-theme(text-success-color);
  }

  .noPadding {
    padding: nb-theme(list-item-padding) 0;
  }

  .irow {
    width: 100%;
    margin-left: 0;
    align-items: center;
    div:not(:first-of-type) {
      @include media-breakpoint-down(md) {
        padding-top: 10px;
      }
    }
  }

  .totalRow {
    div:not(:first-of-type) {
      text-align: center;
    }
  }

  .xIcon:hover {
    color: nb-theme(icon-danger-color) !important;
  }

  .label-divider {
    color: nb-theme(text-hint-color);
    font-family: nb-theme(text-label-font-family);
    font-size: nb-theme(text-basic-font-size);
    font-weight: nb-theme(text-label-font-weight);
    line-height: nb-theme(text-label-line-height);
  }

  .list-erase {
    text-align: right;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  .list-name {
    text-align: left;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }
}

::ng-deep {
  .tabset .tab a {
    align-items: center;
  }

  nb-tooltip {
    white-space: pre-wrap;
  }
}
