<nb-tabset fullWidth (changeTab)="getActiveTab($event)">
  <nb-tab tabTitle='Dados' tabIcon="info-outline">
    <ngx-data-tab
      (contractChangedStatus)="contractChangedStatus.emit($event)"
      *ngIf="tabActive === TABS.DATA"
      [contract]="contract"
      [clonedContract]="clonedContract"
    ></ngx-data-tab>
  </nb-tab>
  <nb-tab tabTitle='Gestão' [tabIcon]="contractIcon">
    <ngx-management-tab
      (contractChangedStatus)="contractChangedStatus.emit($event)"
      *ngIf="tabActive === TABS.MANAGEMENT"
      [contract]="contract"
      [clonedContract]="clonedContract"
      [isDialogBlocked]="isDialogBlocked"
    ></ngx-management-tab>
  </nb-tab>
  <nb-tab tabTitle='Balanço' [tabIcon]="scaleIcon">
    <ngx-balance-tab *ngIf="tabActive === TABS.BALANCE" [clonedContract]="clonedContract"></ngx-balance-tab>
  </nb-tab>
  <nb-tab tabTitle='Ordens de empenho' [tabIcon]="receiptIcon">
    <ngx-receipt-tab
      *ngIf="tabActive === TABS.RECEIPTS"
      [contract]="contract"
      [clonedContract]="clonedContract"
      [isDialogBlocked]="isDialogBlocked"
    ></ngx-receipt-tab>
  </nb-tab>
  <nb-tab tabTitle='Ordens de pagamento' [tabIcon]="paymentIcon">
    <ngx-payment-tab
      *ngIf="tabActive === TABS.PAYMENTS"
      [contract]="contract"
      [clonedContract]="clonedContract"
      [isDialogBlocked]="isDialogBlocked"
    ></ngx-payment-tab>
  </nb-tab>
  <nb-tab tabTitle='Despesas' [tabIcon]="expenseIcon">
    <ngx-expense-tab
      *ngIf="tabActive === TABS.EXPENSES"
      [contract]="contract"
      [clonedContract]="clonedContract"
      [isDialogBlocked]="isDialogBlocked"
    ></ngx-expense-tab>
  </nb-tab>
</nb-tabset>
