@import '../../../@theme/styles/themes';

@include nb-install-component() {
  --tabset-content-padding: 0;

  nb-tab {
    overflow: unset;
  }
}

::ng-deep {
  .tabset .tab a {
    align-items: center;
  }
}
