@import 'app/@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  --tabset-content-padding: 0;
  --radio-height: 14px;
  --radio-width: 14px;
  --radio-text-line-height: nb-theme(--text-label-line-height);
  --radio-text-font-size: 1em;
  --radio-text-font-weight: nb-theme(text-label-font-weight);
  --radio-basic-text-color: nb-theme(text-hint-color);

  nb-radio-group {
    display: flex;

    nb-radio {
      display: flex;
    }
  }

  nb-tab {
    overflow: unset;
    margin-top: 10px;
  }

  hr {
    margin-top: nb-theme(text-label-line-height);
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid nb-theme(text-hint-color);
  }

  .danger {
    color: nb-theme(text-danger-color);
  }

  .success {
    color: nb-theme(text-success-color);
  }

  .irow {
    width: 100%;
    margin-left: 0;
    align-items: center;
  }

  .xIcon:hover {
    color: nb-theme(icon-danger-color) !important;
  }
}

::ng-deep {
  .tabset .tab a {
    align-items: center;
  }

  .tabset .tab[data-tab-id='contract-tab'] a nb-icon {
    top: -5px;
    position: relative;
  }

  nb-tooltip {
    white-space: pre-wrap;
  }
}
