<nb-tabset fullWidth>
  <nb-tab tabTitle="Dados" tabIcon="info-outline" responsive>
    <form
      (ngSubmit)="registerContract()"
      #form="ngForm"
      aria-labelledby="title"
    >
      <div class="row">
        <div class="col-sm-7">
          <div class="form-control-group">
            <label class="label" for="input-author">Autor:</label>
            <input
              nbInput
              [(ngModel)]="contract.fullName"
              #author="ngModel"
              id="input-author"
              name="author"
              placeholder="Nome do autor"
              fullWidth
              fieldSize="large"
              [required]="validation.author.required"
              [status]="
                author.dirty ? (author.invalid ? 'danger' : 'success') : 'basic'
              "
              [attr.aria-invalid]="
                author.invalid && author.touched ? true : null
              "
              [readonly]="true"
            />
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-control-group">
            <label class="label" for="input-version">Revisão:</label>
            <input
              nbInput
              [(ngModel)]="contract.version"
              #version="ngModel"
              id="input-version"
              name="version"
              placeholder="Revisão"
              fullWidth
              fieldSize="large"
              [required]="validation.version.required"
              [status]="
                version.dirty
                  ? version.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [attr.aria-invalid]="
                version.invalid && version.touched ? true : null
              "
              [readonly]="false"
            />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-control-group">
            <label class="label" for="input-status">Status:</label>
            <nb-select
              [(ngModel)]="contract.status"
              #status="ngModel"
              id="input-status"
              name="status"
              placeholder="Selecione o status"
              fullWidth
              size="large"
              [required]="validation.status.required"
              [status]="
                status.dirty ? (status.invalid ? 'danger' : 'success') : 'basic'
              "
              [attr.aria-invalid]="
                status.invalid && status.touched ? true : null
              "
            >
              <nb-option *ngFor="let status of STATOOS" [value]="status">
                {{ status }}
              </nb-option>
            </nb-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-control-group">
            <label class="label" for="input-code">Código do orçamento:</label>
            <input
              nbInput
              [(ngModel)]="contract.code"
              #code="ngModel"
              id="input-code"
              name="code"
              placeholder="Código do Orçamento"
              fullWidth
              fieldSize="large"
              [required]="validation.code.required"
              [status]="
                code.dirty ? (code.invalid ? 'danger' : 'success') : 'basic'
              "
              [attr.aria-invalid]="code.invalid && code.touched ? true : null"
              [readonly]="true"
            />
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-control-group">
            <label class="label" for="input-department">Diretoria:</label>
            <input
              nbInput
              [(ngModel)]="contract.invoice.department"
              #department="ngModel"
              id="input-department"
              name="department"
              placeholder="Código do Orçamento"
              fullWidth
              fieldSize="large"
              [required]="validation.department.required"
              [status]="
                department.dirty
                  ? department.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [attr.aria-invalid]="
                department.invalid && department.touched ? true : null
              "
              [readonly]="true"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-control-group">
            <label class="label" for="input-coordination">Coordenação:</label>
            <input
              nbInput
              [(ngModel)]="contract.invoice.coordination"
              #coordination="ngModel"
              id="input-coordination"
              name="coordination"
              placeholder="Código do Orçamento"
              fullWidth
              fieldSize="large"
              [required]="validation.coordination.required"
              [status]="
                coordination.dirty
                  ? coordination.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [attr.aria-invalid]="
                coordination.invalid && coordination.touched ? true : null
              "
              [readonly]="true"
            />
          </div>
        </div>
      </div>

      <div class="form-control-group">
        <label class="label" for="input-contractor">Cliente:</label>
        <input
          nbInput
          [(ngModel)]="contract?.contractor.fullName"
          #contractor="ngModel"
          id="input-contractor"
          name="contractor"
          placeholder="Nome do cliente"
          fullWidth
          fieldSize="large"
          [required]="validation.contractor.required"
          [status]="
            contractor.dirty
              ? contractor.invalid
                ? 'danger'
                : 'success'
              : 'basic'
          "
          [attr.aria-invalid]="
            contractor.invalid && contractor.touched ? true : null
          "
          [readonly]="true"
        />
        <ng-container *ngIf="contractor.invalid && contractor.touched">
          <p class="caption status-danger" *ngIf="contractor.errors?.required">
            O nome do cliente é obrigatório!
          </p>
          <p
            class="caption status-danger"
            *ngIf="contractor.errors?.minlength || contractor.errors?.maxlength"
          >
            O nome do cliente deve conter entre
            {{ validation.contractor.minLength }} a
            {{ validation.contractor.maxLength }}
            caracteres
          </p>
        </ng-container>
      </div>

      <div class="form-control-group">
        <label class="label" for="input-name">Empreendimento:</label>
        <input
          nbInput
          [(ngModel)]="contract.name"
          #name="ngModel"
          id="input-name"
          name="name"
          placeholder="Nome do empreendimento"
          fullWidth
          fieldSize="large"
          [required]="validation.name.required"
          [status]="
            name.dirty ? (name.invalid ? 'danger' : 'success') : 'basic'
          "
          [attr.aria-invalid]="name.invalid && name.touched ? true : null"
          [readonly]="true"
        />
        <ng-container *ngIf="name.invalid && name.touched">
          <p class="caption status-danger" *ngIf="name.errors?.required">
            O nome do empreendimento é obrigatório!
          </p>
          <p
            class="caption status-danger"
            *ngIf="name.errors?.minlength || name.errors?.maxlength"
          >
            O nome do empreendimento deve conter entre
            {{ validation.name.minLength }} a
            {{ validation.name.maxLength }}
            caracteres
          </p>
        </ng-container>
      </div>

      <div class="form-control-group">
        <label class="label" for="input-value">Valor do contrato:</label>
        <input
          nbInput
          [(ngModel)]="contract.value"
          #value="ngModel"
          id="input-value"
          name="value"
          placeholder="Valor do contrato"
          fullWidth
          fieldSize="large"
          [brmasker]="{
            money: true,
            thousand: '.',
            decimalCaracter: ',',
            decimal: '2'
          }"
          [required]="validation.value.required"
          [status]="
            value.dirty ? (value.invalid ? 'danger' : 'success') : 'basic'
          "
          [attr.aria-invalid]="value.invalid && value.touched ? true : null"
          [readonly]="true"
        />
        <ng-container *ngIf="value.invalid && value.touched">
          <p class="caption status-danger" *ngIf="value.errors?.required">
            O valor do contrato é obrigatório!
          </p>
          <p
            class="caption status-danger"
            *ngIf="value.errors?.minlength || value.errors?.maxlength"
          >
            O valor do contrato deve conter entre
            {{ validation.value.minLength }} a
            {{ validation.value.maxLength }}
            numeros
          </p>
        </ng-container>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-control-group">
            <label class="label" for="input-paid">Valor pago:</label>
            <input
              nbInput
              [(ngModel)]="contract.paid"
              #paid="ngModel"
              id="input-paid"
              name="paid"
              placeholder="Código do Orçamento"
              fullWidth
              fieldSize="large"
              [brmasker]="{
                money: true,
                thousand: '.',
                decimalCaracter: ',',
                decimal: '2'
              }"
              [required]="validation.paid?.required"
              [status]="
                paid.dirty ? (paid.invalid ? 'danger' : 'success') : 'basic'
              "
              [attr.aria-invalid]="paid.invalid && paid.touched ? true : null"
              [readonly]="true"
            />
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-control-group">
            <label class="label" for="input-interest">Parcelas pagas:</label>
            <input
              nbInput
              [(ngModel)]="contract.interest"
              #interest="ngModel"
              id="input-interest"
              name="interest"
              placeholder="Parcelas pagas"
              fullWidth
              fieldSize="large"
              [required]="validation.interest?.required"
              [minlength]="validation.interest?.minLength"
              [maxlength]="validation.interest?.maxLength"
              [status]="
                interest.dirty
                  ? interest.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [attr.aria-invalid]="
                interest.invalid && interest.touched ? true : null
              "
              [readonly]="true"
            />
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-control-group">
            <label class="label" for="input-total">Parcelas totais:</label>
            <nb-select
              [(ngModel)]="contract.total"
              #total="ngModel"
              id="input-total"
              name="total"
              placeholder="Total"
              fullWidth
              size="large"
              [required]="validation.total?.required"
              [status]="
                total.dirty ? (total.invalid ? 'danger' : 'success') : 'basic'
              "
              [attr.aria-invalid]="total.invalid && total.touched ? true : null"
            >
              <nb-option *ngFor="let interest of INTERESTS" [value]="interest">
                {{ interest }}
              </nb-option>
            </nb-select>
          </div>
        </div>
      </div>
      <button
        nbButton
        fullWidth
        status="primary"
        size="large"
        style="margin-top: 20px;"
        [disabled]="submitted || !form.valid"
        [class.btn-pulse]="submitted"
      >
        Atualizar
      </button>
    </form>
  </nb-tab>
  <nb-tab
    tabTitle="Ordens de empenho"
    [tabIcon]="paymentIcon"
    responsive
  ></nb-tab>
</nb-tabset>
