<div class="file-uploader">
  <ng-container *ngIf="!options.directory">
    <input
      #inputEl
      type="file"
      style="display: none;"
      [accept]="accept"
      [multiple]="options.multiple"
      (change)="onChange()"
    />
  </ng-container>

  <ng-container *ngIf="options.directory">
    <input
      #inputEl
      type="file"
      style="display: none;"
      [accept]="accept"
      [multiple]="options.multiple"
      webkitdirectory
      (change)="onChange()"
    />
  </ng-container>

  <div
    *ngIf="isFileDrop"
    nbFileDrop
    [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
    [options]="options"
    (fileOver)="fileOverBase($event)"
    class="well my-drop-zone"
    style="
      text-align: center;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <p>
      {{ dropAreaLabel }}
      <b (click)="browse()" style="cursor: pointer;">{{
        dropAreaFileChooserLabel
      }}</b>
    </p>
  </div>

  <button
    *ngIf="!isFileDrop"
    nbButton
    status="primary"
    class="browse-button"
    (click)="browse()"
  >
    {{ buttonLabel }}
  </button>
</div>

<nb-upload-queue
  *ngIf="(uploader.uploadQueue$ | async).length && options.showUploadQueue"
  [items]="uploader.uploadQueue$ | async"
></nb-upload-queue>
