@import 'app/@theme/styles/themes';

@include nb-install-component() {
  .metric-title {
    margin-right: 0.4rem;
  }

  .metric-value {
    margin: 0;
  }

  .semi-bold {
    font-weight: 600;
  }
}
