@import 'app/@theme/styles/themes';

@font-face {
  font-family: 'icons';
  src: url('../../../assets/fonts/icons.eot?6rw0ga');
  src: url('../../../assets/fonts/icons.eot?6rw0ga#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/icons.ttf?6rw0ga') format('truetype'),
    url('../../../assets/fonts/icons.woff?6rw0ga') format('woff'),
    url('../../../assets/fonts/icons.svg?6rw0ga#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

::ng-deep {
  .coursesTable {
    .ng2-smart-action-delete-delete:hover {
      color: nb-theme(icon-success-color) !important;
    }
  }

  table {
    text-align: center;
  }
}
