<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header *ngIf="pageWidth() < 576">
        <div class="row">
          <div class="col-10">
            <input
              nbInput
              [(ngModel)]="searchQuery"
              #code="ngModel"
              id="input-code"
              name="code"
              placeholder="Busque aqui..."
              fullWidth
              fieldSize="large"
            />
          </div>
        </div>
      </nb-card-header>
      <div
        *ngIf="!isDataLoaded; else table"
        [nbSpinner]="true"
        nbSpinnerStatus="primary"
        nbSpinnerSize="giant"
        style="width: 100%; height: 654px"
      ></div>
      <ng-template #table>
        <ng2-smart-table
          class="coursesTable"
          *ngIf="!utils.isPhone(); else phone"
          #smartTable
          [settings]="settings"
          [source]="source"
          (create)="openDialog({})"
          (edit)="openDialog($event)"
          (delete)="openParticipantDialog($event)"
        ></ng2-smart-table>
      </ng-template>
      <ng-template #phone>
        <nb-list>
          <nb-list-item *ngFor="let course of courses; let i = index">
            <a>
              <div class="row">
                <div class="col-12" style="margin-bottom: 10px">
                  <nb-user size="giant" [name]="course.name"></nb-user>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p>
                    <nb-icon icon="user-tie" pack="fa" status="success"></nb-icon>
                    <span style="vertical-align: 0.1em">
                      {{ course.speaker }}
                    </span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <p>
                    <nb-icon icon="users" pack="fa" status="success" style="margin-right: 0.5rem"></nb-icon>
                    <span style="vertical-align: 0.1em">{{ course.participantsQuantity }} participante(s)</span>
                  </p>
                </div>
                <div class="col-4">
                  <p>
                    <nb-icon icon="award" pack="fa" status="success"></nb-icon>
                    <span style="vertical-align: 0.1em">{{ course.hasCertificate ? '✅' : '❌' }}</span>
                  </p>
                </div>
              </div>
            </a>
          </nb-list-item>
        </nb-list>
      </ng-template>
    </nb-card>
  </div>
</div>
