<nb-tabset class="dashboard" (changeTab)="setActiveTab($event)">
  <nb-tab [tabTitle]="isPhone() ? '' : tabTitles.PESSOAL" tabIcon="person" responsive>
    <div class="row">
      <div class="col-12" style="display:flex; justify-content: center;">
        <div class="col-12">
          <nb-card class="announcements">
            <nb-card-header style="height: 3.5rem;"><span style=" padding-right: 5px;">Anúncios administrativos</span>
              <button
                  *ngIf="isFinancialManager"
                  nbButton
                  style="margin-bottom: 5px; padding: 0; font-size: 30px;"
                  ghost
                  nbTooltip="Editar anúncio"
                  nbTooltipPlacement="right"
                  (click)="inputDialog()"
                >
                <i class="nb-edit"></i>
              </button>
            </nb-card-header>
            <div
              *ngIf="!isCurrentAnnouncementLoaded"
              [nbSpinner]="true"
              nbSpinnerStatus="primary"
              nbSpinnerSize="giant"
              style="width: 100%; height: 80px;"
            ></div>
            <nb-card-body *ngIf="isCurrentAnnouncementLoaded"
            [innerHtml]="currentAnnouncement ? currentAnnouncement : 'Não há nenhum anúncio atualmente'">
            </nb-card-body>
          </nb-card>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="col-12"><ngx-progress-section></ngx-progress-section></div>
        <div class="col-12">
          <nb-card>
            <ngx-time-series [series$]="timeSeries$"></ngx-time-series>
          </nb-card>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="col-12">
          <ngx-expansive-list
            [title]="'Ranking de Paretto'"
            [items]="parettoRank"
            [isLoading]="!isParettoRankLoaded"
          ></ngx-expansive-list>
        </div>
        <div class="col-12">
          <ngx-expansive-list *ngIf="isFinancialManager"
            [title]="'Contratos com OP abertas'"
            [items]="openOPs"
            [isLoading]="!isOPsLoaded"
            [itemsToString]="contractTransactionInfoToString.bind(this)"
            [itemClickCallback]="openContractDialog.bind(this)"
          ></ngx-expansive-list>
        </div>
        <div class="col-12">
          <ngx-expansive-list *ngIf="isFinancialManager"
            [title]="'Contratos com OE abertas'"
            [items]="openOEs"
            [isLoading]="!isOEsLoaded"
            [itemsToString]="contractTransactionInfoToString.bind(this)"
            [itemClickCallback]="openContractDialog.bind(this)"
          ></ngx-expansive-list>
        </div>
        <div class="col-12">
          <ngx-expansive-list *ngIf="isFinancialManager"
            [title]="'Contratos com Despesas abertas'"
            [items]="openExpenses"
            [isLoading]="!isExpensesLoaded"
            [itemsToString]="contractTransactionInfoToString.bind(this)"
            [itemClickCallback]="openContractDialog.bind(this)"
          ></ngx-expansive-list>
        </div>
      </div>
    </div>
  </nb-tab>
  <nb-tab
    *ngIf="nortanTeam"
    [tabTitle]="isPhone() ? '' : nortanTeam.name"
    [tabIcon]="nortanIcon"
    [tabId]="nortanTeam ? nortanTeam._id : ''"
    responsive
  >
    <nb-card fullWidth class="noOverflow">
      <div class="row">
        <div class="col-12 col-md-3">
          <ngx-gauge [value$]="contractsBalance$" name="Nortan"></ngx-gauge>
        </div>
        <div class="col-12 col-md-3">
          <ngx-gauge [value$]="taxesBalance$" name="Impostos"></ngx-gauge>
        </div>
        <div class="col-12 col-md-2" style="text-align: center">
          <h2 style="margin-top: 15px">{{ open$ | async }}</h2>
          <p>Contratos em Aberto</p>
        </div>
        <div class="col-12 col-md-2" style="text-align: center">
          <h2 style="margin-top: 15px">{{ toReceive$ | async }}</h2>
          <p>Contratos a Receber</p>
        </div>
        <a style="text-decoration: none; display: contents; cursor: pointer" (click)="openDialog()">
          <div class="col-12 col-md-2" style="text-align: center">
            <h2 style="margin-top: 15px; display: flex; align-items: flex-start; justify-content: center">
              R$ {{ expenses$ | async }}
              <nb-icon
                status="info"
                icon="diagonal-arrow-right-up"
                pack="eva"
                [options]="{ animation: { type: 'pulse' } }"
              ></nb-icon>
            </h2>
            <p>Despesas Administrativas</p>
          </div>
        </a>
      </div>
    </nb-card>
    <div class="col-12 col-md-6" style="padding: 0">
      <nb-card *ngIf="currentTheme === THEMES.DEFAULT || currentTheme === THEMES.CORPORATE; else dark">
        <iframe
          src="https://embed.styledcalendar.com/#pJb2THZfDOvcqttqQsVn"
          title="Styled Calendar"
          scrolling="no"
          class="styled-calendar-container"
          style="border: 0px solid rgb(0, 0, 0); border-radius: 0.35rem; height: 650px; padding: 0.5rem; overflow-y: clip;"
          data-cy="calendar-embed-iframe"
        ></iframe>
        <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
      </nb-card>
      <ng-template #dark>
        <nb-card>
          <iframe
            src="https://embed.styledcalendar.com/#8TgvOZJI7arWLIrG6CXF"
            title="Styled Calendar"
            scrolling="no"
            class="styled-calendar-container"
            style="border: 0px solid rgb(0, 0, 0); border-radius: 0.35rem; height: 650px; padding: 0.5rem"
            data-cy="calendar-embed-iframe"
          ></iframe>
          <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
        </nb-card>
      </ng-template>
    </div>
  </nb-tab>
  <nb-tab
    *ngFor="let team of teams"
    [tabTitle]="isPhone() ? '' : team.name"
    [tabIcon]="teamIcon"
    [tabId]="team._id"
    responsive
  >
    <nb-card>
      <div class="row">
        <div class="col-12 col-md-12" style="text-align: center">
          <h2 style="margin-top: 15px; display: flex; align-items: flex-start; justify-content: center">
            R$ {{ team.locals.balance }}
          </h2>
          <p>Caixa do time</p>
        </div>
      </div>
    </nb-card>
  </nb-tab>
</nb-tabset>
