@import 'app/@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  --tabset-content-padding: 0;
  --spinner-primary-background-color: transparent;

  nb-tab {
    overflow: unset;
    margin-top: 10px;
  }

  .noOverflow {
    overflow: hidden !important;
  }

  ngx-gauge {
    display: block;
    height: 100px;
    width: 100%;
  }

  .announcements {
  max-height: 300px;
  font-size: 15px;
  text-align: center;
  }
}

::ng-deep {
  .tabset .tab a {
    align-items: center;
  }

  table {
    text-align: center;
  }

  nb-tooltip {
    white-space: pre-wrap;
  }

  .dashboard {
    display: flex !important;
    flex-direction: column;
    margin-top: -2.5rem;
    @include media-breakpoint-down(md) {
      margin-top: -1rem;
    }

    .tabset {
      align-self: center;
      width: fit-content;
      background-color: nb-theme(card-background-color);
      border: nb-theme(card-border-width) nb-theme(card-border-style) nb-theme(card-border-color);
      border-radius: nb-theme(card-border-radius);
      box-shadow: nb-theme(card-shadow);
    }
  }

  .announcements nb-spinner {
    background-color: transparent !important;
  }
}
