<nb-tabset class="dashboard">
  <nb-tab
    [tabTitle]="utils.isPhone() ? '' : 'Pessoal'"
    tabIcon="person"
    responsive
  >
    <div class="row">
      <div class="col-12 col-md-3"><progress-section></progress-section></div>
    </div>
  </nb-tab>
  <nb-tab
    [tabTitle]="utils.isPhone() ? '' : 'Nortan'"
    [tabIcon]="nortanIcon"
    responsive
  >
    <nb-card fullWidth class="noOverflow">
      <div class="row">
        <div class="col-12 col-md-3">
          <ngx-gauge [value$]="contractsBalance$" name="Contratos"></ngx-gauge>
        </div>
        <div class="col-12 col-md-3">
          <ngx-gauge [value$]="taxesBalance$" name="Impostos"></ngx-gauge>
        </div>
        <div class="col-12 col-md-3" style="text-align: center">
          <h2 style="margin-top: 15px">{{ open$ | async }}</h2>
          <p>Contratos em Aberto</p>
        </div>
        <div class="col-12 col-md-3" style="text-align: center">
          <h2 style="margin-top: 15px">{{ toReceive$ | async }}</h2>
          <p>Contratos a Receber</p>
        </div>
      </div>
    </nb-card>
  </nb-tab>
</nb-tabset>
