<nb-tabset class="dashboard" (changeTab)="setActiveTab($event)">
  <nb-tab
    [tabTitle]="utils.isPhone() ? '' : tabTitles.PESSOAL"
    tabIcon="person"
    responsive
  >
    <div class="row">
      <div class="col-12 col-md-3"><progress-section></progress-section></div>
      <div class="col-12 col-md-9">
        <nb-card>
          <ngx-time-series [series$]="timeSeries$"></ngx-time-series>
        </nb-card>
      </div>
    </div>
  </nb-tab>
  <nb-tab
    [tabTitle]="utils.isPhone() ? '' : tabTitles.NORTAN"
    [tabIcon]="nortanIcon"
    responsive
  >
    <nb-card fullWidth class="noOverflow">
      <div class="row">
        <div class="col-12 col-md-3">
          <ngx-gauge [value$]="contractsBalance$" name="Nortan"></ngx-gauge>
        </div>
        <div class="col-12 col-md-3">
          <ngx-gauge [value$]="taxesBalance$" name="Impostos"></ngx-gauge>
        </div>
        <div class="col-12 col-md-3" style="text-align: center">
          <h2 style="margin-top: 15px">{{ open$ | async }}</h2>
          <p>Contratos em Aberto</p>
        </div>
        <div class="col-12 col-md-3" style="text-align: center">
          <h2 style="margin-top: 15px">{{ toReceive$ | async }}</h2>
          <p>Contratos a Receber</p>
        </div>
      </div>
    </nb-card>
  </nb-tab>
</nb-tabset>
<ngx-fab icon="plus">
  <ngx-fab-item
    icon="minus"
    pack="fac"
    content="Despesa"
    (clicked)="openDialog(dialogTypes.EXPENSE)"
  ></ngx-fab-item>
  <ngx-fab-item
    icon="dollar-sign"
    pack="fa"
    content="Ordem de Pagamento"
    (clicked)="openDialog(dialogTypes.PAYMENT)"
  ></ngx-fab-item>
  <ngx-fab-item
    icon="receipt"
    pack="fac"
    content="Ordem de Empenho"
    (clicked)="openDialog(dialogTypes.RECEIPT)"
  ></ngx-fab-item>
  <ngx-fab-item
    icon="file-invoice-dollar"
    pack="fac"
    content="Orçamento"
    iconTop="-3"
    (clicked)="openDialog(dialogTypes.INVOICE)"
  ></ngx-fab-item>
  <ngx-fab-item
    icon="person-add-outline"
    content="Cliente"
    iconLeft="1"
    (clicked)="openDialog(dialogTypes.CLIENT)"
  ></ngx-fab-item>
</ngx-fab>
