<form #form="ngForm" aria-labelledby="title" style="margin-bottom: 5px">
  <div class="row">
    <div class="col-4">
      <div class="form-control-group">
        <label class="label" for="input-name">Nome da promoção:</label>
        <input
          nbInput
          [(ngModel)]="promotion.name"
          #name="ngModel"
          id="input-name"
          name="name"
          placeholder="Nome da promoção"
          fullWidth
          fieldSize="large"
          [required]="validation.name.required"
          [minlength]="validation.name.minLength"
          [maxlength]="validation.name.maxLength"
          [status]="validateStatus(name)"
          [attr.aria-invalid]="name.invalid && name.touched ? true : null"
        />
        <ng-container *ngIf="name.invalid && name.touched">
          <p class="caption status-danger" *ngIf="name.errors?.required">O nome da promoção é obrigatório!</p>
          <p class="caption status-danger" *ngIf="name.errors?.minlength || name.errors?.maxlength">
            O nome da promoção deve conter entre
            {{ validation.name.minLength }} a
            {{ validation.name.maxLength }}
            caracteres
          </p>
        </ng-container>
      </div>
    </div>
    <div class="col-4">
      <div class="form-control-group">
        <label class="label" for="input-cashback">Porcentagem de cashback:</label>
        <input
          nbInput
          [(ngModel)]="promotion.cashback"
          (ngModelChange)="updateTableItems()"
          #cashback="ngModel"
          id="input-cashback"
          name="cashback"
          placeholder="% de cashback"
          fullWidth
          fieldSize="large"
          [required]="validation.cashback.required"
          [brmasker]="{
            money: true,
            thousand: '.',
            decimalCaracter: ',',
            decimal: 2
          }"
          ngxSelectAllText
          [status]="validateStatus(cashback)"
          [attr.aria-invalid]="cashback.invalid && cashback.touched ? true : null"
        />
        <ng-container *ngIf="cashback.invalid && cashback.touched">
          <p class="caption status-danger" *ngIf="cashback.errors?.required">O cashback da promoção é obrigatório!</p>
        </ng-container>
      </div>
    </div>
    <div class="col-4">
      <div class="form-control-group">
        <label class="label" for="input-status">Status:</label>
        <nb-select
          [(ngModel)]="promotion.status"
          #status="ngModel"
          id="input-status"
          name="status"
          placeholder="Status"
          fullWidth
          size="large"
          [required]="validation.status.required"
          [status]="validateStatus(status)"
          [attr.aria-invalid]="status.invalid && status.touched ? true : null"
        >
          <nb-option *ngFor="let status of pTypes" [value]="status">
            {{ status }}
          </nb-option>
        </nb-select>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="form-control-group">
        <label class="label" for="input-start">Início da promoção:</label>
        <input
          nbInput
          [(ngModel)]="promotion.start"
          (ngModelChange)="updateTableItems()"
          #start="ngModel"
          id="input-start"
          name="start"
          placeholder="Escolha uma data"
          fullWidth
          fieldSize="large"
          [nbDatepicker]="startDatePicker"
          [required]="validation.start.required"
          [status]="validateStatus(start)"
          [attr.aria-invalid]="start.invalid && start.touched ? true : null"
          [readonly]="true"
        />
        <nb-datepicker #startDatePicker></nb-datepicker>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="form-control-group">
        <label class="label" for="input-end">Fim da promoção:</label>
        <input
          nbInput
          [(ngModel)]="promotion.end"
          (ngModelChange)="updateTableItems()"
          #end="ngModel"
          id="input-end"
          name="end"
          placeholder="Escolha uma data"
          fullWidth
          fieldSize="large"
          [nbDatepicker]="endDatePicker"
          [required]="validation.end.required"
          [status]="validateStatus(end)"
          [attr.aria-invalid]="end.invalid && end.touched ? true : null"
          [readonly]="true"
        />
        <nb-datepicker #endDatePicker [min]="promotion.start"></nb-datepicker>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="form-control-group">
        <label class="label" for="input-created">Data de criação:</label>
        <input
          nbInput
          [(ngModel)]="promotion.created"
          #created="ngModel"
          id="input-created"
          name="created"
          placeholder="Escolha uma data"
          fullWidth
          fieldSize="large"
          [nbDatepicker]="createdDatePicker"
          [required]="validation.created.required"
          [status]="validateStatus(created)"
          [attr.aria-invalid]="created.invalid && created.touched ? true : null"
          [readonly]="true"
        />
        <nb-datepicker #createdDatePicker [max]="today"></nb-datepicker>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="form-control-group">
        <label class="label" for="input-lastUpdate">Última atualização:</label>
        <input
          nbInput
          [(ngModel)]="promotion.lastUpdate"
          #lastUpdate="ngModel"
          id="input-lastUpdate"
          name="lastUpdate"
          placeholder="Escolha uma data"
          fullWidth
          fieldSize="large"
          [nbDatepicker]="lastUpdateDatePicker"
          [required]="validation.lastUpdate.required"
          [status]="validateStatus(lastUpdate)"
          [attr.aria-invalid]="lastUpdate.invalid && lastUpdate.touched ? true : null"
          [readonly]="true"
        />
        <nb-datepicker #lastUpdateDatePicker [max]="today"></nb-datepicker>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <label class="label-divider">Regra da promoção:</label>
    </div>
    <div class="col">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="form-control-group">
        <label class="label" for="input-rule-objetct">Objeto:</label>
        <nb-select
          [(ngModel)]="promotion.rules[0].container"
          (ngModelChange)="loadTableSettings(); updateTableItems()"
          #ruleObject="ngModel"
          id="input-rule-objetct"
          name="ruleObject"
          placeholder="Selecione o objeto"
          fullWidth
          size="large"
          [required]="validation.ruleObject"
          [status]="validateStatus(ruleObject)"
          [attr.aria-invalid]="ruleObject.invalid && ruleObject.touched ? true : null"
        >
          <nb-option *ngFor="let ruleObject of pObjTypes" [value]="ruleObject">
            {{ ruleObject }}
          </nb-option>
        </nb-select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-control-group">
        <label class="label" for="input-rule-operator">Operador:</label>
        <nb-select
          [(ngModel)]="promotion.rules[0].operator"
          (ngModelChange)="updateTableItems()"
          #ruleOperator="ngModel"
          id="input-rule-operator"
          name="ruleOperator"
          placeholder="Selecione a operação"
          fullWidth
          size="large"
          [required]="validation.ruleOperator"
          [status]="validateStatus(ruleOperator)"
          [attr.aria-invalid]="ruleOperator.invalid && ruleOperator.touched ? true : null"
        >
          <nb-option *ngFor="let ruleOperator of pOpTypes" [value]="ruleOperator">
            {{ ruleOperator }}
          </nb-option>
        </nb-select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-control-group">
        <label class="label" for="input-rule-value">Valor:</label>
        <input
          nbInput
          [(ngModel)]="promotion.rules[0].value"
          (ngModelChange)="updateTableItems()"
          #ruleValue="ngModel"
          id="input-rule-value"
          name="ruleValue"
          placeholder="Digite um valor"
          fullWidth
          fieldSize="large"
          [required]="validation.ruleValue"
          [brmasker]="{
            money: true,
            thousand: '.',
            decimalCaracter: ',',
            decimal: 2
          }"
          ngxSelectAllText
          [status]="validateStatus(ruleValue)"
          [attr.aria-invalid]="ruleValue.invalid && ruleValue.touched ? true : null"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <label class="label-divider">Status dos associados:</label>
    </div>
    <div class="col">
      <hr />
    </div>
  </div>
  <nb-smart-table #smartTable *ngIf="!isPhone(); else phone" [settings]="settings" [source]="source"></nb-smart-table>
  <ng-template #phone></ng-template>
</form>
<button
  (click)="registerPromotion()"
  nbButton
  fullWidth
  status="primary"
  size="large"
  [disabled]="form.invalid || !form.dirty"
>
  {{ editing ? 'Atualizar' : 'Cadastrar' }}
</button>
