@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  hr {
    margin-top: nb-theme(text-label-line-height);
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid nb-theme(text-hint-color);
  }

  .label-divider {
    color: nb-theme(text-hint-color);
    font-family: nb-theme(text-label-font-family);
    font-size: nb-theme(text-basic-font-size);
    font-weight: nb-theme(text-label-font-weight);
    line-height: nb-theme(text-label-line-height);
  }
}
