<form (ngSubmit)="updateContract()" #form="ngForm" aria-labelledby="title">
  <fieldset [disabled]="!isEditionGranted">
    <div class="row">
      <div class="col-md-7">
        <div class="form-control-group">
          <label class="label" for="input-author">Gestor:</label>
          <nb-completer
            [(ngModel)]="authorSearch"
            [inputName]="'authorListCompleter'"
            (selected)="invoice.author = $event; invoice.team[0].user = $event"
            #authorList="ngModel"
            id="input-author"
            name="authorList"
            nameProperty="name"
            pictureProperty="profilePicture"
            [data$]="authorData"
            [minSearchLength]="0"
            [placeholder]="'Digite e selecione o nome do colaborador do orçamento'"
            [textNoResults]="'Não foi possível achar um colaborador com o nome digitado'"
            [fullWidth]="true"
            [fieldSize]="'large'"
            [required]="validation.author.required"
            [status]="authorList.dirty && authorSearch ? (authorList.invalid ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="authorList.invalid && authorList.touched ? true : null"
            [disabled]="isInputDisabled$.value"
          ></nb-completer>
        </div>
      </div>
      <div class="col-3 col-md-2">
        <div class="form-control-group">
          <label class="label" for="input-version">Revisão:</label>
          <input
            nbInput
            [(ngModel)]="clonedContract.version"
            #version="ngModel"
            id="input-version"
            name="version"
            placeholder="Revisão"
            fullWidth
            fieldSize="large"
            [required]="validation.version.required"
            [status]="version.dirty ? (version.invalid ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="version.invalid && version.touched ? true : null"
            [readonly]="true"
            [disabled]="!isEditionGranted"
          />
        </div>
      </div>
      <div class="col-9 col-md-3">
        <div class="form-control-group">
          <label class="label" for="input-status">Status:</label>
          <nb-select
            [(ngModel)]="clonedContract.status"
            #status="ngModel"
            id="input-status"
            name="status"
            placeholder="Selecione o status"
            fullWidth
            size="large"
            [required]="validation.status.required"
            [status]="status.dirty ? (status.invalid ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="status.invalid && status.touched ? true : null"
            [disabled]="!isEditionGranted"
          >
            <nb-option *ngFor="let status of STATOOS" [value]="status">
              {{ status }}
            </nb-option>
          </nb-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-control-group">
          <label class="label" for="input-code">Código do orçamento:</label>
          <input
            nbInput
            [(ngModel)]="clonedContract.locals.code"
            #code="ngModel"
            id="input-code"
            name="code"
            placeholder="Código do Orçamento"
            fullWidth
            fieldSize="large"
            [required]="validation.code.required"
            [status]="code.dirty ? (code.invalid ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="code.invalid && code.touched ? true : null"
            [readonly]="true"
          />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-control-group">
          <label class="label" for="input-nortan-team">Time:</label>
          <input
            nbInput
            [ngModel]="
              [invoice.nortanTeam, teamService.idToTeam.bind(teamService), 'abrev'] | transformPipe: idToProperty
            "
            #nortanTeam="ngModel"
            id="input-nortan-team"
            name="nortan-team"
            placeholder="Time"
            fullWidth
            fieldSize="large"
            [required]="validation.nortanTeam.required"
            [status]="nortanTeam.dirty ? (nortanTeam.invalid ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="nortanTeam.invalid && nortanTeam.touched ? true : null"
            [readonly]="true"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-control-group">
          <label class="label" for="input-sector">Setor:</label>
          <input
            nbInput
            [ngModel]="[invoice.sector] | transformPipe: teamService.idToSectorComposedName.bind(teamService)"
            #sector="ngModel"
            id="input-sector"
            name="sector"
            placeholder="Setor"
            fullWidth
            fieldSize="large"
            [required]="validation.sector.required"
            [status]="sector.dirty ? (sector.invalid ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="sector.invalid && sector.touched ? true : null"
            [readonly]="true"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-control-group">
          <label class="label" for="input-contractor">Cliente:</label>
          <input
            nbInput
            [(ngModel)]="clonedContract.locals.contractor"
            #contractor="ngModel"
            id="input-contractor"
            name="contractor"
            placeholder="Nome do cliente"
            fullWidth
            fieldSize="large"
            [nbTooltip]="tooltipText()"
            nbTooltipPlacement="top"
            nbTooltipStatus="primary"
            [required]="validation.contractor.required"
            [status]="contractor.dirty ? (contractor.invalid ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="contractor.invalid && contractor.touched ? true : null"
            [readonly]="true"
          />
          <ng-container *ngIf="contractor.invalid && contractor.touched">
            <p class="caption status-danger" *ngIf="contractor.errors?.required">O nome do cliente é obrigatório!</p>
            <p class="caption status-danger" *ngIf="contractor.errors?.minlength || contractor.errors?.maxlength">
              O nome do cliente deve conter entre
              {{ validation.contractor.minLength }} a {{ validation.contractor.maxLength }} caracteres
            </p>
          </ng-container>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-control-group">
          <label class="label" for="input-administration">Administração do contrato:</label>
          <nb-select
            [ngModel]="invoiceAdministration"
            #administration="ngModel"
            id="input-administration"
            name="administration"
            placeholder="Selecione o tipo de administração"
            fullWidth
            size="large"
            [disabled]="true"
            [status]="administration.dirty ? (administration.invalid ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="administration.invalid && administration.touched ? true : null"
          >
            <nb-option value="nortan">Suporte Empresarial</nb-option>
            <nb-option value="pessoal">Intermediação de Negócios</nb-option>
          </nb-select>
        </div>
      </div>
    </div>

    <div class="form-control-group">
      <label class="label" for="input-description">Empreendimento:</label>
      <input
        nbInput
        [(ngModel)]="clonedContract.locals.description"
        #description="ngModel"
        id="input-description"
        name="description"
        placeholder="Nome do empreendimento"
        fullWidth
        fieldSize="large"
        [required]="validation.description.required"
        [status]="description.dirty ? (description.invalid ? 'danger' : 'success') : 'basic'"
        [attr.aria-invalid]="description.invalid && description.touched ? true : null"
        [readonly]="true"
      />
      <ng-container *ngIf="description.invalid && description.touched">
        <p class="caption status-danger" *ngIf="description.errors?.required">O nome do empreendimento é obrigatório!</p>
        <p class="caption status-danger" *ngIf="description.errors?.minlength || description.errors?.maxlength">
          O nome do empreendimento deve conter entre
          {{ validation.description.minLength }} a {{ validation.description.maxLength }} caracteres
        </p>
      </ng-container>
    </div>
    <div class="row">
      <div class="col-6 col-md-3">
        <div class="form-control-group">
          <label class="label" for="input-value">Valor do contrato:</label>
          <input
            nbInput
            [ngModel]="clonedContract.locals.value"
            #value="ngModel"
            id="input-value"
            name="value"
            placeholder="Valor do contrato"
            fullWidth
            fieldSize="large"
            [readonly]="true"
          />
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="form-control-group">
          <label class="label" for="input-value">Valor de comissão:</label>
          <input
            nbInput
            [ngModel]="comissionSum"
            #comissionValue="ngModel"
            id="comission-value"
            name="comission-value"
            placeholder="Valor de comissão"
            fullWidth
            fieldSize="large"
            [readonly]="true"
          />
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="form-control-group">
          <label class="label" for="input-liquid">
            Valor liquido:
            <nb-icon
              status="info"
              icon="info"
              pack="eva"
              [options]="{ animation: { type: 'pulse' } }"
              nbTooltip="As porcentagens da NF e Empresa são calculadas automaticamente como exibido no balanço. Para alterar a porcentagem da Empresa é necessário criar uma OE com a porcentagem alterada."
              nbTooltipPlacement="top"
              nbTooltipStatus="info"
            ></nb-icon>
          </label>
          <input
            nbInput
            [ngModel]="clonedContract.locals.liquid"
            #liquid="ngModel"
            id="input-liquid"
            name="liquid"
            placeholder="Valor do contrato"
            fullWidth
            fieldSize="large"
            [readonly]="true"
          />
        </div>
      </div>

      <div class="col-6 col-md-2">
        <div class="form-control-group">
          <label class="label" for="input-created">Data de criação:</label>
          <input
            nbInput
            [(ngModel)]="clonedContract.created"
            #created="ngModel"
            id="input-created"
            name="created"
            placeholder="Escolha uma data"
            fullWidth
            fieldSize="large"
            (ngModelChange)="clonedContract.lastUpdate = today"
            [nbDatepicker]="datepicker"
            [required]="validation.created.required"
            [status]="created.dirty ? (created.invalid ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="created.invalid && created.touched ? true : null"
            [readonly]="true"
          />
          <nb-datepicker #datepicker [max]="today"></nb-datepicker>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="form-control-group">
          <label class="label" for="input-updated">Última atualização:</label>
          <input
            nbInput
            [ngModel]="[clonedContract.lastUpdate] | transformPipe: formatDate"
            #updated="ngModel"
            id="input-updated"
            name="updated"
            placeholder="Escolha uma data"
            fullWidth
            fieldSize="large"
            [required]="validation.lastUpdate.required"
            [status]="updated.dirty ? (updated.invalid ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="updated.invalid && updated.touched ? true : null"
            [readonly]="true"
          />
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="form-control-group">
          <label class="label" for="input-user">
            Colaborador:
            <nb-icon
              status="info"
              icon="info"
              pack="eva"
              [options]="{ animation: { type: 'pulse' } }"
              nbTooltip="Adicione as % de recebimento de cada membro do contrato para que a ordem de empenho seja calculada automaticamente."
              nbTooltipPlacement="top"
              nbTooltipStatus="info"
            ></nb-icon>
          </label>
          <nb-completer
            [(ngModel)]="userSearch"
            [inputName]="'userListCompleter'"
            (selected)="onNewMemberSelected($event)"
            #userList="ngModel"
            id="input-user"
            name="userList"
            nameProperty="name"
            pictureProperty="profilePicture"
            [data$]="availableUsers"
            [minSearchLength]="0"
            [placeholder]="'Digite e selecione o nome do colaborador'"
            [textNoResults]="'Não foi possível achar um colaborador com o nome digitado'"
            [fullWidth]="true"
            [fieldSize]="'large'"
            [status]="userList.dirty && userSearch ? (userList.invalid ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="userList.invalid && userList.touched ? true : null"
          ></nb-completer>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="form-control-group">
          <label class="label" for="input-member-sector">Setor:</label>
          <nb-select
            [(ngModel)]="teamMember.sector"
            #memberSector="ngModel"
            id="input-member-sector"
            name="member-sector"
            placeholder="Setor"
            fullWidth
            size="large"
            [status]="memberSector.value ? 'success' : 'basic'"
            [attr.aria-invalid]="memberSector.invalid && memberSector.touched ? true : null"
            [disabled]="!isEditionGranted"
          >
            <nb-option *ngFor="let sector of USER_SECTORS" [value]="sector._id">
              {{ sector.abrev }}
            </nb-option>
          </nb-select>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="form-control-group">
          <label class="label" for="input-gross-value">R$ Bruto:</label>
          <input
            nbInput
            [(ngModel)]="teamMember.locals.grossValue"
            (ngModelChange)="updateNetValue(undefined, 'gross'); updatePercentage()"
            #grossValue="ngModel"
            id="input-grossValue"
            name="grossValue"
            placeholder="Valor bruto"
            fullWidth
            fieldSize="large"
            [brmasker]="{
              money: true,
              thousand: '.',
              decimalCaracter: ',',
              decimal: 2
            }"
            [status]="grossValue.value ? 'success' : 'basic'"
            [attr.aria-invalid]="grossValue.invalid && grossValue.touched ? true : null"
          />
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="form-control-group">
          <label class="label" for="input-net-value">R$ Líquido:</label>
          <input
            nbInput
            [(ngModel)]="teamMember.locals.netValue"
            (ngModelChange)="updateGrossValue(); updatePercentage()"
            #netValue="ngModel"
            id="input-netValue"
            name="netValue"
            placeholder="Valor líquido"
            fullWidth
            fieldSize="large"
            [brmasker]="{
              money: true,
              thousand: '.',
              decimalCaracter: ',',
              decimal: 2
            }"
            ngxSelectAllText
            [status]="netValue.value ? 'success' : 'basic'"
            [attr.aria-invalid]="netValue.invalid && netValue.touched ? true : null"
          />
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="form-control-group">
          <label class="label" for="input-paid">Distribuição:</label>
          <input
            nbInput
            [(ngModel)]="teamMember.distribution"
            (ngModelChange)="updateNetValue(); updateGrossValue()"
            #distribution="ngModel"
            id="input-distribution"
            name="distribution"
            placeholder="Porcentagem distribuida"
            fullWidth
            fieldSize="large"
            [brmasker]="{
              money: true,
              thousand: '.',
              decimalCaracter: ',',
              decimal: 2
            }"
            ngxSelectAllText
            [status]="distribution.value ? 'success' : 'basic'"
            [attr.aria-invalid]="distribution.invalid && distribution.touched ? true : null"
          />
        </div>
      </div>
      <div class="col-12 col-md-1">
        <button
          nbButton
          type="button"
          fullWidth
          status="primary"
          size="large"
          style="margin-top: 28px"
          [disabled]="!memberSector.value || !userList.value || !netValue.value"
          (click)="addColaborator()"
        >
          +
        </button>
      </div>
      <nb-list style="width: 100%; padding: 10px 0">
        <nb-list-item *ngFor="let member of invoice.team; let i = index; trackBy: trackByIndex">
          <div class="row irow">
            <div class="col-12 col-md-3 list-name">
              {{ member.user ? userService.idToShortName(member.user) : '' }}
            </div>
            <div class="col-6 col-md-2">
              <nb-select
                [(ngModel)]="invoice.team[i].sector"
                id="input-memberSector-{{ i }}"
                name="memberSector-{{ i }}"
                placeholder="Setor"
                fullWidth
                [disabled]="!isEditionGranted"
              >
                <nb-option *ngFor="let sector of teamService.userToSectors(invoice.team[i].user)" [value]="sector._id">
                  {{ sector.abrev }} - {{ sector.name }}
                </nb-option>
              </nb-select>
            </div>
            <div class="col-6 col-md-2">
              <input
                nbInput
                [(ngModel)]="invoice.team[i].locals.grossValue"
                (ngModelChange)="updateNetValue(i, 'gross'); updatePercentage(i)"
                id="input-gross-value-{{ i }}"
                name="gross-value-{{ i }}"
                placeholder="Valor bruto"
                fullWidth
                [brmasker]="{
                  money: true,
                  thousand: '.',
                  decimalCaracter: ',',
                  decimal: 2
                }"
                [status]="invoice.team[i].locals.grossValue ? 'basic' : 'danger'"
              />
            </div>
            <div class="col-6 col-md-2">
              <input
                nbInput
                [(ngModel)]="invoice.team[i].locals.netValue"
                (ngModelChange)="updatePercentage(i); updateGrossValue(i)"
                id="input-net-value-{{ i }}"
                name="net-value-{{ i }}"
                placeholder="Valor líquido"
                fullWidth
                [brmasker]="{
                  money: true,
                  thousand: '.',
                  decimalCaracter: ',',
                  decimal: 2
                }"
                ngxSelectAllText
                [status]="invoice.team[i].locals.netValue ? 'basic' : 'danger'"
              />
            </div>
            <div class="col-6 col-md-2" style="display: flex; align-items: center">
              <input
                nbInput
                [(ngModel)]="invoice.team[i].distribution"
                (ngModelChange)="updateNetValue(i); updateGrossValue(i)"
                id="input-distribution-{{ i }}"
                name="distribution-{{ i }}"
                placeholder="Porcentagem distribuida"
                fullWidth
                [brmasker]="{
                  money: true,
                  thousand: '.',
                  decimalCaracter: ',',
                  decimal: 2
                }"
                ngxSelectAllText
                [status]="invoice.team[i].distribution ? 'basic' : 'danger'"
              />
              %
            </div>
            <div class="col-12 col-md-1 list-erase" *ngIf="i != 0 && isEditionGranted && canRemoveMember(i)">
              <nb-icon
                class="xIcon"
                status="basic"
                icon="trash-2-outline"
                pack="eva"
                (click)="invoice.team.splice(i, 1); updateTeamTotal(); memberChanged$.next(true)"
                [options]="{ animation: { type: 'shake' } }"
              ></nb-icon>
            </div>
          </div>
        </nb-list-item>
        <nb-list-item *ngIf="!isPhone()">
          <div class="row irow totalRow">
            <div class="col-2">
              Restante:
              {{
                [clonedContract.locals.liquid, teamTotal.netValue]
                  | transformPipe: stringUtil.subtractMoney.bind(stringUtil)
              }}
            </div>
            <div class="col-3" style="text-align: right">Total:</div>
            <div
              class="col-2"
              [ngClass]="{
                danger: !isGrossValueOK(),
                success: isGrossValueOK()
              }"
            >
              R$ {{ teamTotal.grossValue }}
            </div>
            <div
              class="col-2"
              [ngClass]="{
                danger: !isNetValueOK(),
                success: isNetValueOK()
              }"
            >
              R$ {{ teamTotal.netValue }}
            </div>
            <div
              class="col-2"
              [ngClass]="{
                danger: teamTotal.distribution != '0,00',
                success: teamTotal.distribution == '100,00'
              }"
            >
              {{ teamTotal.distribution }}%
            </div>
            <div class="col-1"></div>
          </div>
        </nb-list-item>
      </nb-list>
      <div class="col-6 col-md-4">
        <div class="form-control-group">
          <label class="label" for="input-balance">Caixa:</label>
          <input
            nbInput
            [(ngModel)]="clonedContract.locals.balance"
            #balance="ngModel"
            id="input-balance"
            name="balance"
            placeholder="Balanço do contrato"
            fullWidth
            fieldSize="large"
            [brmasker]="{
              money: true,
              thousand: '.',
              decimalCaracter: ',',
              decimal: 2
            }"
            ngxSelectAllText
            [required]="validation.balance?.required"
            [status]="balance.invalid || clonedContract.locals.balance[0] == '-' ? 'danger' : 'basic'"
            [attr.aria-invalid]="balance.invalid && balance.touched ? true : null"
            [readonly]="true"
          />
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="form-control-group">
          <label class="label" for="input-paid">Valor pago:</label>
          <input
            nbInput
            [(ngModel)]="options.paid"
            #paid="ngModel"
            id="input-paid"
            name="paid"
            placeholder="Valor pago"
            fullWidth
            fieldSize="large"
            [brmasker]="{
              money: true,
              thousand: '.',
              decimalCaracter: ',',
              decimal: 2
            }"
            ngxSelectAllText
            [required]="validation.paid?.required"
            [status]="paid.dirty ? (paid.invalid ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="paid.invalid && paid.touched ? true : null"
            [readonly]="true"
          />
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="form-control-group">
          <label class="label" for="input-interest">Parcelas criadas:</label>
          <input
            nbInput
            [(ngModel)]="options.interest"
            #interest="ngModel"
            id="input-interest"
            name="interest"
            placeholder="Parcelas pagas"
            fullWidth
            fieldSize="large"
            [required]="validation.interest?.required"
            [minlength]="validation.interest?.minLength"
            [maxlength]="validation.interest?.maxLength"
            [status]="interest.dirty ? (interest.invalid ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="interest.invalid && interest.touched ? true : null"
            [readonly]="true"
          />
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div class="form-control-group">
          <label class="label" for="input-total">Parcelas totais:</label>
          <nb-select
            [(ngModel)]="clonedContract.total"
            #total="ngModel"
            id="input-total"
            name="total"
            placeholder="Total"
            fullWidth
            size="large"
            [required]="validation.total?.required"
            [status]="total.dirty ? (total.invalid ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="total.invalid && total.touched ? true : null"
            [disabled]="!isEditionGranted"
          >
            <nb-option *ngFor="let interest of INTERESTS" [value]="interest">
              {{ interest }}
            </nb-option>
          </nb-select>
        </div>
      </div>
    </div>
    <button nbButton fullWidth status="primary" size="large" [disabled]="!form.valid || !form.dirty || isNotEdited()">
      Atualizar
    </button>
  </fieldset>
</form>
