@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  --radio-height: 14px;
  --radio-width: 14px;
  --radio-text-line-height: 16px;
  --radio-text-font-size: 1em;
  --radio-text-font-weight: nb-theme(text-label-font-weight);
  nb-radio-group {
    display: flex;
  }

  nb-list-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .paymentRow {
    width: 100%;
    margin-left: 0;
  }

  .xIcon:hover {
    color: nb-theme(icon-danger-color) !important;
  }

  .danger {
    color: nb-theme(icon-danger-color) !important;
  }

  .success {
    color: nb-theme(icon-success-color) !important;
  }

  ::ng-deep nb-radio {
    label {
      padding-top: 0.1rem !important;
      padding-bottom: 0.1rem !important;
    }
  }
}
