@import 'app/@theme/styles/themes';

.item {
  width: 250px;
  height: 40px;
  left: -203px;
  transform: translate3d(0, 0, 0);
  transition: transform, opacity ease-out 200ms;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 180ms;
  position: absolute;
  cursor: pointer;
  top: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.item.disabled {
  pointer-events: none;
}
.item.disabled .fab-item {
  background-color: lightgray;
}
.content {
  background: nb-theme(card-background-color);
  margin-right: 50px;
  line-height: 25px;
  color: nb-theme(card-text-color);
  padding: 2px 7px;
  border-radius: 3px;
  display: none;
  font-size: 12px;
  height: 25px;
  margin-top: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.fab-item {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  background: nb-theme(card-background-color);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  position: absolute;
  color: nb-theme(card-text-color);
  text-align: center;
  cursor: pointer;
  line-height: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.fab-item:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
